Set Term = "foot"

include("winops.widget")

function("SfwbarInit") {
  SetLayer "panel", "bottom"
  SetExclusiveZone "panel", "46"
}

layout "panel" {
  button {
    value = "open-menu"
    action = Exec "fuzzel"
    tooltip = "Run"
  }
  button {
    value = "utilities-terminal"
    action = Exec $Term
    tooltip = "Terminal"
  }
  button {
    value = "system-file-manager"
    action = Exec "pcmanfm-qt"
    tooltip = "File Manager"
  }
  taskbar {
    rows = 1
    group = false
    icons = true
    labels = true
    css = "* { -GtkWidget-hexpand: true; }"
    action[RightClick] = Menu "winops"
  }
  tray {
    rows = 1
  }
  grid {
    css = "* { -GtkWidget-direction: bottom; padding: 3px 8px; }"
    label {
      value = Time("%H:%M")
      interval = 1000
    }
    label {
      value = Time("%Y-%m-%d")
      interval = 60000
    }
  }
}

window#panel {
  -GtkWidget-direction: top;
  background-color: #b7b7b7;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #5f5f5f;
  color: #000000;
}

button, label {
  color: #000000;
  font: 12px Sans;
}

button {
  margin: 2px;
  padding: 3px 7px;
  border-radius: 0;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #5f5f5f;
  border-bottom: 2px solid #5f5f5f;
  background-image: none;
  background-color: #c4c4c4;
}
