<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
  <menu id="root-menu" label="NsCDE">
    <item label="Terminal">
      <action name="Execute" command="foot" />
    </item>
    <item label="File Manager">
      <action name="Execute" command="pcmanfm-qt" />
    </item>
    <item label="Run">
      <action name="Execute" command="fuzzel" />
    </item>
    <menu id="display-scale-menu" label="Display Scale">
      <item label="Scale 1.0x">
        <action name="Execute" command="nscde-output-scale 1" />
      </item>
      <item label="Scale 1.5x">
        <action name="Execute" command="nscde-output-scale 1.5" />
      </item>
      <item label="Scale 2.0x">
        <action name="Execute" command="nscde-output-scale 2" />
      </item>
    </menu>
    <separator />
    <item label="Reconfigure">
      <action name="Reconfigure" />
    </item>
    <item label="Exit">
      <action name="Exit" />
    </item>
  </menu>
</openbox_menu>
