Source: nscde
Section: x11
Priority: optional
Maintainer: Hegel3DReloaded <nscde@protonmail.com>
Build-Depends:
 debhelper-compat (= 13),
 gettext,
 ksh93u+m,
 libx11-dev,
 libxext-dev,
 libxpm-dev,
 python3,
 python3-psutil,
 python3-pyqt5,
 python3-xdg,
 python3-yaml
Standards-Version: 4.7.4.1
Rules-Requires-Root: no
Homepage: https://github.com/NsCDE/NsCDE
Vcs-Browser: https://github.com/NsCDE/NsCDE
Vcs-Git: https://github.com/NsCDE/NsCDE.git

Package: nscde
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 fvwm | fvwm3,
 imagemagick,
 ksh93u+m,
 python3,
 python3-psutil,
 python3-pyqt5,
 python3-xdg,
 python3-yaml,
 stalonetray,
 x11-utils,
 x11-xserver-utils,
 xdotool,
 xdg-utils,
 xsettingsd,
 xterm
Recommends:
 dunst,
 fonts-dejavu-core,
 qt5-style-plugins,
 rofi,
 xclip,
 xscreensaver
Suggests:
 gkrellm,
 gkrellm-xkb,
 gkrelltop,
 pcmanfm-qt,
 picom,
 qt5ct,
 qt6ct
Description: Not so Common Desktop Environment
 NsCDE is a retro but powerful UNIX desktop environment which resembles
 CDE look (and partially feel) but with a more powerful and flexible
 framework beneath-the-surface, more suited for 21st century unix-like
 and Linux systems and user requirements than original CDE.
 .
 NsCDE can be considered as a heavyweight FVWM theme on steroids, but
 combined with a couple other free software components and custom FVWM
 applications and a lot of configuration, NsCDE can be considered a
 lightweight hybrid desktop environment.
