#!/usr/bin/make -f

%:
	dh $@

override_dh_fixperms:
	dh_fixperms ; \
	find debian/nscde -name "XOverrideFontCursor.so" -exec chmod 0755 {} \;

override_dh_compress:
	dh_compress -X.pdf -X.txt -XREADME

