[Desktop Entry]
Type=Application
Icon=text-editor.png
Name=Text Editor
Name[hr]=Uređivač Teksta
Comment=Default Text Editor for NsCDE
Comment[hr]=Zadani Uređivač Teksta za NsCDE
Categories=Utility;
Exec=$[infostore.xeditor]
Terminal=false
