[Desktop Entry]
Type=Application
Icon=system-file-manager.png
Name=File Manager
Name[hr]=Upravljač Datoteka
Comment=NsCDE User Configured File Manager
Comment[hr]=NsCDE Korisnički Postavljeni Upravljač Datoteka
Categories=Utility;
Exec=$[infostore.filemgr]
Terminal=false
