[Desktop Entry]
Type=Application
Icon=exec.png
Name=Execute Command
Name[hr]=Izvrši Naredbu
Comment=NsCDE Command Execution Dialog
Comment[hr]=NsCDE Komandno Egzekucijski Dijalog
Categories=System;
Exec=$NSCDE_ROOT/bin/nscde_fvwmclnt 'f_ToggleFvwmFunc ExecDialog Close f_RunQuickScriptDialog ExecDialog'
Terminal=false
OnlyShowIn=NsCDE;
