[Desktop Entry]
Type=Application
Icon=system-file-manager.png
Name=File Manager
Comment=NsCDE User Configured File Manager
Categories=Utility;
Exec=$[infostore.filemgr]
Terminal=false
