[Desktop Entry]
Type=Application
Icon=exec.png
Name=Execute Command
Comment=NsCDE Command Execution Dialog
Categories=System;
Exec=f_ToggleFvwmFunc ExecDialog Close f_RunQuickScriptDialog ExecDialog
Terminal=false
