[Desktop Entry]
Type=Application
Icon=system-workspaces-pages-manager.png
Name=Workspaces and Pages
Name[hr]=Radne Površine i Stranice
Comment=NsCDE FVWM Workspaces and Pages Manager
Comment[hr]=NsCDE FVWM Upravljač Radnih Površina i Stranica
Categories=Categories=Settings;DesktopSettings
Exec=$NSCDE_ROOT/bin/nscde_fvwmclnt 'f_ToggleFvwmModule FvwmScript WsPgMgr $[infostore.desknum] $[infostore.pagematrixX] $[infostore.pagematrixY]'
Terminal=false
OnlyShowIn=NsCDE;
