[Desktop Entry]
Type=Application
Icon=watch-errors.png
Name=NsCDE Log
Comment=NsCDE Log - Watch Errors
Categories=Settings;DesktopSettings;System;
Exec=f_ToggleExecWindow WatchWinMgrErrors UrgencyFunc xterm -title \'Watch Errors\' -name WatchWinMgrErrors -e $[infostore.xlogcmd]
Terminal=false
