[Desktop Entry]
Type=Application
Icon=text-editor.png
Name=Text Editor
Comment=Default Text Editor for NsCDE
Categories=Utility;
Exec=$[infostore.xeditor]
Terminal=false
