[Desktop Entry]
Type=Application
Icon=web-browser
Name=Web Browser
Name[hr]=Mrežni Preglednik
Comment=Default user web browser
Comment[hr]=Zadani korisnikov mrežni preglednik
Categories=Network;WebBrowser;
Exec=$[infostore.browser]
Terminal=false
OnlyShowIn=NsCDE;
