[Desktop Entry]
Type=Application
Icon=gwm.png
Name=GWM
Name[hr]=GWM
Comment=NsCDE Graphical Workspace Manager
Comment[hr]=NsCDE Grafički Upravljač Radnih Površina
Categories=Settings;DesktopSettings
Exec=$NSCDE_ROOT/bin/nscde_fvwmclnt 'f_ToggleFvwmFunc GWM Raise f_GWM'
Terminal=false
OnlyShowIn=NsCDE;
