[Desktop Entry]
Type=Application
Icon=system-workspaces-pages-manager.png
Name=Workspaces and Pages
Comment=NsCDE FVWM Workspaces and Pages Manager
Categories=Categories=Settings;DesktopSettings
Exec=f_ToggleFvwmModule FvwmScript WsPgMgr $[infostore.desknum] $[infostore.pagematrixX] $[infostore.pagematrixY]
Terminal=false
