[Desktop Entry]
Type=Application
Icon=accessories-calculator.png
Name=Calculator
Comment=Default GUI Calculator for NsCDE
Categories=Utility;
Exec=$[infostore.calculator]
Terminal=false
