[Desktop Entry]
Type=Application
Icon=terminal.png
Name=Terminal
Name[hr]=Terminal
Comment=Default Terminal for NsCDE
Comment[hr]=Zadani Terminal za NsCDE
Categories=System;
Exec=$[infostore.terminal]
Terminal=false
