[Desktop Entry]
Type=Application
Icon=watch-errors.png
Name=NsCDE Log
Name[hr]=NsCDE Logovi
Comment=NsCDE Log - Watch Errors
Comment[hr]=NsCDE Logovi - Promatranje Grešaka
Categories=Settings;DesktopSettings;System;
Exec=$NSCDE_ROOT/bin/nscde_fvwmclnt 'f_ToggleExecWindow WatchWinMgrErrors UrgencyFunc xterm -title \"Watch Errors\" -name WatchWinMgrErrors -e $[infostore.xlogcmd]'
Terminal=false
OnlyShowIn=NsCDE;
