[Desktop Entry]
Type=Application
Icon=terminal.png
Name=Terminal
Comment=Default Terminal for NsCDE
Categories=System;
Exec=$[infostore.terminal]
Terminal=false
