[Desktop Entry]
Type=Application
Icon=fvwm-console.png
Name=Fvwm Diagnostic Console
Name[hr]=Fvwm Dijagnostička Konzola
Comment=Fvwm Diagnostic Console
Comment[hr]=Fvwm Dijagnostička Konzola
Categories=Settings;DesktopSettings;System;
Exec=$NSCDE_ROOT/bin/nscde_fvwmclnt 'f_ToggleFvwmModule FvwmConsole -title \"Fvwm Diagnostic Console\" -geometry 92x22'
Terminal=false
OnlyShowIn=NsCDE;
