[Desktop Entry]
Type=Application
Icon=utilities-system-monitor.png
Name=NsCDE Process Manager
Name[hr]=NsCDE Upravljač Procesa
Comment=NsCDE Process Manager manages NsCDE FVWM and other processes and configurations
Comment[hr]=NsCDE Upravljač Procesa upravlja NsCDE FVWM i drugim procesima i konfiguracijama
Categories=Settings;DesktopSettings
Exec=$NSCDE_ROOT/bin/nscde_fvwmclnt 'f_ToggleFvwmModule FvwmScript NProcMgr $[infostore.nprocmgr.actionval] $[infostore.nprocmgr.confval]'
Terminal=false
OnlyShowIn=NsCDE;
