[Desktop Entry]
Type=Application
Icon=multimedia-volume-control.png
Name=Volume Control
Name[hr]=Kontrola Zvuka
Comment=Adjust the volume control
Comment[hr]=Podesite postavke zvuka
Categories=AudioVideo;Audio;Mixer
Exec=$[infostore.volumectrl]
Terminal=false
