[Desktop Entry]
Type=Application
Icon=style.png
Name=Style Manager
Comment=NsCDE Style Manager Main Panel
Categories=Settings;DesktopSettings
Exec=f_ToggleFvwmModule FvwmScript StyleMgr
Terminal=false
