[Desktop Entry]
Type=Application
Icon=system-info.png
Name=Workstation Information
Comment=Workstation Operating System and Desktop Information Dialog
Categories=System;
Exec=f_ToggleFvwmModule FvwmScript Sysinfo
Terminal=false
