!
! This file is a part of the NsCDE - Not so Common Desktop Environment
! Author: Hegel3DReloaded
! Licence: GPLv3
!

bitmap.geometry: 800x840
bitmap*filename: newicon.xbm
bitmap*size: 32x32
bitmap*font: -*-lucida-medium-r-normal-*-14-*-*-*-*-*-*
bitmap.Paned.formy.Background: NSCDE_BG_COLOR_6
bitmap.Paned.formy.Foreground: NSCDE_FG_COLOR_6
bitmap*Paned.formy*borderColor: NSCDE_BS_COLOR_6
bitmap.Paned.formy.fileButton.Background: NSCDE_BG_COLOR_6
bitmap.Paned.formy.fileButton.Foreground: NSCDE_FG_COLOR_6
bitmap.Paned.formy.fileMenu.Background: NSCDE_BG_COLOR_6
bitmap.Paned.formy.fileMenu.Foreground: NSCDE_FG_COLOR_6
bitmap.Paned.formy.editButton.Background: NSCDE_BG_COLOR_6
bitmap.Paned.formy.editButton.Foreground: NSCDE_FG_COLOR_6
bitmap.Paned.formy.editMenu.Background: NSCDE_BG_COLOR_6
bitmap.Paned.formy.editMenu.Foreground: NSCDE_FG_COLOR_6
bitmap.Paned.formy.status.Background: NSCDE_BG_COLOR_6
bitmap.Paned.formy.status.Foreground: NSCDE_FG_COLOR_6
bitmap.Paned.pane*Background: NSCDE_BG_COLOR_5
bitmap.Paned.pane*Foreground: NSCDE_FG_COLOR_5
bitmap.parent.pane.bitmap.Background: #ffffff
bitmap.parent.pane.bitmap.Foreground: #000000
bitmap*frame: gray25
bitmap*shapeStyle: rectangle
bitmap*form*height: 20
bitmap*TransientShell*dialog.Background: NSCDE_BG_COLOR_6
bitmap*TransientShell*dialog.Foreground: NSCDE_FG_COLOR_6
bitmap*TransientShell*dialog.icon.Background: NSCDE_BG_COLOR_6
bitmap*TransientShell*dialog.icon.Foreground: NSCDE_FG_COLOR_6
bitmap*TransientShell*dialog.label.Background: NSCDE_BG_COLOR_6
bitmap*TransientShell*dialog.label.Foreground: NSCDE_FG_COLOR_6
bitmap*TransientShell*dialog.Command.Background: NSCDE_BG_COLOR_6
bitmap*TransientShell*dialog.Command.Foreground: NSCDE_FG_COLOR_6
