!
! This file is a part of the NsCDE - Not so Common Desktop Environment
! Author: Hegel3DReloaded
! Licence: GPLv3
!

Editres.Geometry:	456x531-86-10
Editres*font: -*-lucida-medium-r-normal-*-12-*-*-*-*-*-*
Editres.paned.porthole.background: NSCDE_BG_COLOR_4
Editres*box*background: NSCDE_BG_COLOR_2
Editres*background: NSCDE_BG_COLOR_2
Editres.paned.porthole.tree.background: NSCDE_BG_COLOR_4
Editres.paned.hPane.xt.shadowWidth: 2
Editres.paned.hPane.xt.topShadowContrast: 18
Editres.paned.hPane.panner.background: NSCDE_BG_COLOR_2
Editres.paned.hPane.panner.foreground: NSCDE_FG_COLOR_2
Editres.paned.hPane.panner.shadowColor: NSCDE_FG_COLOR_2
Editres.paned.hPane.xt.background: NSCDE_BS_COLOR_2
Editres.paned.hPane.xt.foreground: NSCDE_FG_COLOR_2
Editres.paned.hPane.xt.font: -*-lucida-medium-r-normal-*-12-*-*-*-*-*-*
Editres.paned.box.background: NSCDE_BG_COLOR_6
Editres.paned.box.foreground: NSCDE_BG_COLOR_6
Editres.paned.box.commands*background: NSCDE_BG_COLOR_6
Editres.paned.box.commands*foreground: NSCDE_FG_COLOR_6
Editres.paned.box.treeCommands*background: NSCDE_BG_COLOR_6
Editres.paned.box.treeCommands*foreground: NSCDE_FG_COLOR_6
Editres.paned.box.commands*borderColor: NSCDE_BS_COLOR_6
Editres.paned.box.treeCommands*borderColor: NSCDE_BS_COLOR_6
Editres*SimpleMenu*borderWidth: 2
Editres*SimpleMenu*shadowWidth: 2
Editres*SimpleMenu*topShadowContrast: 18
Editres*SimpleMenu*borderColor: NSCDE_BS_COLOR_2
Editres.paned.hPane.panner.shadowThickness: 2
Editres*namesList.background: NSCDE_BG_COLOR_4
Editres*namesLabel.background: NSCDE_BS_COLOR_2
Editres*namesLabel.foreground: NSCDE_FG_COLOR_2
Editres*namesLabel.shadowWidth: 2
Editres*namesLabel.topShadowContrast: 48
Editres*valueText.background: NSCDE_BG_COLOR_4
Editres*commandBox.background: NSCDE_BS_COLOR_2
Editres*namesAndClasses.background: NSCDE_BG_COLOR_4
Editres*resourceLabel.background: NSCDE_BS_COLOR_2
Editres*resourceLabel.foreground: NSCDE_FG_COLOR_2
Editres*resourceLabel.shadowWidth: 2
Editres*grip*shadowWidth: 3
Editres*valueForm.valueLabel.background: NSCDE_BS_COLOR_2
Editres*valueForm.valueLabel.foreground: NSCDE_FG_COLOR_2
Editres*valueForm.valueLabel.shadowWidth: 2
Editres.xt*geometry: 749x549-18+9
Editres*resourceLabel.allowResize: False
Editres*allowShellResize: False

