GV.minimumWidth:        796
GV.minimumHeight:       570
GV.printCommand:        lp
GV.scale:		0
GV.scaleBase:		1
GV.fallbackOrientation: Portrait
GV.orientation:		Automatic
GV.fallbackPageMedia:   A4
GV.pageMedia:		Automatic
GV.swapLandscape:       False
GV.autoResize:		True
GV.antialias:		True
GV.watchFile:		False
GV.ignoreEOF:		True
GV.respectDSC:		True
GV.scale:               0
GV.scaleBase:           1
GV.gsQuiet:		True
GV.gsSafer:		True
GV.gsArguments:		
GV.gsX11AlphaDevice:    -sPAPERSIZE=a4 -dNOPLATFONTS -sDEVICE=x11alpha
GV.gsX11Device:		-sDEVICE=x11
GV.gsCmdScanPDF:	gs -dNODISPLAY -dQUIET -sPDFname=%s -sDSCname=%s pdf2dsc.ps -c quit
GV.gsInterpreter:       gs
GV.uncompressCommand:   gunzip -c %s > %s
GV.version:		gv 3.7.4

GV*Ghostview.background: #ff00f700e900
GV.control.background: NSCDE_BG_COLOR_5
GV.control.foreground: NSCDE_FG_COLOR_5

GV*background:                          NSCDE_BG_COLOR_5
GV*foreground:                          NSCDE_FG_COLOR_5
GV*infoPopup*Scrollbar.background:      NSCDE_SEL_COLOR_5
GV*infoPopup*Scrollbar.foreground:      NSCDE_BG_COLOR_5
GV*confirmPopup*message1.background:    NSCDE_BG_COLOR_5
GV*confirmPopup*message1.foreground:    NSCDE_FG_COLOR_5

GV*optionsetupPopup*Text*Scrollbar.background: NSCDE_SEL_COLOR_6
GV*optionsetupPopup*Text*Scrollbar.foreground: NSCDE_BG_COLOR_6
GV*optionsetupPopup*Text*Scrollbar.topShadowPixel: NSCDE_TS_COLOR_6
GV*optionsetupPopup*Text*Scrollbar.bottomShadowPixel: NSCDE_BS_COLOR_6
GV*optionsetupPopup.optionControl.background: NSCDE_BG_COLOR_6
GV*optionsetupPopup.optionControl.foreground: NSCDE_FG_COLOR_6
GV*optionsetupPopup.optionControl*Label.background: NSCDE_BG_COLOR_6
GV*optionsetupPopup.optionControl*Label.foreground: NSCDE_FG_COLOR_6
GV*optionsetupPopup.optionControl.Switch.background: NSCDE_BG_COLOR_6
GV*optionsetupPopup.optionControl.Switch.foreground: NSCDE_FG_COLOR_6
GV*optionsetupPopup.optionControl.confirmPrint.background: NSCDE_BG_COLOR_6
GV*optionsetupPopup.optionControl.confirmPrint.foreground: NSCDE_FG_COLOR_6
GV*optionsetupPopup.optionControl*Text.background: NSCDE_BG_COLOR_4
GV*optionsetupPopup.optionControl*Text.foreground: NSCDE_FG_COLOR_4
GV*optionsetupPopup.optionControl.Frame.Text.textSource.background: NSCDE_BG_COLOR_4
GV*optionsetupPopup.optionControl.Frame.Text.textSource.foreground: NSCDE_FG_COLOR_4
GV*optionsetupPopup.optionControl.Frame.Text.textSink.background: NSCDE_BG_COLOR_4
GV*optionsetupPopup.optionControl.Frame.Text.textSink.foreground: NSCDE_FG_COLOR_4

GV*TransientShell*Text*Scrollbar.background: NSCDE_SEL_COLOR_6
GV*TransientShell*Text*Scrollbar.foreground: NSCDE_BG_COLOR_6
GV*TransientShell*Text*Scrollbar.topShadowPixel: NSCDE_TS_COLOR_6
GV*TransientShell*Text*Scrollbar.bottomShadowPixel: NSCDE_BS_COLOR_6
GV*TransientShell.optionControl.background: NSCDE_BG_COLOR_6
GV*TransientShell.optionControl.foreground: NSCDE_FG_COLOR_6
GV*TransientShell.optionControl*Label.background: NSCDE_BG_COLOR_6
GV*TransientShell.optionControl*Label.foreground: NSCDE_FG_COLOR_6
GV*TransientShell.optionControl.Switch.background: NSCDE_BG_COLOR_6
GV*TransientShell.optionControl.Switch.foreground: NSCDE_FG_COLOR_6
GV*TransientShell.optionControl*Text.background: NSCDE_BG_COLOR_4
GV*TransientShell.optionControl*Text.foreground: NSCDE_FG_COLOR_4
GV*TransientShell.optionControl.Frame.Text.textSource.background: NSCDE_BG_COLOR_4
GV*TransientShell.optionControl.Frame.Text.textSource.foreground: NSCDE_FG_COLOR_4
GV*TransientShell.optionControl.Frame.Text.textSink.background: NSCDE_BG_COLOR_4
GV*TransientShell.optionControl.Frame.Text.textSink.foreground: NSCDE_FG_COLOR_4

GV.dialogPopup*Text*Scrollbar.background: NSCDE_SEL_COLOR_6
GV.dialogPopup*Text*Scrollbar.foreground: NSCDE_BG_COLOR_6
GV.dialogPopup*Text*Scrollbar.topShadowPixel: NSCDE_TS_COLOR_6
GV.dialogPopup*Text*Scrollbar.bottomShadowPixel: NSCDE_BS_COLOR_6
GV.dialogPopup*background: NSCDE_BG_COLOR_6
GV.dialogPopup*foreground: NSCDE_FG_COLOR_6
GV.dialogPopup.optionControl*Label.background: NSCDE_BG_COLOR_6
GV.dialogPopup.optionControl*Label.foreground: NSCDE_FG_COLOR_6
GV.dialogPopup*Switch.background: NSCDE_BG_COLOR_6
GV.dialogPopup*Switch.foreground: NSCDE_FG_COLOR_6
GV.dialogPopup*confirmPrint.background: NSCDE_BG_COLOR_6
GV.dialogPopup*confirmPrint.foreground: NSCDE_FG_COLOR_6
GV.dialogPopup*Text.background: NSCDE_BG_COLOR_4
GV.dialogPopup*Text.foreground: NSCDE_FG_COLOR_4
GV.dialogPopup*Frame.Text.textSource.background: NSCDE_BG_COLOR_4
GV.dialogPopup*Frame.Text.textSource.foreground: NSCDE_FG_COLOR_4
GV.dialogPopup*Frame.Text.textSink.background: NSCDE_BG_COLOR_4
GV.dialogPopup*Frame.Text.textSink.foreground: NSCDE_FG_COLOR_4

GV*optionfsPopup*Text*Scrollbar.background: NSCDE_SEL_COLOR_5
GV*optionfsPopup*Text*Scrollbar.foreground: NSCDE_BG_COLOR_5

GV*optionfsPopup*Label.background:      NSCDE_BG_COLOR_6
GV*optionfsPopup*Label.foreground:      NSCDE_FG_COLOR_6
GV*optiongsPopup*Label.background:      NSCDE_BG_COLOR_6
GV*optiongsPopup*Label.foreground:      NSCDE_FG_COLOR_6
GV*optiongvPopup*Label.background:      NSCDE_BG_COLOR_6
GV*optiongvPopup*Label.foreground:      NSCDE_FG_COLOR_6

GV*optionsetupPopup*Label.background:   NSCDE_BG_COLOR_5
GV*viewClip.borderColor:                NSCDE_BG_COLOR_5

GV*Button.background:                   NSCDE_BG_COLOR_6
GV*Button.highlightedBackground:        NSCDE_BG_COLOR_6
GV*Button.setBackground:                NSCDE_BG_COLOR_6
GV.?.Button.highlightedBackground:      NSCDE_BG_COLOR_6
GV.?.Button.background:                 NSCDE_BG_COLOR_6
GV.?.Button.setBackground:              NSCDE_BG_COLOR_6
GV*MButton*setBackground:               NSCDE_BG_COLOR_6
GV*MButton*background:                  NSCDE_BG_COLOR_6

GV*Button.foreground:                   NSCDE_FG_COLOR_6
GV*Button.highlightedForeground:        NSCDE_FG_COLOR_6
GV*Button.setForeground:                NSCDE_FG_COLOR_6
GV.?.Button.highlightedForeground:      NSCDE_FG_COLOR_6
GV.?.Button.foreground:                 NSCDE_FG_COLOR_6
GV.?.Button.setForeground:              NSCDE_FG_COLOR_6
GV*MButton*setForeground:               NSCDE_FG_COLOR_6
GV*MButton*foreground:                  NSCDE_FG_COLOR_6

GV*Switch.background:                   NSCDE_BG_COLOR_6
GV*Switch.highlightedBackground:        NSCDE_BG_COLOR_5
GV*Switch.setBackground:                NSCDE_BG_COLOR_5

GV*Text*background:                     NSCDE_BG_COLOR_6
GV*notePopup*message.background:        NSCDE_BG_COLOR_6
GV*confirmPopup*message3.background:    NSCDE_BG_COLOR_6

GV*fileSel*background:                  NSCDE_BG_COLOR_6
GV*fileSel*foreground:                  NSCDE_FG_COLOR_6
GV*fileSel*bottomShadowPixel:           NSCDE_BS_COLOR_6
GV*fileSel*topShadowPixel:              NSCDE_TS_COLOR_6
GV*fileSel.filterframe.background:      NSCDE_BG_COLOR_4
GV*fileSel.filterframe.foreground:      NSCDE_FG_COLOR_4
GV*fileSel.pathframe.foreground:        NSCDE_FG_COLOR_4
GV*fileSel.pathframe.background:        NSCDE_BG_COLOR_4
GV*fileSel.highlightPixel:              NSCDE_SEL_COLOR_4
GV*fileSel*Frame*Text*background:       NSCDE_BG_COLOR_4
GV*fileSel*Frame*foreground:            NSCDE_FG_COLOR_4
GV*fileSel*Frame*background:            NSCDE_BG_COLOR_4
GV*fileSel*Scrollbar.background:        NSCDE_SEL_COLOR_6
GV*fileSel*Scrollbar.foreground:        NSCDE_BG_COLOR_6
GV*fileSel*Scrollbar.topShadowPixel:    NSCDE_TS_COLOR_6
GV*fileSel*Scrollbar.bottomShadowPixel: NSCDE_BS_COLOR_6

GV*Scrollbar.background:                NSCDE_SEL_COLOR_5
GV*Scrollbar.foreground:                NSCDE_BG_COLOR_5
GV*Scrollbar.bottomShadowPixel:         NSCDE_BS_COLOR_5
GV*Scrollbar.topShadowPixel:            NSCDE_TS_COLOR_5
GV*Scrollbar.scrollbarBackground:       NSCDE_BG_COLOR_5

GV*newtocFrame*background:              NSCDE_SEL_COLOR_5
GV*newtocFrame*foreground:              NSCDE_FG_COLOR_5
GV*control.newtocScroll.background:     NSCDE_SEL_COLOR_5
GV*control.newtocScroll.foreground:     NSCDE_BG_COLOR_5
GV*control.newtocFrame.newtoClip.newtoControl.background:    NSCDE_SEL_COLOR_5
GV*control.newtocFrame.newtoClip.newtoControl.foreground:    NSCDE_BG_COLOR_5

! GV*newtocScroll.background:             NSCDE_SEL_COLOR_4
! GV*newtocScroll.foreground:             NSCDE_BG_COLOR_4
! GV*newtocScroll.bottomShadowPixel:      NSCDE_BS_COLOR_4
! GV*newtocScroll.topShadowPixel:         NSCDE_BS_COLOR_4

GV*viewFrame.topShadowPixel:            NSCDE_TS_COLOR_5
GV*viewFrame.bottomShadowPixel:         NSCDE_BS_COLOR_5
GV*viewFrame.background:                NSCDE_BG_COLOR_5
GV*viewFrame.foreground:                NSCDE_FG_COLOR_5

GV.control.pannerFrame.panner.slider.background: NSCDE_BG_COLOR_7
GV.control.pannerFrame.panner.slider.foreground: NSCDE_FG_COLOR_7
GV.control.pannerFrame.panner.slider.topShadowPixel: NSCDE_TS_COLOR_7
GV.control.pannerFrame.panner.slider.bottomShadowPixel: NSCDE_BS_COLOR_7
GV.control.pannerFrame.panner.background: NSCDE_SEL_COLOR_5
GV*pannerFrame.bottomShadowPixel:       NSCDE_BS_COLOR_4
GV*pannerFrame.topShadowPixel:          NSCDE_TS_COLOR_4

GV*slider.topShadowPixel:               NSCDE_TS_COLOR_4
GV*slider.bottomShadowPixel:            NSCDE_BS_COLOR_4

GV*Frame.bottomShadowPixel:             NSCDE_BS_COLOR_4

GV*page.borderColor:                    NSCDE_BG_COLOR_5
GV*locator*background:                  NSCDE_BG_COLOR_6
GV*locator*foreground:                  NSCDE_FG_COLOR_6
GV*locator*bottomShadowPixel:           NSCDE_BS_COLOR_4
GV*locator*topShadowPixel:              NSCDE_TS_COLOR_4
GV*Vlist.highlightedBackground:         NSCDE_SEL_COLOR_5
GV*Vlist.selectedBackground:            NSCDE_SEL_COLOR_7

GV*Label.background:                    NSCDE_BG_COLOR_6
GV*Label.foreground:                    NSCDE_FG_COLOR_6
GV.versionPopup.versionControl.Label.background:                    NSCDE_BG_COLOR_5
GV.versionPopup.versionControl.Label.foreground:                    NSCDE_FG_COLOR_5
