!
! This file is a part of the NsCDE - Not so Common Desktop Environment
! Author: Hegel3DReloaded
! Licence: GPLv3
!

URxvt*geometry: 86x26
URxvt*background: NSCDE_BG_COLOR_4
URxvt*foreground: NSCDE_FG_COLOR_4
URxvt*highlightColor: NSCDE_FG_COLOR_4
URxvt*highlightTextColor: NSCDE_BG_COLOR_4
URxvt*scrollColor: NSCDE_BG_COLOR_5
URxvt*troughColor: NSCDE_SEL_COLOR_5
URxvt*borderColor: NSCDE_BG_COLOR_5
URxvt*thickness: 12
URxvt*scrollBar_right: True
URxvt*urgentOnBell: True
URxvt*visualBell: False
URxvt*multiClickTime: 750
URxvt*scrollstyle: rxvt
URxvt*scrollBar_align: centre
URxvt*scrollWithBuffer: False
URxvt*saveLines: 32000
URxvt*internalBorder: 3
URxvt*externalBorder: 1
URxvt*modifier: mod4
URxvt*font: xft:DejaVu Sans Mono:style=Book:pixelsize=14,\
            xft:DejaVu Sans Mono:style=Book:pixelsize=16,\
            xft:DejaVu Sans Mono:style=Book:pixelsize=18,\
            xft:DejaVu Sans Mono:style=Book:pixelsize=20,\
            xft:DejaVu Sans Mono:style=Book:pixelsize=12,\
            xft:DejaVu Sans Mono:style=Book:pixelsize=10,\
            xft:DejaVu Sans Mono:style=Book:pixelsize=9
URxvt*boldFont: xft:DejaVu Sans Mono:style=Bold:pixelsize=14,\
                xft:DejaVu Sans Mono:style=Bold:pixelsize=16,\
                xft:DejaVu Sans Mono:style=Bold:pixelsize=18,\
                xft:DejaVu Sans Mono:style=Bold:pixelsize=20,\
                xft:DejaVu Sans Mono:style=Bold:pixelsize=12,\
                xft:DejaVu Sans Mono:style=Bold:pixelsize=10,\
                xft:DejaVu Sans Mono:style=Bold:pixelsize=9
URxvt*italicFont: xft:DejaVu Sans Mono:style=Oblique:pixelsize=14,\
                  xft:DejaVu Sans Mono:style=Oblique:pixelsize=16,\
                  xft:DejaVu Sans Mono:style=Oblique:pixelsize=18,\
                  xft:DejaVu Sans Mono:style=Oblique:pixelsize=20,\
                  xft:DejaVu Sans Mono:style=Oblique:pixelsize=12,\
                  xft:DejaVu Sans Mono:style=Oblique:pixelsize=10,\
                  xft:DejaVu Sans Mono:style=Oblique:pixelsize=9
URxvt*boldItalicFont: xft:DejaVu Sans Mono:style=Bold Oblique:pixelsize=14,\
                      xft:DejaVu Sans Mono:style=Bold Oblique:pixelsize=16,\
                      xft:DejaVu Sans Mono:style=Bold Oblique:pixelsize=18,\
                      xft:DejaVu Sans Mono:style=Bold Oblique:pixelsize=20,\
                      xft:DejaVu Sans Mono:style=Bold Oblique:pixelsize=12,\
                      xft:DejaVu Sans Mono:style=Bold Oblique:pixelsize=10,\
                      xft:DejaVu Sans Mono:style=Bold Oblique:pixelsize=9
