!
! This file is a part of the NsCDE - Not so Common Desktop Environment
! Author: Hegel3DReloaded
! Licence: GPLv3
!

! ==================================================================
! XCalc
! ==================================================================

XCalc*background: NSCDE_BG_COLOR_5
XCalc.ti.bevel.background: NSCDE_BG_COLOR_5
XCalc.ti.bevel.borderColor: NSCDE_BG_COLOR_5
XCalc.ti.bevel.screen*background: NSCDE_BG_COLOR_7
XCalc.ti.bevel.screen*foreground: NSCDE_FG_COLOR_7
XCalc.ti.bevel.screen.Label.font: -*-lucida-medium-r-normal-*-12-*-*-*-*-*-*-*
XCalc.ti.bevel.screen.LCD.font: -*-lucidatypewriter-bold-r-normal-*-16-*-*-*-*-*-*-*
XCalc.ti.bevel.screen.LCD.shadowWidth: 1
XCalc.ti.bevel.screen.LCD.topShadowContrast: -25
XCalc.ti.bevel.screen.LCD.bottomShadowContrast: -25
XCalc.ti.Command.font: -*-lucida-medium-r-normal-*-14-*-*-*-*-*-*-*
XCalc.ti.button1*background: NSCDE_BG_COLOR_7
XCalc.ti.button2*background: NSCDE_BG_COLOR_7
XCalc.ti.button3*background: NSCDE_BG_COLOR_7
XCalc.ti.button4*background: NSCDE_BG_COLOR_1
XCalc.ti.button5*background: NSCDE_BG_COLOR_1
XCalc.ti.button6*background: NSCDE_BG_COLOR_8
XCalc.ti.button6*foreground: NSCDE_FG_COLOR_8
XCalc.ti.button7*background: NSCDE_BG_COLOR_8
XCalc.ti.button7*foreground: NSCDE_FG_COLOR_8
XCalc.ti.button8*background: NSCDE_BG_COLOR_8
XCalc.ti.button8*foreground: NSCDE_FG_COLOR_8
XCalc.ti.button9*background: NSCDE_BG_COLOR_8
XCalc.ti.button9*foreground: NSCDE_FG_COLOR_8
XCalc.ti.button10*background: NSCDE_BG_COLOR_6
XCalc.ti.button10*foreground: NSCDE_FG_COLOR_6
XCalc.ti.button11*background: NSCDE_BG_COLOR_6
XCalc.ti.button11*foreground: NSCDE_FG_COLOR_6
XCalc.ti.button12*background: NSCDE_BG_COLOR_6
XCalc.ti.button12*foreground: NSCDE_FG_COLOR_6
XCalc.ti.button13*background: NSCDE_BG_COLOR_8
XCalc.ti.button13*foreground: NSCDE_FG_COLOR_8
XCalc.ti.button14*background: NSCDE_BG_COLOR_8
XCalc.ti.button14*foreground: NSCDE_FG_COLOR_8
XCalc.ti.button15*background: NSCDE_BG_COLOR_8
XCalc.ti.button15*foreground: NSCDE_FG_COLOR_8
XCalc.ti.button16*background: NSCDE_BG_COLOR_6
XCalc.ti.button16*foreground: NSCDE_FG_COLOR_6
XCalc.ti.button17*background: NSCDE_BG_COLOR_6
XCalc.ti.button17*foreground: NSCDE_FG_COLOR_6
XCalc.ti.button18*background: NSCDE_BG_COLOR_6
XCalc.ti.button18*foreground: NSCDE_FG_COLOR_6
XCalc.ti.button19*background: NSCDE_BG_COLOR_6
XCalc.ti.button19*foreground: NSCDE_FG_COLOR_6
XCalc.ti.button20*background: NSCDE_BG_COLOR_6
XCalc.ti.button20*foreground: NSCDE_FG_COLOR_6
XCalc.ti.button21*background: NSCDE_BG_COLOR_6
XCalc.ti.button21*foreground: NSCDE_FG_COLOR_6
XCalc.ti.button22*background: NSCDE_BG_COLOR_8
XCalc.ti.button22*foreground: NSCDE_FG_COLOR_8
XCalc.ti.button23*background: NSCDE_BG_COLOR_7
XCalc.ti.button24*background: NSCDE_BG_COLOR_7
XCalc.ti.button25*background: NSCDE_BG_COLOR_6
XCalc.ti.button25*foreground: NSCDE_FG_COLOR_6
XCalc.ti.button26*background: NSCDE_BG_COLOR_6
XCalc.ti.button26*foreground: NSCDE_FG_COLOR_6
XCalc.ti.button27*background: NSCDE_BG_COLOR_3
XCalc.ti.button28*background: NSCDE_BG_COLOR_3
XCalc.ti.button29*background: NSCDE_BG_COLOR_3
XCalc.ti.button30*background: NSCDE_BG_COLOR_6
XCalc.ti.button30*foreground: NSCDE_FG_COLOR_6
XCalc.ti.button31*background: NSCDE_BG_COLOR_6
XCalc.ti.button31*foreground: NSCDE_FG_COLOR_6
XCalc.ti.button32*background: NSCDE_BG_COLOR_3
XCalc.ti.button33*background: NSCDE_BG_COLOR_3
XCalc.ti.button34*background: NSCDE_BG_COLOR_3
XCalc.ti.button35*background: NSCDE_BG_COLOR_7
XCalc.ti.button36*background: NSCDE_BG_COLOR_6
XCalc.ti.button36*foreground: NSCDE_FG_COLOR_6
XCalc.ti.button37*background: NSCDE_BG_COLOR_3
XCalc.ti.button38*background: NSCDE_BG_COLOR_3
XCalc.ti.button39*background: NSCDE_BG_COLOR_3
XCalc.ti.button40*background: NSCDE_BG_COLOR_7
XCalc.ti.button41*background: NSCDE_BG_COLOR_6
XCalc.ti.button41*foreground: NSCDE_FG_COLOR_6
XCalc.ti.button42*background: NSCDE_BG_COLOR_3
XCalc.ti.button43*background: NSCDE_BG_COLOR_3
XCalc.ti.button44*background: NSCDE_BG_COLOR_3
XCalc.ti.button45*background: NSCDE_BG_COLOR_7
XCalc.ti.button46*background: NSCDE_BG_COLOR_6
XCalc.ti.button46*foreground: NSCDE_FG_COLOR_6
XCalc.ti.button47*background: NSCDE_BG_COLOR_3
XCalc.ti.button48*background: NSCDE_BG_COLOR_3
XCalc.ti.button49*background: NSCDE_BG_COLOR_3
XCalc.ti.button50*background: NSCDE_BG_COLOR_7
XCalc.ti.button51*background: NSCDE_BG_COLOR_6
XCalc.ti.button51*foreground: NSCDE_FG_COLOR_6
XCalc.ti.button52*background: NSCDE_BG_COLOR_3
XCalc.ti.button53*background: NSCDE_BG_COLOR_3
XCalc.ti.button54*background: NSCDE_BG_COLOR_6
XCalc.ti.button54*foreground: NSCDE_FG_COLOR_6
XCalc.ti.button55*background: NSCDE_BG_COLOR_7

