!
! This file is a part of the NsCDE - Not so Common Desktop Environment
! Author: Hegel3DReloaded
! Licence: GPLv3
!

! ==================================================================
! Xedit
! ==================================================================

Xedit*background: NSCDE_BG_COLOR_4
Xedit*foreground: NSCDE_FG_COLOR_4
Xedit*cursorColor: NSCDE_FG_COLOR_4
Xedit*buttons*Command*background: NSCDE_BG_COLOR_6
Xedit*buttons*Command*foreground: NSCDE_FG_COLOR_6
Xedit*buttons*Command*borderColor: NSCDE_BS_COLOR_6
Xedit*Label*background: NSCDE_BG_COLOR_5
Xedit*Label*foreground: NSCDE_FG_COLOR_5
Xedit*grip.foreground: NSCDE_TS_COLOR_5
Xedit*Scrollbar.background: NSCDE_SEL_COLOR_5
Xedit*Scrollbar.foreground: NSCDE_TS_COLOR_5
Xedit*SimpleMenu*background: NSCDE_BG_COLOR_6
Xedit*SimpleMenu*foreground: NSCDE_FG_COLOR_6
