!
! This file is a part of the NsCDE - Not so Common Desktop Environment
! Author: Hegel3DReloaded
! Licence: GPLv3
!

! =================================================================
! XScreenSaver - before 6.X
! =================================================================

xscreensaver.Dialog.headingFont: -*-*-bold-r-normal-sans-17-*-100-100-*-*-*-*
xscreensaver.Dialog.bodyFont: -*-*-bold-r-normal-sans-20-*-100-100-*-*-*-*
xscreensaver.Dialog.labelFont: -*-*-bold-r-normal-sans-17-*-100-100-*-*-*-*
xscreensaver.Dialog.unameFont: -*-*-bold-r-normal-sans-25-*-100-100-*-*-*-*
xscreensaver.Dialog.buttonFont: -*-*-bold-r-normal-sans-17-*-100-100-*-*-*-*
xscreensaver.Dialog.dateFont: -*-*-bold-r-normal-sans-12-*-100-100-*-*-*-*

xscreensaver.Dialog.background: NSCDE_BG_COLOR_6
xscreensaver.Dialog.foreground: NSCDE_FG_COLOR_6
xscreensaver.Dialog.topShadowColor: NSCDE_TS_COLOR_6
xscreensaver.Dialog.bottomShadowColor: NSCDE_BS_COLOR_6
xscreensaver.Dialog.highlightColor: NSCDE_BG_COLOR_1
xscreensaver.Dialog.shadowThickness: 2
xscreensaver.Dialog.borderWidth: 0
xscreensaver.Dialog.text.background: NSCDE_BG_COLOR_4
xscreensaver.Dialog.text.foreground: NSCDE_FG_COLOR_4

xscreensaver*passwd.thermometer.background: NSCDE_BG_COLOR_2
xscreensaver*passwd.thermometer.foreground: #ffff00000000
xscreensaver*passwd.thermometer.width: 10

xscreensaver*splash*background: NSCDE_BG_COLOR_6
xscreensaver*splash*foreground: NSCDE_FG_COLOR_6
xscreensaver*splash*topShadowColor: NSCDE_TS_COLOR_6
xscreensaver*splash*bottomShadowColor: NSCDE_BS_COLOR_6

! =================================================================
! XScreenSaver - after 6.X
! New xscreensaver with theming and xft support
! =================================================================

*themeNames: Default, NsCDE, Borderless, Dark Gray, Borderless Black, \
             Green Black, White, Blue, Aqua Black, Wine

*dialogTheme: nscde

*nscde.Dialog.headingFont: sans-serif 12
*nscde.Dialog.bodyFont: sans-serif 14
*nscde.Dialog.labelFont: sans-serif bold 12
*nscde.Dialog.unameFont: sans-serif bold 16
*nscde.Dialog.buttonFont: sans-serif 12
*nscde.Dialog.dateFont: sans-serif 10

*nscde.errorFont:  sans-serif bold 18
*nscde.errorColor: #ffff00000000

*nscde.Dialog.background: NSCDE_BG_COLOR_6
*nscde.Dialog.foreground: NSCDE_FG_COLOR_6
*nscde.Dialog.topShadowColor: NSCDE_TS_COLOR_6
*nscde.Dialog.bottomShadowColor: NSCDE_BS_COLOR_6
*nscde.Dialog.borderColor: #000000000000
*nscde.Dialog.borderWidth: 0
*nscde.Dialog.button.background: NSCDE_BG_COLOR_6
*nscde.Dialog.button.foreground: NSCDE_FG_COLOR_6
*nscde.Dialog.logo.background: NSCDE_SEL_COLOR_6
*nscde.Dialog.error.foreground: #ffff00000000
*nscde.Dialog.internalPadding: 16
*nscde.Dialog.logo.height: 180
*nscde.Dialog.logo.width: 180
*nscde.Dialog.shadowWidth: 1
*nscde.Dialog.thermometer.width: 10
*nscde.Dialog.text.background: NSCDE_BG_COLOR_4
*nscde.Dialog.text.foreground: NSCDE_FG_COLOR_4
*nscde.Dialog.thermometer.background: NSCDE_BG_COLOR_2
*nscde.Dialog.thermometer.foreground: #ffff00000000

