/*
 * This file is a part of the NsCDE - Not so Common Desktop Environment
 * Author: Hegel3DReloaded
 * Licence: GPLv3
*/

/* userChrome.css NsCDE include CSS file for firefox */

button {
  border-width: 1px;
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top-color: var(--nscde-ts-color-5);
  border-left-color: var(--nscde-ts-color-5);
  border-bottom-color: var(--nscde-bs-color-5);
  border-right-color: var(--nscde-bs-color-5);
  border-radius: 0px;
}

button:-moz-any(:hover:active,[open="true"]):not([disabled="true"]) {
  border-top-color: var(--nscde-bs-color-5);
  border-left-color: var(--nscde-bs-color-5);
  border-bottom-color: var(--nscde-ts-color-5);
  border-right-color: var(--nscde-ts-color-5);
  border-radius: 0px;
}

checkbox:not([disabled="true"]),
checkbox:not([disabled="true"]):hover,
checkbox:not([disabled="true"]) > .checkbox-check,
checkbox:not([disabled="true"]):hover > .checkbox-check {
  color: var(--nscde-fg-color-5);
  background-color: var(--nscde-bg-color-5);
  border-top-color: var(--nscde-ts-color-5);
  border-left-color: var(--nscde-ts-color-5);
  border-bottom-color: var(--nscde-bs-color-5);
  border-right-color: var(--nscde-bs-color-5);
  border-radius: 0px;
  padding-left: 2px;
  padding-right: 2px;
}

checkbox:not([disabled="true"]) > .checkbox-check:is(:active,[checked="true"]) {
  color: var(--nscde-fg-color-5);
  background-color: var(--nscde-sel-color-5);
  border-top-color: var(--nscde-bs-color-5);
  border-left-color: var(--nscde-bs-color-5);
  border-bottom-color: var(--nscde-ts-color-5);
  border-right-color: var(--nscde-ts-color-5);
  border-radius: 0px;
  padding-left: 2px;
  padding-right: 2px;
}

checkbox:-moz-focusring .checkbox-check {
  outline: none;
}

checkbox:-moz-focusring {
  outline: 1px solid var(--nscde-bg-color-1);
  padding-left: 2px;
  padding-right: 2px;
}

#editBookmarkPanelBottomContent > checkbox {
  color: var(--nscde-fg-color-6);
  background-color: var(--nscde-bg-color-6);
}

#editBookmarkPanelBottomContent > checkbox > .checkbox-check {
  color: var(--nscde-fg-color-6);
  background-color: var(--nscde-bg-color-6);
  border-top: 1px solid var(--nscde-ts-color-6);
  border-left: 1px solid var(--nscde-ts-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-bs-color-6);
}

#editBookmarkPanelBottomContent > checkbox > .checkbox-check:is(:active,[checked="true"]) {
  color: var(--nscde-fg-color-6);
  background-color: var(--nscde-sel-color-6);
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

menulist {
  appearance: auto;
  -moz-default-appearance: menulist;
  text-shadow: none;
  margin: 2px 4px;
  font: menu;
  color: -moz-gtk-buttonactivetext;
}

menupopup {
  -moz-appearance: none;
  --panel-border-color: var(--nscde-bg-color-6);
  border-top: 1px solid var(--nscde-ts-color-6);
  border-left: 1px solid var(--nscde-ts-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-bs-color-6);
  border-radius: 0px;
  margin-left: 0px;
  margin-top: -2px;
  --panel-shadow-margin: 0px ; /* WTF idea ... */
}

menupopup > menu, menupopup > menuitem {
  padding-block: 2px;
  border-radius: 0px;
  min-height: 24px;
}

/* 115 + Begin */
menuitem:is([selected="true"],[open="true"],:active,:hover):not([disabled="true"]) {
  padding-block: 1px;
  padding-inline-start: 5px;
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
  /* This is needed to avoid jumpy menuitem on hover and select - compensation for 1px */
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
}

menubar > menu {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

menubar > menu:is([open="true"],[checked="true"],[selected="true"],:active) {
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
  margin-top: -3px;
  margin-left: -1px;
  margin-right: -1px;
}

#context-navigation > .menuitem-iconic {
  border-radius: 0px;
}

/* 115 +  End */

:root {
  --arrowpanel-menuitem-padding: 2px 4px;
  --toolbarbutton-border-radius: 0;
  --arrowpanel-border-radius: 0px;
  --arrowpanel-menuitem-border-radius: 0px;
  --arrowpanel-color: var(--nscde-fg-color-6);
  --arrowpanel-background: var(--nscde-bg-color-6);
  --toolbarbutton-hover-background: inherit;
}

#PanelUI-panic-view-button,
#panic-button-success-closebutton {
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-ts-color-6);
  border-left: 1px solid var(--nscde-ts-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-bs-color-6);
}

#PanelUI-panic-view-button:is(:active,[checked]),
#panic-button-success-closebutton:is(:active,[checked]) {
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

#identity-popup,
#permission-popup,
#editBookmarkPanel,
#sidebarMenu-popup,
#widget-overflow,
#protections-popup {
  outline: none;
  --arrowpanel-border-color: var(--nscde-bg-color-6);
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-ts-color-6);
  border-left: 1px solid var(--nscde-ts-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-bs-color-6);
}

#sidebarMenu-popup {
  margin-top: 6px;
  margin-left: -14px;
}

#sidebarMenu-popup .subviewbutton {
  padding-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#sidebarMenu-popup .subviewbutton .toolbarbutton-text {
  padding-left: 4px;
}

#sidebarMenu-popup .subviewbutton .toolbarbutton-icon {
  width: 24px;
  height: 24px;
}

#identity-popup,
#permission-popup,
#editBookmarkPanel,
#protections-popup {
  margin-top: 4px;
  margin-left: -16px;
}

#editBookmarkPanel .expander-up,
#editBookmarkPanel .expander-down,
#editBookmarkPanelBottomButtons > button {
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-ts-color-6);
  border-left: 1px solid var(--nscde-ts-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-bs-color-6);
  font-weight: normal;
}

#editBookmarkPanel .expander-up:active,
#editBookmarkPanel .expander-down:active,
#editBookmarkPanelBottomButtons > button:active {
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

#editBookmarkPanelRows input {
  border-radius: 0px;
  outline: 0px;
  padding: 6px;
  margin: 2px;
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

#nav-bar toolbarbutton > .toolbarbutton-icon {
  background: transparent;
}

#nav-bar toolbarbutton:not(.subviewbutton),
#nav-bar toolbarbutton:hover:not(.subviewbutton) {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

toolbarbutton:not(.subviewbutton),
toolbarbutton:hover:not(.subviewbutton) {
  transition-duration: 0s;
  transition-delay: 0s;
  background: transparent;
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
  border-radius: 0px;
}

toolbarbutton:-moz-any(:active,[open],[checked="true"]):not([disabled="true"]) {
  transition-duration: 0s;
  transition-delay: 0s;
  background-color: var(--nscde-sel-color-5);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
  border-radius: 0px;
}

#sidebarMenu-popup toolbarseparator,
#sidebarMenu-popup > .subviewbutton,
.panel-arrowcontent,
#sidebar-switcher-target,
#sidebar-switcher-target:hover,
#sidebar-switcher-target:not([open="true"]),
menulist:not(#openHandler) {
  outline: none;
  border-width: 1px;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-top-color: var(--nscde-ts-color-6);
  border-left-color: var(--nscde-ts-color-6);
  border-bottom-color: var(--nscde-bs-color-6);
  border-right-color: var(--nscde-bs-color-6);
}

#sidebarMenu-popup > .subviewbutton {
  border: 1px solid var(--nscde-bg-color-6);
}

#sidebarMenu-popup .subviewbutton[checked],
#sidebarMenu-popup .subviewbutton:active,
#sidebar-switcher-target:active,
menulist[open="true"]:not(#openHandler) {
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-top-color: var(--nscde-bs-color-6);
  border-left-color: var(--nscde-bs-color-6);
  border-bottom-color: var(--nscde-ts-color-6);
  border-right-color: var(--nscde-ts-color-6);
}

menuseparator {
  padding-block: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 1px;
  margin-left: 1px;
  -moz-appearance: none;
  border-top: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

/* Firefox 115+ */
menupopup menu:is([_moz-menuactive],[selected="true"],[checked="true"],:active,:hover,[open="true"]):not([disabled="true"]) {
  border-top: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 4px;
  margin-left: -1px;
}

/* Thick splitter */
splitter {
  -moz-appearance: none;
  border-width: 2px;
  background-color: var(--nscde-bg-color-5);
  border-top-color: var(--nscde-ts-color-5);
  border-left-color: var(--nscde-ts-color-5);
  border-bottom-color: var(--nscde-bs-color-5);
  border-right-color: var(--nscde-bs-color-5);
}

richlistbox {
  -moz-appearance: none;
  background-color: var(--nscde-bg-color-4);
  color: var(--nscde-fg-color-4);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
}

#tabbrowser-arrowscrollbox {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  max-height: 32px;
}

tabs {
  border-width: 0;
}

#new-tab-button,
.tabbrowser-tab {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
  margin: 1px;
  --tab-label-mask-size: 0px;
}

#new-tab-button:active,
#new-tab-button[open="true"],
.tabbrowser-tab:is([visuallyselected="true"],[selected="true"],[open],:active) {
  background-color: var(--nscde-sel-color-5);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-bottom: 0px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
  margin: 1px;
}

#alltabs-button {
    list-style-image: url("nsicons/arrow-down.png");
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true], [multiselected]) {
  background-color: var(--nscde-bg-color-5);
}

.tab-background {
  border-radius: 0px 0px 0px 0px;
  border-image: none;
  margin-bottom: 0px;
  background-color: var(--nscde-bg-color-5);
  opacity: 0;
}

.tab-background[selected="true"] {
  background-color: var(--nscde-sel-color-5);
}

input,
.input-container {
  border-width: 1px;
  border-top-color: var(--nscde-bs-color-5);
  border-left-color: var(--nscde-bs-color-5);
  border-bottom-color: var(--nscde-ts-color-5);
  border-right-color: var(--nscde-ts-color-5);
  border-radius: 0px;
}

.input-container {
  background-color: var(--nscde-bg-color-4);
  color: var(--nscde-fg-color-4);
}

#urlbar {
  --urlbar-box-bgcolor: var(--nscde-bg-color-5);
  --urlbar-box-hover-bgcolor: var(--nscde-bg-color-5);
  --urlbar-box-focus-bgcolor: var(--nscde-bg-color-5);
}

.urlbar-page-action {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-radius: 0px;
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
}

.urlbar-page-action:is([open],[checked],:active) {
  background-color: var(--nscde-sel-color-5);
  color: var(--nscde-fg-color-5);
  border-radius: 0px;
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
}

.urlbarView,
#urlbar-input {
  background-color: var(--nscde-bg-color-4);
  color: var(--nscde-fg-color-4);
}

#searchbar,
#urlbar-background {
  -moz-appearance: none;
  border-width: 1px;
  background-color: var(--nscde-bg-color-4);
  color: var(--nscde-fg-color-4);
  border-radius: 0px;
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
}

#pageActionButton,
#star-button {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
}

#pageActionButton:is([open],[checked],:active),
#star-button:is([open],[checked],:active) {
  background-color: var(--nscde-sel-color-5);
  color: var(--nscde-fg-color-5);
}

#tracking-protection-icon-container {
  border-inline-end: none;
  border-image-slice: 0;
  border-image: none;
}

#identity-box {
  margin-inline: 0px;
  margin-right: 4px;
}

#tracking-protection-icon-container,
#tracking-protection-icon-container:hover,
#identity-box,
#identity-box:hover {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
}

#tracking-protection-icon-container:is([open],[checked],:active),
#identity-box:is([open],[checked],:active) {
  background-color: var(--nscde-sel-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
}

#sidebar-box {
  background-color: var(--nscde-sel-color-5);
  color: var(--nscde-fg-color-5);
  font-size: 10pt;
}

#sidebar-close,
.tab-close-button,
.tab-close-button:hover {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
  border-radius: 0px;
  padding: 1px;
}

#sidebar-close:active,
.sidebar-close-button,
.tab-close-button:active {
  background-color: inherit;
  color: inherit;
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
}

.tab-close-button,
.tab-close-button:hover {
  width: 16px;
  height: 20px;
  margin-right: -6px;
}

.tabbrowser-tab .tab-line,
.tabbrowser-tab .tab-line:hover {
  background-color: transparent;
}

.tabs-newtab-button:hover,
.tabbrowser-tab:hover .tab-content:hover {
  background-color: transparent;
}

#nav-bar {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
}

#PanelUI-button {
  display: none;
}

panelview {
  -moz-appearance: none;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px transparent;
  border-left: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
}

#BMB_bookmarksPopup menupopup {
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-ts-color-6);
  border-left: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
  --panel-padding: 0px;
}

#identity-popup-security-expander,
#protections-popup-mainView,
#protections-popup-mainView-panel-header,
.protections-popup-empty-label,
.tracking-protection-button,
.protections-popup-cookiesView-list-header,
.protections-popup-list-item > label,
#protections-popup-mainView-panel-header > label,
#protections-popup-mainView-panel-header > description,
#protections-popup-trackersView > .panel-header,
#protections-popup-sendReportView > .panel-header,
.protections-popup-category-label,
.protections-popup-category-state-label,
#protections-popup-content > description,
.protections-popup-footer-button-label,
#protections-popup-trackers-blocked-counter-description,
#protections-popup-sendReportView-heading > description
#protections-popup-footer-protection-type-label,
.protections-popup-show-report-icon,
.protections-popup-settings-icon {
  -moz-appearance: none;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  fill: var(--nscde-fg-color-6);
  border: 1px solid var(--nscde-bg-color-6);
}

.tracking-protection-icon,
.socialblock-icon,
.thirdpartycookies-icon,
.cryptominers-icon,
.fingerprinters-icon {
  -moz-appearance: none;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  fill: var(--nscde-fg-color-6);
}

.protections-popup-category.notFound,
.protections-popup-category.notFound:hover {
  -moz-appearance: none;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  fill: var(--nscde-fg-color-6);
  border: 1px solid var(--nscde-bg-color-6);
  font-style: italic;
  font-size: 80%;
}

#BMB_bookmarksPopup .subviewbutton,
panelview .subview-subheader,
panelview .panel-subview-body,
panelview toolbarbutton.subviewbutton {
  -moz-appearance: none;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border: 1px solid var(--nscde-bg-color-6);
}

#BMB_bookmarksPopup .subviewbutton:hover,
#BMB_bookmarksPopup .subviewbutton {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}

#identity-popup-security-expander:active,
panelview toolbarbutton:-moz-any(:hover:active,[checked="true"]):not([disabled="true"]) {
  -moz-appearance: none;
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-top: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

#BMB_bookmarksPopup .subviewbutton:-moz-any(:hover,:active,[checked="true"]):not([disabled="true"]) {
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

panelview .subview-subheader {
  font-weight: bold;
}

panelview toolbarseparator {
  -moz-appearance: none;
  border-top: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

/* PageInfo window */
#topBar {
  background: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-ts-color-6);
  border-left: 1px solid var(--nscde-ts-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-bs-color-6);
}

#mainDeck {
  background: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
}

th > label,
td > input,
.table-split-column > * {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
}

/* Bottom bar with statusbar */
#PersonalToolbar {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100vw;
  direction: rtl;
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
}

#PersonalToolbar >  toolbarbutton {
  padding: 0 var(--toolbarbutton-outer-padding);
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 0px;
  background-color: transparent;
}

#PersonalToolbar > toolbarbutton:is([open],[checked]),
#PersonalToolbar > toolbarbutton:active {
  margin-left: 1px;
  margin-right: 1px;
  background-color: var(--nscde-sel-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
}

#PersonalToolbar > toolbarbutton > .toolbarbutton-icon,
#PersonalToolbar > toolbarbutton > .toolbarbutton-badge-stack {
  width: var(--default_personal_toolbar_height);
  height: calc(var(--default_personal_toolbar_height) - 4px);
  padding: calc(var(--toolbarbutton-inner-padding) - 2px);
}

#PersonalToolbar,
#PersonalToolbar > :first-child + toolbarspring {
  background-position: left 2px bottom 2px;
  background-repeat: no-repeat;
  background-image: -moz-element(#statuspanel);
  max-width: none;
  width: 60ch;
}

/*
  Using -moz-element() causes some problems after Firefox has been running
  several hours such as long tab switch times.  For this reason the background
  image is removed on hover and focused states which appears to clear the
  state.
*/

#PersonalToolbar:hover:first-child + toolbarspring {
  background-image: none;
}

#nav-bar toolbarbutton > .toolbarbutton-text {
  margin: 0px;
  padding: 0px;
  font-size: 9pt;
}

#nav-bar toolbarbutton > .toolbarbutton-icon {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
  height: 24px;
  width: 24px;
}

/* Pre 112 code for separate reload and stop buttons */
#reload-button, #stop-button {
  display: -moz-box;
}

/* 112+ requires this to show both, reload and stop buttons */
#reload-button:not([displaystop]) + #stop-button, #reload-button[displaystop] {
  display: flex;
}

#context-navigation > .menuitem-iconic > .menu-iconic-left > .menu-iconic-icon {
  width: 24px;
  height: 24px;
  margin: 4px;
}

#back-button > .toolbarbutton-icon {
  background: inherit;
  border: none;
  box-shadow: none;
}

.placesTree > treechildren {
  background-color: var(--nscde-sel-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
}

/* Library Window: Thread pane index row */
treecol, .treecol-image {
  -moz-appearance: none;
  color: var(--nscde-fg-color-5);
  background-color: var(--nscde-bg-color-5);
  font-weight: bold;
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
  padding: 2px;
}

#placesView treechildren::-moz-tree-row(selected),
#placesView treechildren::-moz-tree-cell-text(selected) {
  background-color: var(--nscde-fg-color-5);
  color: var(--nscde-bg-color-5);
}

#placesViewsBox treechildren::-moz-tree-row(odd) {
  background-color: var(--nscde-sel-color-5);
  color: var(--nscde-fg-color-5);
}

#placesViewsBox treechildren::-moz-tree-row(even) {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
}

#placesViewsBox treechildren::-moz-tree-row(odd, selected),
#placesViewsBox treechildren::-moz-tree-cell-text(odd, selected) {
  background-color: var(--nscde-fg-color-5);
  color: var(--nscde-bg-color-5);
}

#placesViewsBox treechildren::-moz-tree-row(even, selected),
#placesViewsBox treechildren::-moz-tree-cell-text(even, selected) {
  background-color: var(--nscde-fg-color-5);
  color: var(--nscde-bg-color-5);
}

#placesMenu > menu:active,
#placesMenu > menu[open] {
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-width: 1px;
  border-top-color: var(--nscde-bs-color-6);
  border-left-color: var(--nscde-bs-color-6);
  border-bottom-color: var(--nscde-ts-color-6);
  border-right-color: var(--nscde-ts-color-6);
}

#placesMenu > menu,
#placesMenu > menu:hover {
  -moz-default-appearance: none;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
}

#placesToolbar toolbarbutton,
#placesToolbar toolbarbutton:hover {
  appearance: none;
  margin-left: 4px;
  margin-right: 4px;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-width: 1px transparent;
  border: 1px solid transparent;
}

#placesToolbar toolbarbutton:active {
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-width: 1px;
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

/* Bookmarks (PersonalToolbar) Toolbar and Status Bar at the bottom */
:root {
  --default_personal_toolbar_height: calc(2 * var(--toolbarbutton-inner-padding) + 16px);
}

#customization-container,
:root:not([inDOMFullscreen]) > body > #browser {
  margin-bottom: calc(5px + var(--default_personal_toolbar_height));
}

#statuspanel {
  height: 28px;
  width: auto;
  max-width: 75%;
  bottom: -1000px;
  left: 0px;
  padding: 0px;
  font-size: 90%;
  transition-duration: 0s;
  transition-delay: 0s;
  transition-property: none;
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
}

#statuspanel-inner {
  height: 22px;
  margin-left: 2px;
  margin-right: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  border: none;
  font-size: inherit;
  color: inherit;
  background-color: var(--toolbar-accent-color);
}

#statuspanel-label {
  top: 0px;
  margin-top: 0px;
  margin-bottom: 4px;
  margin-left: 4px;
  border: none;
  padding: 4px;
  background: transparent;
}

/* TABS: bottom - Firefox 65 and later */
/* /source/browser/themes/shared/tabs.inc.css */

/* ROOT - VARS */
*|*:root {
 --tab-toolbar-navbar-overlap: 0px;

 --tab-min-height: 32px ; /* adjust */
 --tab-min-width:  60px ; /* adjust */

 --personal-toolbar-height: 22px; /* personal-toolbar 22px */
 --captionbox-adjust: calc(2px + var(--personal-toolbar-height));
}

/* TAB BAR on bottom */

/* 
 * Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/tabs_on_bottom.css
 * made available under Mozilla Public License v. 2.0
 * See the above repository for updates as well as full license text.
 */

/* Modify to change window drag space width */
/*
 * Use tabs_on_bottom_menubar_on_top_patch.css if you
 * have menubar permanently enabled and want it on top
*/

/* IMPORTANT */
/*
 * Get window_control_placeholder_support.css
 * Window controls will be all wrong without it.
 * Additionally on Linux, you may need to get:
 * linux_gtk_window_control_patch.css
 */

:root{
  --uc-titlebar-padding: 0px;
}

#TabsToolbar > [flex] {
  background-color: var(--nscde-bg-color-5);
}

#toolbar-menubar[autohide="true"] > .titlebar-buttonbox-container,
#TabsToolbar > .titlebar-buttonbox-container {
  position: fixed;
  display: block;
  top: 0px;
  right:0;
  height: 40px;
}

@supports -moz-bool-pref("userchrome.force-window-controls-on-left.enabled") {
  .titlebar-buttonbox-container {
    left:0;
    right: unset;
  }
}

:root[uidensity="compact"] #TabsToolbar > .titlebar-buttonbox-container {
  height: 32px
}

#toolbar-menubar[inactive] > .titlebar-buttonbox-container {
  opacity: 0;
}

#navigator-toolbox {
  padding-top: var(--uc-titlebar-padding,0px);
}

.titlebar-buttonbox-container > .titlebar-buttonbox {
  height: 100%;
}

#titlebar {
  -moz-box-ordinal-group: 2; /* Firefox <112 compatibility */
  order: 2;
  -moz-appearance: none;
  --tabs-navbar-shadow-size: 0px;
  --uc-menubar-vertical-overlap: 19px; /* for hide_tabs_with_one_tab_w_window_controls.css compatibility */
}

.titlebar-placeholder,
#TabsToolbar .titlebar-spacer {
  display: none;
}

/* Re-order window and tab notification boxes */
#navigator-toolbox > div {
  display: contents;
}

/* Also hide the toolbox bottom border which isn't at bottom with this setup */
#navigator-toolbox::after {
  display: none;
}

@media (-moz-gtk-csd-close-button) {
  .titlebar-button {
    -moz-box-orient: vertical;
    flex-direction: column;
  }
}

/* These exist only for compatibility with autohide-tabstoolbar.css */
toolbox#navigator-toolbox > toolbar#nav-bar.browser-toolbar {
  animation: none;
}
#navigator-toolbox:hover #TabsToolbar {
  animation: slidein ease-out 48ms 1;
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/tabs_on_bottom_menubar_on_top_patch.css
 * made available under Mozilla Public License v. 2.0
 * See the above repository for updates as well as full license text.
 */

/* Menubar on top patch - use with tabs_on_bottom.css */
/* Only really useful if menubar is ALWAYS visible */

:root {
  --uc-window-control-width: 0px 
}

#navigator-toolbox {
  padding-top: calc(32px + var(--uc-titlebar-padding,0px)) 
}

#toolbar-menubar {
  position: fixed;
  display: flex;
  top: var(--uc-titlebar-padding,0px);
  height: 32px;
  width: 100%;
  overflow: hidden;
  padding: 1px 1px 1px 1px;
  /* FF 115+ playing stupid cat and mouse game with menubar decorations */
  appearance: menubar;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-ts-color-6);
  border-left: 1px solid var(--nscde-ts-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-bs-color-6);
}

#toolbar-menubar > .titlebar-buttonbox-container {
  height: 32px;
  order: 100;
}

#toolbar-menubar > [flex] {
  flex-grow: 100;
}

#toolbar-menubar > spacer[flex] {
  order: 99;
  flex-grow: 1;
  min-width: var(--uc-window-drag-space-width,20px);
}

#toolbar-menubar .titlebar-button {
  padding: 2px 17px;
}

#toolbar-menubar .toolbarbutton-1 {
  --toolbarbutton-inner-padding: 3px;
}

/* Firefox 100+ narrow screwed menubar fix - this goes out */
/*
menubar > menu {
  padding: 2px 2px 4px 4px;
}
*/

/* Firefox 100+ narrow screwed menubar fix */
#toolbar-menubar menubar > menu > .menubar-text {
  margin: 2px 4px;
}

/* TABS: height */
*|*:root {
  --tab-toolbar-navbar-overlap: 0px;
  --tab-min-height: 22px;
  --tab-min-width: 64px;
}

/* TAB BAR on bottom end */


#TabsToolbar .toolbarbutton-1 > .toolbarbutton-icon,
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-text,
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-badge-stack {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
}

#TabsToolbar .toolbarbutton-1:hover,
#TabsToolbar .toolbarbutton-1 {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
}

#TabsToolbar .tabbrowser-tab:is(:hover):not([selected="true"]) .tab-content:not([selected="true"]) {
  fill-opacity: 1;
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
}

.tab-throbber[progress],
.tab-throbber[busy],
.tab-throbber[busy]::before {
  opacity: 1;
  background-image: url("nsicons/Throbber.gif");
  animation: none;
}

.tab-throbber,
.tab-throbber-tabslist,
.tab-icon-pending,
.tab-icon-image,
.tab-sharing-icon-overlay {
  height: 20px;
  width: 20px;
}

#TabsToolbar .toolbarbutton-1[open],
#TabsToolbar .toolbarbutton-1:active {
  background-color: var(--nscde-sel-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
}

/*
#tabbrowser-tabs {
  width: 100vw;
}
*/

/* indicators */
/*
*|*:root[privatebrowsingmode=temporary] .private-browsing-indicator {
  position: absolute;
  display: block;
  right: 0px;
  bottom: 0px;
  width: 14px;
  pointer-events: none;
}
*/
.private-browsing-indicator {
  display: none;
}

.accessibility-indicator {
  display: none;
}

/* Indicators - HIDE */
/*
*|*:root:not([accessibilitymode]) .accessibility-indicator {
  display: none 
}

*|*:root:not([privatebrowsingmode=temporary]) .private-browsing-indicator {
  display: none 
}
*/

/* Drag Space */
.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
  width: 20px;
}

/* Override vertical shifts when moving a tab */
#navigator-toolbox[movingtab] > #titlebar > #TabsToolbar {
  padding-bottom: unset;
}

#navigator-toolbox[movingtab] #tabbrowser-tabs {
  padding-bottom: unset;
  margin-bottom: unset;
}

#navigator-toolbox[movingtab] > #nav-bar {
  margin-top: unset;
}

/* window-controls - full screen */
#TabsToolbar #window-controls {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  visibility: hidden ; /* adjust: visible/hidden */
}

/* For FF 97 + */
#TabsToolbar {
  max-height: var(--urlbar-min-height);
}

/* Overflow button */
#widget-overflow-fixed-list toolbarbutton,
#widget-overflow-fixed-list toolbarbutton:hover {
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border: 1px solid var(--nscde-bg-color-6);
}

#widget-overflow-fixed-list toolbarbutton:is(:active, :open, [selected]) {
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

.panel-arrowcontainer .menupopup-arrowscrollbox,
.menupopup-arrowscrollbox,
.panel-arrowbox+slot {
  box-shadow: none;
  border-radius: 0px;
  margin: 0px;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-ts-color-6);
  border-left: 1px solid var(--nscde-ts-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-bs-color-6);
}

.browserContainer > findbar {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
}

.findbar-find-previous {
  list-style-image: url("nsicons/arrow-left.png");
}

.findbar-find-next {
  list-style-image: url("nsicons/arrow-right.png");
}

input.findbar-textbox {
  background-color: var(--nscde-bg-color-4);
  color: var(--nscde-fg-color-4);
  border-radius: 0px;
  outline: 2px;
}

input.findbar-textbox:focus {
  border: 1px solid var(--nscde-bg-color-1);
}

#window-modal-dialog > .dialogOverlay > .dialogBox:not(.spotlightBox) {
   border-radius: 0px;
}

/* Ctrl + Q */
/* This should be --nscde-bg-color-6, but shomehow we cannot get
 * buttons and labels to inherit the color. Pity.
 */
#commonDialogWindow {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
}

#unified-extensions-button {
  display: none;
}

#placesMenu {
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-ts-color-6);
  border-left: 1px solid var(--nscde-ts-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-bs-color-6);
}

#placesMenu menu:is([checked="true"],[open="true"],[_moz_menuactive],[selected="true"],:active):not([disabled="true"]) {
  margin-left: -1px;
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

#placesToolbar #forward-button,
#placesToolbar #back-button {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
}

#placesToolbar #forward-button:is([checked="true"],[open="true"],:active):not([disabled="true"]),
#placesToolbar #back-button:is([checked="true"],[open="true"],:active):not([disabled="true"]) {
  background-color: var(--nscde-sel-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
}

