/*
 * This file is a part of the NsCDE - Not so Common Desktop Environment
 * Author: Hegel3DReloaded
 * Licence: GPLv3
*/

/* userChrome.css NsCDE include CSS file for firefox */

button {
  border-width: 1px;
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top-color: var(--nscde-ts-color-5);
  border-left-color: var(--nscde-ts-color-5);
  border-bottom-color: var(--nscde-bs-color-5);
  border-right-color: var(--nscde-bs-color-5);
}

button:-moz-any(:hover:active,[open="true"]):not([disabled="true"]) {
  border-top-color: var(--nscde-bs-color-5);
  border-left-color: var(--nscde-bs-color-5);
  border-bottom-color: var(--nscde-ts-color-5);
  border-right-color: var(--nscde-ts-color-5);
}

#nav-bar toolbarbutton > .toolbarbutton-icon {
  background: transparent;
}

#nav-bar toolbarbutton:not(.subviewbutton),
#nav-bar toolbarbutton:hover:not(.subviewbutton) {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

toolbarbutton:not(.subviewbutton),
toolbarbutton:hover:not(.subviewbutton) {
  transition-duration: 0s;
  transition-delay: 0s;
  background: transparent;
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
  border-radius: 0px;
}

toolbarbutton:-moz-any(:active,[open],[checked="true"]):not([disabled="true"]) {
  transition-duration: 0s;
  transition-delay: 0s;
  background-color: var(--nscde-sel-color-5);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
  border-radius: 0px;
}

#sidebarMenu-popup toolbarseparator,
#sidebarMenu-popup > .subviewbutton,
.panel-arrowcontent,
#sidebar-switcher-target,
#sidebar-switcher-target:hover,
#sidebar-switcher-target:not([open="true"]),
menulist:not(#openHandler) {
  outline: none;
  border-width: 1px;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-top-color: var(--nscde-ts-color-6);
  border-left-color: var(--nscde-ts-color-6);
  border-bottom-color: var(--nscde-bs-color-6);
  border-right-color: var(--nscde-bs-color-6);
}

#sidebarMenu-popup > .subviewbutton {
  border: 1px solid var(--nscde-bg-color-6);
}

#sidebarMenu-popup .subviewbutton[checked],
#sidebarMenu-popup .subviewbutton:active,
#sidebar-switcher-target:active,
menulist[open="true"]:not(#openHandler) {
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-top-color: var(--nscde-bs-color-6);
  border-left-color: var(--nscde-bs-color-6);
  border-bottom-color: var(--nscde-ts-color-6);
  border-right-color: var(--nscde-ts-color-6);
}

menuseparator {
  -moz-appearance: none;
  border-top: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

/* Thick splitter */
splitter {
  -moz-appearance: none;
  border-width: 2px;
  background-color: var(--nscde-bg-color-5);
  border-top-color: var(--nscde-ts-color-5);
  border-left-color: var(--nscde-ts-color-5);
  border-bottom-color: var(--nscde-bs-color-5);
  border-right-color: var(--nscde-bs-color-5);
}

richlistbox {
  -moz-appearance: none;
  background-color: var(--nscde-bg-color-4);
  color: var(--nscde-fg-color-4);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
}

#tabbrowser-arrowscrollbox {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
}

tabs {
  border-width: 0;
}

#new-tab-button,
.tabbrowser-tab {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
  margin: 1px;
}

#new-tab-button:active,
#new-tab-button[open="true"],
.tabbrowser-tab[visuallyselected="true"] {
  background-color: var(--nscde-sel-color-5);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-bottom: 0px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
  margin: 1px;
}

.tab-background[selected="true"] {
  background-color: var(--nscde-sel-color-5);
}

input,
.input-container {
  border-width: 1px;
  border-top-color: var(--nscde-bs-color-5);
  border-left-color: var(--nscde-bs-color-5);
  border-bottom-color: var(--nscde-ts-color-5);
  border-right-color: var(--nscde-ts-color-5);
}

.input-container {
  background-color: var(--nscde-bg-color-4);
  color: var(--nscde-fg-color-4);
}

.urlbarView,
#urlbar-input {
  background-color: var(--nscde-bg-color-4);
  color: var(--nscde-fg-color-4);
}

#searchbar,
#urlbar-background {
  -moz-appearance: none;
  border-width: 1px;
  background-color: var(--nscde-bg-color-4);
  color: var(--nscde-fg-color-4);
  border-radius: 0px;
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
}

#pageActionButton,
#star-button {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
}

#pageActionButton:is([open],[checked],:active),
#star-button:is([open],[checked],:active) {
  background-color: var(--nscde-sel-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
}

#tracking-protection-icon-container {
  border-inline-end: none;
  border-image-slice: 0;
  border-image: none;
}

#identity-box {
  margin-inline: 0px;
  margin-right: 4px;
}

#tracking-protection-icon-container,
#tracking-protection-icon-container:hover,
#identity-box,
#identity-box:hover {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
}

#tracking-protection-icon-container:is([open],[checked],:active),
#identity-box:is([open],[checked],:active) {
  background-color: var(--nscde-sel-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
}

#sidebar-box {
  background-color: var(--nscde-sel-color-5);
  color: var(--nscde-fg-color-5);
  font-size: 10pt;
}

#sidebar-close,
.tab-close-button,
.tab-close-button:hover {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
  fill-opacity: 0;
}

#sidebar-close:active,
.sidebar-close-button,
.tab-close-button:active {
  background-color: inherit;
  color: inherit;
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
}

.tab-close-button,
.tab-close-button:hover {
  width: 16px;
  height: 20px;
  margin-right: -6px;
}

.tabbrowser-tab .tab-line,
.tabbrowser-tab .tab-line:hover {
  background-color: transparent;
}

.tabs-newtab-button:hover,
.tabbrowser-tab:hover .tab-content:hover {
  background-color: transparent;
}

#nav-bar {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
}

#PanelUI-button {
  display: none;
}

panelview {
  -moz-appearance: none;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px transparent;
  border-left: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
}

#PanelUI-panic-view-button,
#panic-button-success-closebutton {
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-ts-color-6);
  border-left: 1px solid var(--nscde-ts-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-bs-color-6);
  border-radius: 0px;
}

#PanelUI-panic-view-button:is(:active,[checked]),
#panic-button-success-closebutton:is(:active,[checked]) {
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
  border-radius: 0px;
}

#BMB_bookmarksPopup menupopup {
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-ts-color-6);
  border-left: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
}

#identity-popup-security-expander,
#protections-popup-mainView,
#protections-popup-mainView-panel-header,
.protections-popup-empty-label,
.tracking-protection-button,
.protections-popup-cookiesView-list-header,
.protections-popup-list-item > label,
#protections-popup-mainView-panel-header > label,
#protections-popup-mainView-panel-header > description,
#protections-popup-trackersView > .panel-header,
#protections-popup-sendReportView > .panel-header,
.protections-popup-category-label,
.protections-popup-category-state-label,
#protections-popup-content > description,
.protections-popup-footer-button-label,
#protections-popup-trackers-blocked-counter-description,
#protections-popup-sendReportView-heading > description
#protections-popup-footer-protection-type-label,
.protections-popup-show-report-icon,
.protections-popup-settings-icon {
  -moz-appearance: none;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  fill: var(--nscde-fg-color-6);
  border: 1px solid var(--nscde-bg-color-6);
}

.tracking-protection-icon,
.socialblock-icon,
.thirdpartycookies-icon,
.cryptominers-icon,
.fingerprinters-icon {
  -moz-appearance: none;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  fill: var(--nscde-fg-color-6);
}

.protections-popup-category.notFound,
.protections-popup-category.notFound:hover {
  -moz-appearance: none;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  fill: var(--nscde-fg-color-6);
  border: 1px solid var(--nscde-bg-color-6);
  font-style: italic;
  font-size: 80%;
}

#BMB_bookmarksPopup .subviewbutton,
panelview .subview-subheader,
panelview .panel-subview-body,
panelview toolbarbutton.subviewbutton {
  -moz-appearance: none;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border: 1px solid var(--nscde-bg-color-6);
}

#BMB_bookmarksPopup .subviewbutton:hover,
#BMB_bookmarksPopup .subviewbutton {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}

#identity-popup-security-expander:active,
panelview toolbarbutton:-moz-any(:hover:active,[checked="true"]):not([disabled="true"]) {
  -moz-appearance: none;
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-top: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

#BMB_bookmarksPopup .subviewbutton:-moz-any(:hover,:active,[checked="true"]):not([disabled="true"]) {
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

panelview .subview-subheader {
  font-weight: bold;
}

panelview toolbarseparator {
  -moz-appearance: none;
  border-top: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

/* PageInfo window */
#topBar {
  background: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-ts-color-6);
  border-left: 1px solid var(--nscde-ts-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-bs-color-6);
}

#mainDeck {
  background: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
}

th > label,
td > input,
.table-split-column > * {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
}

/* Bottom bar with statusbar */
#PersonalToolbar {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100vw;
  direction: rtl;
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
}

#PersonalToolbar >  toolbarbutton {
  padding: 0 var(--toolbarbutton-outer-padding);
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 0px;
  background-color: transparent;
}

#PersonalToolbar > toolbarbutton:is([open],[checked]),
#PersonalToolbar > toolbarbutton:active {
  margin-left: 1px;
  margin-right: 1px;
  background-color: var(--nscde-sel-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
}

#PersonalToolbar > toolbarbutton > .toolbarbutton-icon,
#PersonalToolbar > toolbarbutton > .toolbarbutton-badge-stack {
  width: var(--default_personal_toolbar_height);
  height: calc(var(--default_personal_toolbar_height) - 4px);
  padding: calc(var(--toolbarbutton-inner-padding) - 2px);
}

#PersonalToolbar > :first-child + toolbarspring {
  background-position: left 4px;
  background-repeat: no-repeat;
  background-image: -moz-element(#statuspanel);
  max-width: none;
  width: 60ch;
}

/*
  Using -moz-element() causes some problems after Firefox has been running
  several hours such as long tab switch times.  For this reason the background
  image is removed on hover and focused states which appears to clear the
  state.
*/

#PersonalToolbar:hover:first-child + toolbarspring {
  background-image: none;
}

#nav-bar toolbarbutton > .toolbarbutton-text {
  margin: 0px;
  padding: 0px;
  font-size: 9pt;
}

#nav-bar toolbarbutton > .toolbarbutton-icon {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
  height: 24px;
  width: 24px;
}

#reload-button, #stop-button {
  display: -moz-box;
}

#context-navigation > .menuitem-iconic > .menu-iconic-left > .menu-iconic-icon {
  width: 24px;
  height: 24px;
  margin: 4px;
}

#back-button > .toolbarbutton-icon {
  background: inherit;
  border: none;
  box-shadow: none;
}

.placesTree > treechildren {
  background-color: var(--nscde-sel-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
}

/* Library Window: Thread pane index row */
treecol, .treecol-image {
  -moz-appearance: none;
  color: var(--nscde-fg-color-5);
  background-color: var(--nscde-bg-color-5);
  font-weight: bold;
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
  padding: 2px;
}

#placesView treechildren::-moz-tree-row(selected),
#placesView treechildren::-moz-tree-cell-text(selected) {
  background-color: var(--nscde-fg-color-5);
  color: var(--nscde-bg-color-5);
}

#placesViewsBox treechildren::-moz-tree-row(odd) {
  background-color: var(--nscde-sel-color-5);
  color: var(--nscde-fg-color-5);
}

#placesViewsBox treechildren::-moz-tree-row(even) {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
}

#placesViewsBox treechildren::-moz-tree-row(odd, selected),
#placesViewsBox treechildren::-moz-tree-cell-text(odd, selected) {
  background-color: var(--nscde-fg-color-5);
  color: var(--nscde-bg-color-5);
}

#placesViewsBox treechildren::-moz-tree-row(even, selected),
#placesViewsBox treechildren::-moz-tree-cell-text(even, selected) {
  background-color: var(--nscde-fg-color-5);
  color: var(--nscde-bg-color-5);
}

#placesMenu > menu:active,
#placesMenu > menu[open] {
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-width: 1px;
  border-top-color: var(--nscde-bs-color-6);
  border-left-color: var(--nscde-bs-color-6);
  border-bottom-color: var(--nscde-ts-color-6);
  border-right-color: var(--nscde-ts-color-6);
}

#placesMenu > menu,
#placesMenu > menu:hover {
  -moz-default-appearance: none;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
}

#placesToolbar toolbarbutton,
#placesToolbar toolbarbutton:hover {
  appearance: none;
  margin-left: 4px;
  margin-right: 4px;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-width: 1px transparent;
  border: 1px solid transparent;
}

#placesToolbar toolbarbutton:active {
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-width: 1px;
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

/* Bookmarks (PersonalToolbar) Toolbar and Status Bar at the bottom */
:root {
  --default_personal_toolbar_height: calc(2 * var(--toolbarbutton-inner-padding) + 16px);
}

#customization-container,
:root:not([inDOMFullscreen]) > body > #browser {
  margin-bottom: calc(5px + var(--default_personal_toolbar_height));
}

#statuspanel {
  height: 32px;
  width: auto;
  max-width: 75%;
  bottom: 0px;
  left: 0px;
  padding: 0px;
  transition-duration: 0s;
  transition-delay: 0s;
  transition-property: none;
}

#statuspanel-inner {
  height: 30px;
  margin-left: 2px;
  margin-right: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  border: none;
  font-size: inherit;
  color: inherit;
  background-color: var(--toolbar-accent-color);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
}

#statuspanel-label {
  top: 0px;
  margin-top: 0px;
  margin-bottom: 4px;
  margin-left: 8px;
  border: none;
  padding: 0px;
  background: transparent;
}

/* TABS: bottom - Firefox 65 and later */
/* /source/browser/themes/shared/tabs.inc.css */

/* ROOT - VARS */
*|*:root {
 --tab-toolbar-navbar-overlap: 0px;

 --tab-min-height: 32px ; /* adjust */
 --tab-min-width:  60px ; /* adjust */

 --personal-toolbar-height: 22px; /* personal-toolbar 22px */
 --captionbox-adjust: calc(2px + var(--personal-toolbar-height));
}

/* TAB BAR on bottom */

#navigator-toolbox toolbar:not(#nav-bar):not(#toolbar-menubar) {
  -moz-box-ordinal-group: 10;
}

#TabsToolbar {
  -moz-box-ordinal-group: 1000;
  position: absolute;
  display: block;
  bottom: 0;
  height: var(--tab-min-height);
  margin-bottom: 1px;
  box-shadow: ThreeDShadow 0 -1px inset, -moz-dialog 0 1px;
  background-color: var(--toolbar-bgcolor);
  color: var(--toolbar-color);
}

#TabsToolbar .toolbarbutton-1 > .toolbarbutton-icon,
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-text,
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-badge-stack {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
}

#TabsToolbar .toolbarbutton-1:hover,
#TabsToolbar .toolbarbutton-1 {
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
}

#TabsToolbar .tabbrowser-tab:hover .tab-content:not([selected="true"]) {
  fill-opacity: 0;
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
}

.tab-throbber[progress],
.tab-throbber[busy],
.tab-throbber[busy]::before {
  opacity: 1;
  background-image: url("nsicons/Throbber.gif");
  animation: none;
}

.tab-throbber,
.tab-throbber-tabslist,
.tab-icon-pending,
.tab-icon-image,
.tab-sharing-icon-overlay {
  height: 20px;
  width: 20px;
}

#TabsToolbar .toolbarbutton-1[open],
#TabsToolbar .toolbarbutton-1:active {
  background-color: var(--nscde-sel-color-5);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
}

#tabbrowser-tabs {
  width: 100vw;
}

/* navigator-toolbox - padding */
*|*:root:not([chromehidden*="toolbar"]) #navigator-toolbox {
 padding-bottom: calc(var(--tab-min-height) + 2px) ; /*adjust*/
}

/* TabsToolbar with menubar and titlebar hidden */
*|*:root[tabsintitlebar]:not([inFullscreen="true"]):not([sizemode="maximized"])
 #toolbar-menubar[autohide="true"] ~ #TabsToolbar {
}

/* TABS: height */
#tabbrowser-tabs,
#tabbrowser-tabs > .tabbrowser-arrowscrollbox,
.tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
  min-height: var(--tab-min-height);
  max-height: var(--tab-min-height);
}

/* indicators */
/*
*|*:root[privatebrowsingmode=temporary] .private-browsing-indicator {
  position: absolute;
  display: block;
  right: 0px;
  bottom: 0px;
  width: 14px;
  pointer-events: none;
}
*/
.private-browsing-indicator {
  display: none;
}

.accessibility-indicator {
  display: none;
}

/* Indicators - HIDE */
/*
*|*:root:not([accessibilitymode]) .accessibility-indicator {
  display: none 
}

*|*:root:not([privatebrowsingmode=temporary]) .private-browsing-indicator {
  display: none 
}
*/

/* Drag Space */
.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
  width: 20px;
}

/* Override vertical shifts when moving a tab */
#navigator-toolbox[movingtab] > #titlebar > #TabsToolbar {
  padding-bottom: unset;
}

#navigator-toolbox[movingtab] #tabbrowser-tabs {
  padding-bottom: unset;
  margin-bottom: unset;
}

#navigator-toolbox[movingtab] > #nav-bar {
  margin-top: unset;
}

/* window-controls - full screen */
#TabsToolbar #window-controls {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  visibility: hidden ; /* adjust: visible/hidden */
}

/* Overflow button */
#widget-overflow-fixed-list toolbarbutton,
#widget-overflow-fixed-list toolbarbutton:hover {
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border: 1px solid var(--nscde-bg-color-6);
}

#widget-overflow-fixed-list toolbarbutton:is(:active, :open, [selected]) {
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

