/*
 * This file is a part of the NsCDE - Not so Common Desktop Environment
 * Author: Hegel3DReloaded
 * Licence: GPLv3
*/

/* userContent.css NsCDE include CSS file for firefox */

@-moz-document url-prefix(about:about),
 url-prefix(about:addons),
 url-prefix(about:buildconfig),
 url-prefix(about:certificate),
 url-prefix(about:compat),
 url-prefix(about:config),
 url-prefix(about:crashes),
 url-prefix(about:debugging),
 url-prefix(about:devtools),
 url-prefix(about:downloads),
 url-prefix(about:license),
 url-prefix(about:logins),
 url-prefix(about:networking),
 url-prefix(about:performance),
 url-prefix(about:plugins),
 url-prefix(about:policies),
 url-prefix(about:privatebrowsing),
 url-prefix(about:processes),
 url-prefix(about:profiles),
 url-prefix(about:profiling),
 url-prefix(about:protections),
 url-prefix(about:rights),
 url-prefix(about:robots),
 url-prefix(about:serviceworkers),
 url-prefix(about:studies),
 url-prefix(about:support),
 url-prefix(about:sync-log),
 url-prefix(about:telemetry),
 url-prefix(about:url-classifier),
 url-prefix(about:webrtc),
 url-prefix(about:welcome) {

  :root {
    --in-content-page-background: var(--nscde-bg-color-5);
    --in-content-page-color: var(--nscde-fg-color-5);
    --in-content-primary-button-text-color: var(--nscde-fg-color-1);
    --in-content-primary-button-background: var(--nscde-bg-color-1);
  }
  body {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    border-radius: 0px;
  }
  th {
    background-color: var(--nscde-bg-color-1);
    color: var(--nscde-fg-color-1);
    border-top: 1px solid var(--nscde-ts-color-1);
    border-left: 1px solid var(--nscde-ts-color-1);
    border-right: 1px solid var(--nscde-bs-color-1);
    border-bottom: 1px solid var(--nscde-bs-color-1);
  }
  td {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
  }
  .card {
    border-radius: 0;
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    border-top: 1px solid var(--nscde-ts-color-5);
    border-left: 1px solid var(--nscde-ts-color-5);
    border-right: 1px solid var(--nscde-bs-color-5);
    border-bottom: 1px solid var(--nscde-bs-color-5);
  }
  #process-table {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
  }
  default-button,
  button {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    border-width: 1px;
    border-top: 1px solid var(--nscde-ts-color-5);
    border-left: 1px solid var(--nscde-ts-color-5);
    border-right: 1px solid var(--nscde-bs-color-5);
    border-bottom: 1px solid var(--nscde-bs-color-5);
    border-radius: 0px;
    cursor: default;
    font-weight: normal;
  }
  button:is(:active,[open="true"]):not([disabled="true"]):not(.menu-button):not(.menuitem-button) {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
    border-width: 1px;
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
    border-radius: 0px;
    cursor: default;
  }
  search-textbox,
  input,
  textarea {
    border-width: 1px;
    border-radius: 0px;
    background-color: var(--nscde-bg-color-4);
    color: var(--nscde-fg-color-4);
    border-top-color: var(--nscde-bs-color-5);
    border-left-color: var(--nscde-bs-color-5);
    border-right-color: var(--nscde-ts-color-5);
    border-bottom-color: var(--nscde-ts-color-5);
  }
  #action-box {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
    border-width: 1px;
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
    border-radius: 0px;
    cursor: default;
  }
  input[type="radio"] {
    border-radius: 100%;
  }
  input[type="radio"],
  input[type="checkbox"],
  .radio-check,
  .checkbox-check {
      background-color: var(--nscde-bg-color-5);
      color: var(--nscde-fg-color-5);
      border-top: 1px solid var(--nscde-ts-color-5);
      border-left: 1px solid var(--nscde-ts-color-5);
      border-right: 1px solid var(--nscde-bs-color-5);
      border-bottom: 1px solid var(--nscde-bs-color-5);
  }
  input[type="radio"]:checked,
  input[type="checkbox"]:checked,
  .radio-check[selected],
  .checkbox-check[checked="true"] {
      background-color: var(--nscde-sel-color-5);
      color: var(--nscde-fg-color-5);
      border-top: 1px solid var(--nscde-bs-color-5);
      border-left: 1px solid var(--nscde-bs-color-5);
      border-right: 1px solid var(--nscde-ts-color-5);
      border-bottom: 1px solid var(--nscde-ts-color-5);
  }

  .info-box-content {
      background-color: var(--nscde-sel-color-5);
      color: var(--nscde-fg-color-5);
      border-top: 1px solid var(--nscde-bs-color-5);
      border-left: 1px solid var(--nscde-bs-color-5);
      border-right: 1px solid var(--nscde-ts-color-5);
      border-bottom: 1px solid var(--nscde-ts-color-5);
  }

  #content > div {
    border-radius: 0;
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
  }

  .onboardingContainer .screen {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
  }

  select#search-listtype > *,
  select#search-listtype {
      background-color: var(--nscde-bg-color-6);
      color: var(--nscde-fg-color-6);
      border-top: 1px solid var(--nscde-ts-color-6);
      border-left: 1px solid var(--nscde-ts-color-6);
      border-right: 1px solid var(--nscde-bs-color-6);
      border-bottom: 1px solid var(--nscde-bs-color-6);
  }
  select#search-listtype:active {
      background-color: var(--nscde-sel-color-6);
      color: var(--nscde-fg-color-6);
      border-top: 1px solid var(--nscde-bs-color-6);
      border-left: 1px solid var(--nscde-bs-color-6);
      border-right: 1px solid var(--nscde-ts-color-6);
      border-bottom: 1px solid var(--nscde-ts-color-6);
  }

}

/* Override table header for a few abouts */
@-moz-document url-prefix(about:config),
 url-prefix(about:profiles),
 url-prefix(about:support),
 url-prefix(about:url-classifier),
 url-prefix(about:sync-log) {
  th {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    border-top: 1px solid var(--nscde-ts-color-5);
    border-left: 1px solid var(--nscde-ts-color-5);
    border-right: 1px solid var(--nscde-bs-color-5);
    border-bottom: 1px solid var(--nscde-bs-color-5);
  }
}

@-moz-document url-prefix(about:blank) {
  * {
    background-color: var(--nscde-bg-color-4);
    color: var(--nscde-fg-color-4);
  }
}

@-moz-document url-prefix(about:newtab), url-prefix(about:home) {
  body {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
  }

  .outer-wrapper {
    background-color: var(--nscde-bg-color-5);
  }

  .outer-wrapper:not(.newtab-experience) .ds-top-sites .top-sites .top-site-outer {
    padding 8px 8px;
  }

  .outer-wrapper.newtab-experience .search-wrapper .search-handoff-button {
    background-color: var(--nscde-bg-color-4);
    color: var(--nscde-fg-color-4);
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
    border-radius: 0px;
    box-shadow: none ; 
  }

  .outer-wrapper.newtab-experience .top-site-outer .tile, .top-site-outer .tile {
    background-color: var(--nscde-bg-color-5);
    box-shadow: none ; 
    border-radius: 0px;
  }

  .top-site-outer .tile .icon-wrapper, .top-site-outer .top-site-icon {
    border-radius: 0px;
    width: 80px;
    height: 80px;
  }

  .top-site-outer .title {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
  }

  .top-site-outer .top-site-icon {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
  }

  .top-site-inner *:is(:active, :open, [checked="true"], [selected="true"]) {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
  }

  .customize-menu .close-button,
  .home-section .section .selector {
    border-radius: 0px;
  }

  .collapsible-section .section-title .collapsible-arrow,
  .collapsible-section .section-title span {
    fill: var(--nscde-fg-color-6);
  }

  .collapsible-section .section-title .click-target-container {
    padding: 6px;
    border-width: 1px;
    border-radius: 0px;
    background-color: var(--nscde-bg-color-6);
    color: var(--nscde-fg-color-6);
    border-top: 1px solid var(--nscde-ts-color-6);
    border-left: 1px solid var(--nscde-ts-color-6);
    border-right: 1px solid var(--nscde-bs-color-6);
    border-bottom: 1px solid var(--nscde-bs-color-6);
  }

  .collapsible-section .section-title .click-target-container:active {
    border-top: 1px solid var(--nscde-bs-color-6);
    border-left: 1px solid var(--nscde-bs-color-6);
    border-right: 1px solid var(--nscde-ts-color-6);
    border-bottom: 1px solid var(--nscde-ts-color-6);
  }

  .collapsible-section {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    border: 2px solid var(--nscde-bg-color-5);
  }

  .collapsible-section:hover {
    border: 2px solid var(--nscde-sel-color-5);
  }

  .ds-header, .ds-layout .section-title span {
    background-color: var(--nscde-bg-color-6);
    color: var(--nscde-fg-color-6);
  }

  .outer-wrapper:not(.newtab-experience) .card-outer .context-menu-button,
  .outer-wrapper:not(.newtab-experience) .top-site-outer .context-menu-button {
    border-radius: 0px;
    fill: none;
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    border: 1px solid var(--nscde-bg-color-1);
  }

  .top-site-outer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .card-outer,
  .top-site-outer {
    border-width: 1px;
    border-radius: 0px;
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    border-top: 1px solid var(--nscde-ts-color-5);
    border-left: 1px solid var(--nscde-ts-color-5);
    border-right: 1px solid var(--nscde-bs-color-5);
    border-bottom: 1px solid var(--nscde-bs-color-5);
  }

  .card-outer:active,
  .top-site-outer:active {
    background-color: var(--nscde-sel-color-5);
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
  }

  .card-outer .card-description,
  .card-outer .card-title,
  .card-outer .card-host-name.alternate,
  .card-outer .card-host-name,
  .card-outer .card-text {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
  }

  .icon.icon-bookmark-added {
    background-image: url("nsicons/bookmark.png");
   }

  .context-menu-button {
    opacity: 1;
    fill: var(--nscde-fg-color-6);
    background-position: 50%;
  }

  .context-menu,
  .context-menu-button,
  .prefs-button button,
  .prefs-button button:focus,
  .prefs-button button:hover {
    cursor: default;
    border-radius: 0px;
    fill: var(--nscde-fg-color-6);
    background-color: var(--nscde-bg-color-6);
    color: var(--nscde-fg-color-6);
    border-top: 1px solid var(--nscde-ts-color-6);
    border-left: 1px solid var(--nscde-ts-color-6);
    border-right: 1px solid var(--nscde-bs-color-6);
    border-bottom: 1px solid var(--nscde-bs-color-6);
  }

  .context-menu > ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
  }

  .context-menu > ul > li {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    border-width: 0px;
  }

  .context-menu > ul > li.separator {
    -moz-appearance: none;
    border-top: 1px solid var(--nscde-bs-color-6);
    border-bottom: 1px solid var(--nscde-ts-color-6);
  }

  .context-menu .icon {
    fill: var(--nscde-fg-color-6);
  }

  .context-menu > ul > li > a:hover,
  .context-menu > ul > li > button:hover {
    cursor: default;
    background-color: inherit;
    color: inherit;
  }

  .context-menu > ul > li > a:is(:focus, :active),
  .context-menu > ul > li > button:is(:focus, :active),
  .context-menu-button:is(:active, :focus, :checked),
  .prefs-button button:active {
    fill: var(--nscde-fg-color-6);
    background-color: var(--nscde-sel-color-6);
    color: var(--nscde-fg-color-6);
    border-top: 1px solid var(--nscde-bs-color-6);
    border-left: 1px solid var(--nscde-bs-color-6);
    border-right: 1px solid var(--nscde-ts-color-6);
    border-bottom: 1px solid var(--nscde-ts-color-6);
  }

  .top-site-outer .title {
    margin-top: 16px;
  }

  .top-site-outer .tile,
  .top-site-outer:hover .tile,
  .top-site-outer .tile .icon-wrapper {
    margin-top: 12px;
    border-radius: 0px;
  }

  .top-site-outer .screenshot.active,
  .top-site-outer .default-icon,
  .top-site-outer .rich-icon,
  .top-site-outer .top-site-icon {
    margin-top: 0px;
    border-radius: 0px;
  }

  .button:not(.dismiss),
  .button:hover:not(.dismiss),
  .button:focus:not(.dismiss),
  .actions button:not(.dismiss),
  .actions button:hover:not(.dismiss),
  .actions button:focus:not(.dismiss),
  .edit-topsites-wrapper .modal,
  .search-wrapper .search-button,
  .search-wrapper .search-button:hover,
  .search-wrapper .search-button:focus {
    fill: var(--nscde-fg-color-5);
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    border-radius: 0px;
    border-top: 1px solid var(--nscde-ts-color-5);
    border-left: 1px solid var(--nscde-ts-color-5);
    border-right: 1px solid var(--nscde-bs-color-5);
    border-bottom: 1px solid var(--nscde-bs-color-5);
  }

  .search-wrapper .search-button:active {
    background-color: var(--nscde-sel-color-5);
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
  }

  search-textbox,
  input,
  textarea {
    border-width: 1px;
    border-radius: 0px;
    background-color: var(--nscde-bg-color-4);
    color: var(--nscde-fg-color-4);
    border-top-color: var(--nscde-bs-color-5);
    border-left-color: var(--nscde-bs-color-5);
    border-right-color: var(--nscde-ts-color-5);
    border-bottom-color: var(--nscde-ts-color-5);
  }

  .outer-wrapper:not(.newtab-experience) .card-outer:is(:hover, :focus, .active):not(.placeholder),
  .outer-wrapper:not(.newtab-experience) .top-sites-list:not(.dnd-active) .top-site-outer:is(.active, :focus, :hover) .tile {
    box-shadow: 0 0 0 2px var(--nscde-bg-color-1);
    transition: none;
  }
}

@-moz-document url-prefix(about:preferences) {
  :root {
    --in-content-page-background: var(--nscde-bg-color-5);
    --in-content-page-color: var(--nscde-fg-color-5);
    --in-content-primary-button-text-color: var(--nscde-fg-color-1);
    --in-content-primary-button-background: var(--nscde-bg-color-1);
  }

  .reload-tabs-button .button-icon,
  .reload-tabs-button .button-text,
  search-textbox,
  button {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    border-right-color: var(--nscde-bs-color-5);
    border-left-color: var(--nscde-ts-color-5);
    border-bottom-color: var(--nscde-bs-color-5);
    border-top-color: var(--nscde-ts-color-5);
    border-radius: 0px;
    font-weight: normal;
  }
  button:is(:active,[open="true"]):not([disabled="true"]) {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
    border-right-color: var(--nscde-ts-color-5);
    border-left-color: var(--nscde-bs-color-5);
    border-bottom-color: var(--nscde-ts-color-5);
    border-top-color: var(--nscde-bs-color-5);
  }

  input,
  textarea {
    background-color: var(--nscde-bg-color-4);
    color: var(--nscde-fg-color-4);
    border-right-color: var(--nscde-ts-color-4);
    border-left-color: var(--nscde-bs-color-4);
    border-bottom-color: var(--nscde-ts-color-4);
    border-top-color: var(--nscde-bs-color-4);
  }

  treecol {
    background-color: var(--nscde-bg-color-5);
    font-weight: bold;
    color: var(--nscde-fg-color-5);
    border-top: 1px solid var(--nscde-ts-color-5);
    border-left: 1px solid var(--nscde-ts-color-5);
    border-right: 1px solid var(--nscde-bs-color-5);
    border-bottom: 1px solid var(--nscde-bs-color-5);
  }

  treechildren {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
  }

  treechildren,
  treecol {
    border-width: 1px;
    border-left-color: var(--nscde-ts-color-4);
    border-right-color: var(--nscde-bs-color-4);
    border-top-color: var(--nscde-ts-color-4);
    border-bottom-color: var(--nscde-bs-color-4);
  }

  .sidebar-footer-link, .sidebar-footer-button > .text-link {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    border-top: 1px solid var(--nscde-ts-color-5);
    border-left: 1px solid var(--nscde-ts-color-5);
    border-right: 1px solid var(--nscde-bs-color-5);
    border-bottom: 1px solid var(--nscde-bs-color-5);
    border-radius: 0px;
  }

  .sidebar-footer-link:active, .sidebar-footer-button > .text-link {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
  }

  menupopup, menulist, menuseparator {
    -moz-appearance: none;
    --panel-border-color: var(--nscde-bg-color-6);
    background-color: var(--nscde-bg-color-6);
    color: var(--nscde-fg-color-6);
    border-top: 1px solid var(--nscde-ts-color-6);
    border-left: 1px solid var(--nscde-ts-color-6);
    border-right: 1px solid var(--nscde-bs-color-6);
    border-bottom: 1px solid var(--nscde-bs-color-6);
    border-radius: 0px;
    font-weight: normal;
  }

  .panel-arrowcontainer .menupopup-arrowscrollbox,
  .menupopup-arrowscrollbox,
  .panel-arrowbox+slot {
    box-shadow: none;
    margin: 0px;
  }

  menuitem {
    border-width: 1px;
    -moz-appearance: none;
    background-color: var(--nscde-bg-color-6);
    color: var(--nscde-fg-color-6);
  }

  menupopup:active, menuitem:is(:active, :open, :checked) {
    -moz-appearance: none;
    background-color: var(--nscde-sel-color-6);
    color: var(--nscde-fg-color-6);
    border-top: 1px solid var(--nscde-bs-color-6);
    border-left: 1px solid var(--nscde-bs-color-6);
    border-right: 1px solid var(--nscde-ts-color-6);
    border-bottom: 1px solid var(--nscde-ts-color-6);
    padding: -2px;
    margin: -1px;
  }

  .dialogClose,
  .dialogTitleBar {
      background-color: var(--nscde-bg-color-1);
      color: var(--nscde-fg-color-1);
      border-width: 1px;
      border-top: 1px solid var(--nscde-ts-color-1);
      border-left: 1px solid var(--nscde-ts-color-1);
      border-right: 1px solid var(--nscde-bs-color-1);
      border-bottom: 1px solid var(--nscde-bs-color-1);
      border-radius: 0px;
  }

  .dialogClose:is([checked="true"], :hover:active) {
      background-color: var(--nscde-bg-color-1);
      color: var(--nscde-fg-color-1);
      border-top: 1px solid var(--nscde-bs-color-1);
      border-left: 1px solid var(--nscde-bs-color-1);
      border-right: 1px solid var(--nscde-ts-color-1);
      border-bottom: 1px solid var(--nscde-ts-color-1);
      border-radius: 0px;
  }

  .close-icon > .button-box > .button-icon {
    fill: var(--nscde-fg-color-1);
  }

  .dialogBox {
      background-color: var(--nscde-bg-color-6);
      color: var(--nscde-fg-color-6);
      border-top: 1px solid var(--nscde-ts-color-6);
      border-left: 1px solid var(--nscde-ts-color-6);
      border-right: 1px solid var(--nscde-bs-color-6);
      border-bottom: 1px solid var(--nscde-bs-color-6);
      border-radius: 0px;
  }

  input[type="radio"],
  input[type="checkbox"],
  .radio-check,
  .checkbox-check {
      background-color: var(--nscde-bg-color-5);
      color: var(--nscde-fg-color-5);
      border-top: 1px solid var(--nscde-ts-color-5);
      border-left: 1px solid var(--nscde-ts-color-5);
      border-right: 1px solid var(--nscde-bs-color-5);
      border-bottom: 1px solid var(--nscde-bs-color-5);
  }

  input[type="radio"]:checked,
  input[type="checkbox"]:checked,
  .radio-check[selected],
  .checkbox-check[checked="true"] {
      background-color: var(--nscde-sel-color-5);
      color: var(--nscde-fg-color-5);
      border-top: 1px solid var(--nscde-bs-color-5);
      border-left: 1px solid var(--nscde-bs-color-5);
      border-right: 1px solid var(--nscde-ts-color-5);
      border-bottom: 1px solid var(--nscde-ts-color-5);
  }

  #handlersView {
      background-color: var(--nscde-bg-color-4);
      color: var(--nscde-fg-color-4);
      border-top: 1px solid var(--nscde-bs-color-5);
      border-left: 1px solid var(--nscde-bs-color-5);
      border-right: 1px solid var(--nscde-ts-color-5);
      border-bottom: 1px solid var(--nscde-ts-color-5);
  }

  .info-panel, .extension-controlled {
      background-color: var(--nscde-sel-color-5);
      color: var(--nscde-fg-color-5);
      border-top: 1px solid var(--nscde-bs-color-5);
      border-left: 1px solid var(--nscde-bs-color-5);
      border-right: 1px solid var(--nscde-ts-color-5);
      border-bottom: 1px solid var(--nscde-ts-color-5);
  }

  #categories .category-name {
    background-color: inherit;
    color: inherit;
  }

  #categories .category-icon {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    fill: var(--nscde-fg-color-5);
  }

  #categories > .category:hover,
  #categories > .category {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    fill: var(--nscde-fg-color-5);
    border-left: 1px solid var(--nscde-ts-color-5);
    border-top: 1px solid var(--nscde-ts-color-5);
    border-right: 1px solid var(--nscde-bs-color-5);
    border-bottom: 1px solid var(--nscde-bs-color-5);
    border-radius: 0px;
  }

  #categories > .category:is(:active, :focus, [selected]) .category-icon {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
    fill: var(--nscde-fg-color-5);
  }

  #categories > .category:is(:active, :focus, [selected]) {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-top: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
  }

  .info-box-container {
    border-radius: 0px;
  }
}

@-moz-document url-prefix(about:addons) {
  * {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    border-right-color: var(--nscde-bs-color-5);
    border-left-color: var(--nscde-ts-color-5);
    border-bottom-color: var(--nscde-bs-color-5);
    border-top-color: var(--nscde-ts-color-5);
  }

  button:is(:active,[open="true"]):not([disabled="true"]) {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
    border-right-color: var(--nscde-ts-color-5);
    border-left-color: var(--nscde-bs-color-5);
    border-bottom-color: var(--nscde-ts-color-5);
    border-top-color: var(--nscde-bs-color-5);
  }

  .page-options-menu > .more-options-button {
    background-color: var(--nscde-bg-color-6);
    color: var(--nscde-fg-color-6);
    fill: var(--nscde-fg-color-6);
    border-top: 1px solid var(--nscde-ts-color-6);
    border-left: 1px solid var(--nscde-ts-color-6);
    border-right: 1px solid var(--nscde-bs-color-6);
    border-bottom: 1px solid var(--nscde-bs-color-6);
  }

  #categories .category-name {
    background-color: inherit;
    color: inherit;
  }

  #categories .category-icon {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    fill: var(--nscde-fg-color-5);
  }

  #categories > .category:hover,
  #categories > .category {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    fill: var(--nscde-fg-color-5);
    border-left: 1px solid var(--nscde-ts-color-5);
    border-top: 1px solid var(--nscde-ts-color-5);
    border-right: 1px solid var(--nscde-bs-color-5);
    border-bottom: 1px solid var(--nscde-bs-color-5);
  }

  #categories > .category:focus,
  #categories > .category:active {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-top: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
  }

  .sidebar-footer-link {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    border-top: 1px solid var(--nscde-ts-color-5);
    border-left: 1px solid var(--nscde-ts-color-5);
    border-right: 1px solid var(--nscde-bs-color-5);
    border-bottom: 1px solid var(--nscde-bs-color-5);
  }

  .sidebar-footer-link:active {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
  }

  addon-card:not([expanded]) > .addon.card:hover,
  .addon.card:hover {
    box-shadow: none;
    cursor: default;
  }

  panel-item-separator {
    border-top: 1px solid var(--nscde-bs-color-6);
    border-bottom: 1px solid var(--nscde-ts-color-6);
    height: 0px;
  }

  panel-list,
  .list {
    -moz-appearance: none;
    background-color: var(--nscde-bg-color-6);
    fill: var(--nscde-fg-color-6);
    color: var(--nscde-fg-color-6);
    border-top: 1px solid var(--nscde-ts-color-6);
    border-left: 1px solid var(--nscde-ts-color-6);
    border-right: 1px solid var(--nscde-bs-color-6);
    border-bottom: 1px solid var(--nscde-bs-color-6);
  }

  link + button *,
  link + button {
    background-color: var(--nscde-bg-color-6);
    color: var(--nscde-fg-color-6);
    fill: var(--nscde-fg-color-6);
    border: 1px solid var(--nscde-bg-color-6);
  }
  link + button:is(:active, :focus) * {
    background-color: var(--nscde-sel-color-6);
    border: 1px solid var(--nscde-sel-color-6);
  }
  link + button:is(:active, :focus) {
    background-color: var(--nscde-sel-color-6);
    color: var(--nscde-fg-color-6);
    fill: var(--nscde-fg-color-6);
    border-top: 1px solid var(--nscde-bs-color-6);
    border-left: 1px solid var(--nscde-bs-color-6);
    border-right: 1px solid var(--nscde-ts-color-6);
    border-bottom: 1px solid var(--nscde-ts-color-6);
  }

  input[type="checkbox"].toggle-button {
    -moz-appearance: none;
    background-color: var(--nscde-bg-color-5);
    fill: var(--nscde-fg-color-5);
    color: var(--nscde-fg-color-5);
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
    box-shadow: none;
  }

  input[type="checkbox"].toggle-button:is(:checked, :hover) {
    -moz-appearance: none;
    background-color: var(--nscde-sel-color-5);
  }

  input[type="checkbox"].toggle-button::before {
    background: var(--nscde-fg-color-5);
  }
}

@-moz-document url-prefix(about:devtools) {
  .feature {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    border-width: 1px;
    border-top: 1px solid var(--nscde-ts-color-5);
    border-left: 1px solid var(--nscde-ts-color-5);
    border-right: 1px solid var(--nscde-bs-color-5);
    border-bottom: 1px solid var(--nscde-bs-color-5);
    border-radius: 0px;
    cursor: default;
  }
  .feature:hover {
    box-shadow: 0 0 0 2px var(--nscde-bg-color-1);
    transition: none;
  }
  .feature:active {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
    border-width: 1px;
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
    border-radius: 0px;
    cursor: default;
    box-shadow: 0 0 0 2px var(--nscde-bg-color-1);
    transition: none;
  }
  .features {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
    border-width: 1px;
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
    border-radius: 0px;
    cursor: default;
  }
}

@-moz-document url-prefix(about:downloads) {
  #downloadsRichListBox {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
    border-width: 1px;
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
    border-radius: 0px;
    cursor: default;
  }
  #downloadsRichListBox > richlistitem {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    border-width: 1px;
    border-top: 1px solid var(--nscde-ts-color-5);
    border-left: 1px solid var(--nscde-ts-color-5);
    border-right: 1px solid var(--nscde-bs-color-5);
    border-bottom: 1px solid var(--nscde-bs-color-5);
    border-radius: 0px;
    cursor: default;
  }
  #downloadsRichListBox > richlistitem:active {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
    border-width: 1px;
    border-top: 1px solid var(--nscde-ts-color-5);
    border-left: 1px solid var(--nscde-ts-color-5);
    border-right: 1px solid var(--nscde-bs-color-5);
    border-bottom: 1px solid var(--nscde-bs-color-5);
    border-radius: 0px;
    cursor: default;
    box-shadow: 0 0 0 2px var(--nscde-bg-color-1);
    transition: none;
  }
  .downloadProgress::-moz-progress-bar {
    background-color: var(--nscde-fg-color-5);
  }
}

@-moz-document url-prefix(about:logins) {
  .login-list-item,
  .login-list-item:hover,
  .create-login-button-container,
  .meta {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    border-width: 1px;
    border-top: 1px solid var(--nscde-ts-color-5);
    border-left: 1px solid var(--nscde-ts-color-5);
    border-right: 1px solid var(--nscde-bs-color-5);
    border-bottom: 1px solid var(--nscde-bs-color-5);
    border-radius: 0px;
    cursor: default;
  }

  .login-list-item,
  .login-list-item:hover,
  .login-list-item.selected {
    margin: 6px;
  }

  .menu,
  .menu-button {
    background-color: var(--nscde-bg-color-6);
    color: var(--nscde-fg-color-6);
    border-top: 1px solid var(--nscde-ts-color-6);
    border-left: 1px solid var(--nscde-ts-color-6);
    border-right: 1px solid var(--nscde-bs-color-6);
    border-bottom: 1px solid var(--nscde-bs-color-6);
    border-radius: 0px;
  }

  .menuitem-button {
    background-color: var(--nscde-bg-color-6);
    border: 1px solid var(--nscde-bg-color-6);
    color: var(--nscde-fg-color-6);
  }

  .menu-button:is(:active, :open, :checked),
  .menuitem-button:is(:active, :open, :checked) {
    background-color: var(--nscde-sel-color-6);
    color: var(--nscde-fg-color-6);
    border-top: 1px solid var(--nscde-bs-color-6);
    border-left: 1px solid var(--nscde-bs-color-6);
    border-right: 1px solid var(--nscde-ts-color-6);
    border-bottom: 1px solid var(--nscde-ts-color-6);
  }

  .menuitem-separator {
    -moz-appearance: none;
    background-color: var(--nscde-bg-color-6);
    color: var(--nscde-fg-color-6);
    border-top: 1px solid var(--nscde-bs-color-6);
    border-left: 1px solid var(--nscde-bs-color-6);
    border-right: 1px solid var(--nscde-ts-color-6);
    border-bottom: 1px solid var(--nscde-ts-color-6);
  }

  .login-list-item.selected {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
    border-width: 1px;
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
    border-radius: 0px;
    cursor: default;
  }

  ol,
  .empty-search-message,
  .intro {
    background-color: var(--nscde-bg-color-2);
    color: var(--nscde-fg-color-2);
    border-width: 1px;
    border-top: 1px solid var(--nscde-ts-color-5);
    border-left: 1px solid var(--nscde-ts-color-5);
    border-right: 1px solid var(--nscde-bs-color-5);
    border-bottom: 1px solid var(--nscde-bs-color-5);
    border-radius: 0px;
    cursor: default;
  }

  input {
    border-width: 1px;
    border-radius: 0px;
    background-color: var(--nscde-bg-color-4);
    color: var(--nscde-fg-color-4);
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
  }
}

@-moz-document url-prefix(about:memory) {
  div.opsRow {
    border-radius: 0px;
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
  }
  div.sidebarItem,
  div.opsRowLabel {
    border-radius: 0px;
    font-weight: bold;
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
  }
  div.section {
    background-color: var(--nscde-bg-color-4);
    color: var(--nscde-fg-color-4);
    border-radius: 0px;
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
  }

}

@-moz-document url-prefix(about:performance) {
  #dispatch-table {
    background-color: var(--nscde-bg-color-5);
    color: var(--nscde-fg-color-5);
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
  }
}

@-moz-document url-prefix(about:profiling) {
  .perf-settings-dir-list {
    background-color: var(--nscde-bg-color-4);
    color: var(--nscde-fg-color-4);
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
  }
}

@-moz-document url-prefix(about:telemetry) {
  #categories {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
    border-top: 1px solid var(--nscde-bs-color-5);
    border-left: 1px solid var(--nscde-bs-color-5);
    border-right: 1px solid var(--nscde-ts-color-5);
    border-bottom: 1px solid var(--nscde-ts-color-5);
  }
  #categories .category,
  #categories .category:hover {
    background-color: var(--nscde-sel-color-5);
    color: var(--nscde-fg-color-5);
  }
  #categories .category.selected {
    font-weight: bold;
    border: 1px solid var(--nscde-bg-color-1);
  }
  #categories .category.selected .category-subsection {
    font-weight: normal;
    font-style: italic;
  }
  #categories .category.selected .category-subsection.selected {
    font-weight: bold;
  }
}

window#FontsDialog button,
window#ColorsDialog button,
window#BlocklistsDialog button,
window#ClearSiteDataDialog button,
window#ContainersDialog button,
window#PermissionsDialog button,
window#SanitizeDialog button,
window#SiteDataRemoveSelectedDialog button,
window#SiteDataSettingsDialog button,
window#SitePermissionsDialog button,
window#TranslationDialog button {
  border-width: 1px;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-left-color: var(--nscde-ts-color-6);
  border-right-color: var(--nscde-bs-color-6);
  border-top-color: var(--nscde-ts-color-6);
  border-bottom-color: var(--nscde-bs-color-6);
  border-radius: 0px;
}

window#FontsDialog button:is(:hover:active,[open="true"]):not([disabled="true"]),
window#ColorsDialog button:is(:hover:active,[open="true"]):not([disabled="true"]),
window#BlocklistsDialog button:is(:hover:active,[open="true"]):not([disabled="true"]),
window#ClearSiteDataDialog button:is(:hover:active,[open="true"]):not([disabled="true"]),
window#ContainersDialog button:is(:hover:active,[open="true"]):not([disabled="true"]),
window#PermissionsDialog button:is(:hover:active,[open="true"]):not([disabled="true"]),
window#SanitizeDialog button:is(:hover:active,[open="true"]):not([disabled="true"]),
window#SiteDataRemoveSelectedDialog button:is(:hover:active,[open="true"]):not([disabled="true"]),
window#SiteDataSettingsDialog button:is(:hover:active,[open="true"]):not([disabled="true"]),
window#SitePermissionsDialog button:is(:hover:active,[open="true"]):not([disabled="true"]),
window#TranslationDialog button:is(:hover:active,[open="true"]):not([disabled="true"]) {
  border-width: 1px;
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-left-color: var(--nscde-bs-color-6);
  border-right-color: var(--nscde-ts-color-6);
  border-top-color: var(--nscde-bs-color-6);
  border-bottom-color: var(--nscde-ts-color-6);
}

window#FontsDialog,
window#ColorsDialog,
window#BlocklistsDialog,
window#ClearSiteDataDialog,
window#ContainersDialog,
window#PermissionsDialog,
window#SanitizeDialog,
window#SiteDataRemoveSelectedDialog,
window#SiteDataSettingsDialog,
window#SitePermissionsDialog,
window#TranslationDialog {
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
}

window#FontsDialog dialog,
window#ColorsDialog dialog,
window#BlocklistsDialog dialog,
window#ClearSiteDataDialog dialog,
window#ContainersDialog dialog,
window#PermissionsDialog dialog,
window#SanitizeDialog dialog,
window#SiteDataRemoveSelectedDialog dialog,
window#SiteDataSettingsDialog dialog,
window#SitePermissionsDialog dialog,
window#TranslationDialog dialog {
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-ts-color-6);
  border-left: 1px solid var(--nscde-ts-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-bs-color-6);
  border-radius: 0px;
}

window#FontsDialog listheader > treecol,
window#ColorsDialog listheader > treecol,
window#BlocklistsDialog listheader > treecol,
window#ClearSiteDataDialog listheader > treecol,
window#ContainersDialog listheader > treecol,
window#PermissionsDialog listheader > treecol,
window#SanitizeDialog listheader > treecol,
window#SiteDataRemoveSelectedDialog listheader > treecol,
window#SiteDataSettingsDialog listheader > treecol,
window#SitePermissionsDialog listheader > treecol,
window#TranslationDialog listheader > treecol {
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-ts-color-6);
  border-left: 1px solid var(--nscde-ts-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-bs-color-6);
}

window#FontsDialog richlistbox,
window#ColorsDialog richlistbox,
window#BlocklistsDialog richlistbox,
window#ClearSiteDataDialog richlistbox,
window#ContainersDialog richlistbox,
window#PermissionsDialog richlistbox,
window#SanitizeDialog richlistbox,
window#SiteDataRemoveSelectedDialog richlistbox,
window#SiteDataSettingsDialog richlistbox,
window#SitePermissionsDialog richlistbox,
window#TranslationDialog richlistbox {
  background-color: var(--nscde-bg-color-4);
  color: var(--nscde-fg-color-4);
  border-top-color: var(--nscde-bs-color-6);
  border-bottom-color: var(--nscde-ts-color-6);
  border-left-color: var(--nscde-bs-color-6);
  border-right-color: var(--nscde-ts-color-6);
}

window#FontsDialog input,
window#ColorsDialog input,
window#BlocklistsDialog input,
window#ClearSiteDataDialog input,
window#ContainersDialog input,
window#PermissionsDialog input,
window#SanitizeDialog input,
window#SiteDataRemoveSelectedDialog input,
window#SiteDataSettingsDialog input,
window#SitePermissionsDialog input,
window#TranslationDialog input {
  background-color: var(--nscde-bg-color-4);
  color: var(--nscde-fg-color-4);
  border-top-color: var(--nscde-bs-color-6);
  border-bottom-color: var(--nscde-ts-color-6);
  border-left-color: var(--nscde-bs-color-6);
  border-right-color: var(--nscde-ts-color-6);
}

window#FontsDialog search-textbox,
window#ColorsDialog search-textbox,
window#BlocklistsDialog search-textbox,
window#ClearSiteDataDialog search-textbox,
window#ContainersDialog search-textbox,
window#PermissionsDialog search-textbox,
window#SanitizeDialog search-textbox,
window#SiteDataRemoveSelectedDialog search-textbox,
window#SiteDataSettingsDialog search-textbox,
window#SitePermissionsDialog search-textbox,
window#TranslationDialog search-textbox {
  background-color: var(--nscde-bg-color-4);
  color: var(--nscde-fg-color-4);
  border-top-color: var(--nscde-bs-color-6);
  border-bottom-color: var(--nscde-ts-color-6);
  border-left-color: var(--nscde-bs-color-6);
  border-right-color: var(--nscde-ts-color-6);
}

window menulist {
  border-radius: 0px;
}

window input[type="color"] {
  background-image: none;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-6);
  border-left: 1px solid var(--nscde-ts-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-bs-color-6);
  border-radius: 0px;
}

window input[type="color"]:active {
  background-color: var(--nscde-sel-color-6);
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

window .tree-columnpicker-button {
  border-image: none;
  fill: var(--nscde-fg-color-6);
}

.proxy-port-input {
  width: calc(5ch + 38px);
}

.dialog-button-box button {
  border-width: 1px;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  border-left-color: var(--nscde-ts-color-6);
  border-right-color: var(--nscde-bs-color-6);
  border-top-color: var(--nscde-ts-color-6);
  border-bottom-color: var(--nscde-bs-color-6);
}

.dialog-button-box button:is(:hover:active,[open="true"]):not([disabled="true"]) {
  border-width: 1px;
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-left-color: var(--nscde-bs-color-6);
  border-right-color: var(--nscde-ts-color-6);
  border-top-color: var(--nscde-bs-color-6);
  border-bottom-color: var(--nscde-ts-color-6);
}

window dialog input,
window dialog textarea {
  background-color: var(--nscde-bg-color-4);
  color: var(--nscde-fg-color-4);
  border-top-color: var(--nscde-bs-color-6);
  border-bottom-color: var(--nscde-ts-color-6);
  border-left-color: var(--nscde-bs-color-6);
  border-right-color: var(--nscde-ts-color-6);
}

window dialog tab,
window dialog button,
window .radio-check,
window .checkbox-check {
    background-color: var(--nscde-bg-color-6);
    color: var(--nscde-fg-color-6);
    border-top: 1px solid var(--nscde-ts-color-6);
    border-left: 1px solid var(--nscde-ts-color-6);
    border-right: 1px solid var(--nscde-bs-color-6);
    border-bottom: 1px solid var(--nscde-bs-color-6);
}

window dialog tab:is(:hover:active,[open="true"],[selected="true"]):not([disabled="true"]),
window dialog button:is(:hover:active,[open="true"]):not([disabled="true"]),
window .radio-check[selected],
window .checkbox-check[checked="true"] {
    background-color: var(--nscde-sel-color-6);
    color: var(--nscde-fg-color-6);
    border-top: 1px solid var(--nscde-bs-color-6);
    border-left: 1px solid var(--nscde-bs-color-6);
    border-right: 1px solid var(--nscde-ts-color-6);
    border-bottom: 1px solid var(--nscde-ts-color-6);
}

window tree,
window richlistbox {
  background-color: var(--nscde-bg-color-4);
  color: var(--nscde-fg-color-4);
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
  border-radius: 0px;
  --in-content-item-selected: var(--nscde-bg-color-1);
  --in-content-item-selected-text: var(--nscde-fg-color-1);
  --in-content-item-hover: var(--nscde-bg-color-4);
  --in-content-item-hover-text: var(--nscde-fg-color-4);
}

window menupopup, window menulist, window menuseparator {
    -moz-appearance: none;
    --panel-border-color: var(--nscde-bg-color-6);
    background-color: var(--nscde-bg-color-6);
    color: var(--nscde-fg-color-6);
    border-top: 1px solid var(--nscde-ts-color-6);
    border-left: 1px solid var(--nscde-ts-color-6);
    border-right: 1px solid var(--nscde-bs-color-6);
    border-bottom: 1px solid var(--nscde-bs-color-6);
}

window dialog,
window menuitem {
    border-width: 1px;
    -moz-appearance: none;
    background-color: var(--nscde-bg-color-6);
    color: var(--nscde-fg-color-6);
}

window menupopup:active, window menuitem:active {
    border-width: 1px;
    -moz-appearance: none;
    background-color: var(--nscde-sel-color-6);
    color: var(--nscde-fg-color-6);
    border-top: 1px solid var(--nscde-bs-color-6);
    border-left: 1px solid var(--nscde-bs-color-6);
    border-right: 1px solid var(--nscde-ts-color-6);
    border-bottom: 1px solid var(--nscde-ts-color-6);
}

window menulist:is(:active, :hover:active, [open], [checked], [selected="true"]) {
  background-color: var(--nscde-sel-color-6);
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
}

window menuitem:is(:active, :open, :checked) {
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
  padding: 2px;
}

search-textbox,
input:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="color"]):not([type="image"]):not([type="range"]):not([type="reset"]):not([type="submit"]),
textarea {
  -moz-appearance: none;
  background-color: var(--nscde-bg-color-4);
  color: var(--nscde-fg-color-4);
  fill: var(--nscde-fg-color-4);
  border-radius: 0px;
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
}

.btn,
.btn:hover,
select,
button:not(.color-picker__simple-color-circle) {
  -moz-appearance: none;
  background-color: var(--nscde-bg-color-5);
  color: var(--nscde-fg-color-5);
  fill: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
  border-radius: 0px;
}

.btn:is(:active,[open="true"]):not([disabled="true"]),
select:is(:active,[open="true"]):not([disabled="true"]),
button:is(:active,[open="true"]):not([disabled="true"]) {
  -moz-appearance: none;
  background-color: var(--nscde-sel-color-5);
  color: var(--nscde-fg-color-5);
  fill: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-bs-color-5);
  border-left: 1px solid var(--nscde-bs-color-5);
  border-right: 1px solid var(--nscde-ts-color-5);
  border-bottom: 1px solid var(--nscde-ts-color-5);
}

/ Player controls */
.player .fill,
.ytp-button * {
  background-color: var(--nscde-bg-color-5);
  fill: var(--nscde-fg-color-5);
  color: var(--nscde-fg-color-5);
}

/* PDF viewer */
#viewerContainer {
  background-color: var(--nscde-bg-color-2);
  color: var(--nscde-fg-color-2);
}

#toolbarViewer {
  -moz-appearance: none;
  background-color: var(--nscde-sel-color-5);
  color: var(--nscde-fg-color-5);
  fill: var(--nscde-fg-color-5);
  border-top: 1px solid var(--nscde-ts-color-5);
  border-left: 1px solid var(--nscde-ts-color-5);
  border-right: 1px solid var(--nscde-bs-color-5);
  border-bottom: 1px solid var(--nscde-bs-color-5);
}

.secondaryToolbar {
  -moz-appearance: none;
  background-image: none;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  fill: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-ts-color-6);
  border-left: 1px solid var(--nscde-ts-color-6);
  border-right: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-bs-color-6);
}

#secondaryToolbarButtonContainer .horizontalToolbarSeparator {
  border-top: 1px solid var(--nscde-bs-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
  height: 0px;
}

.secondaryToolbarButton::before {
  background-color: var(--nscde-fg-color-6);
}

#secondaryToolbarButtonContainer button {
  -moz-appearance: none;
  background-image: none;
  background-color: var(--nscde-bg-color-6);
  color: var(--nscde-fg-color-6);
  fill: var(--nscde-fg-color-6);
  border: 1px solid var(--nscde-bg-color-6);
  box-shadow: none;
}

#secondaryToolbarButtonContainer button:is(:active,[open="true"]):not([disabled="true"]) {
  -moz-appearance: none;
  background-image: none;
  background-color: var(--nscde-sel-color-6);
  color: var(--nscde-fg-color-6);
  fill: var(--nscde-fg-color-6);
  border-top: 1px solid var(--nscde-bs-color-6);
  border-left: 1px solid var(--nscde-bs-color-6);
  border-right: 1px solid var(--nscde-ts-color-6);
  border-bottom: 1px solid var(--nscde-ts-color-6);
  box-shadow: none;
}

@media not (prefers-contrast) {
  :root[dialogroot], :host(dialog) {
    --in-content-page-background: var(--nscde-bg-color-6);
  }

  .content-blocking-warning,
  .content-blocking-category {
    background-color: inherit;
    color: inherit;
    border-color: var(--nscde-fg-color-5);
    border-radius: 0px;
  }

  .content-blocking-category.selected .content-blocking-warning,
  .content-blocking-category.selected {
    background-color: var(--nscde-sel-color-5);
    color: inherit;
    border-radius: 0px;
    border-color: var(--nscde-fg-color-5);
  }
}

:root {
  --in-content-focus-outline-color: var(--nscde-bg-color-1);
  --focus-outline-color: var(--nscde-bg-color-1);
}

::selection {
  background-color: var(--nscde-sel-color-4);
  color: var(--nscde-fg-color-4);
}

input::selection, textarea::selection {
  background-color: var(--nscde-fg-color-4);
  color: var(--nscde-sel-color-4);
}

