/*
 * This file is a part of the NsCDE - Not so Common Desktop Environment
 * Author: Hegel3DReloaded
 * Licence: GPLv3
*/

/* userChrome.css NsCDE include CSS file for firefox - nsicons part */

#home-button {
  list-style-image: url("nsicons/nsHomeRegular.png");
  max-width: 36px;
}

#home-button:hover {
  list-style-image: url("nsicons/nsHomeHighlight.png");
  max-width: 36px;
}

#home-button:disabled {
  list-style-image: url("nsicons/nsHomeDisabled.png");
  max-width: 36px;
}

#context-back,
#back-button {
  list-style-image: url("nsicons/nsBackRegular.png");
}

#context-back:hover,
#back-button:hover {
  list-style-image: url("nsicons/nsBackHighlight.png");
}

#context-back[disabled],
#back-button[disabled] {
  list-style-image: url("nsicons/nsBackDisabled.png");
}

#context-forward,
#forward-button, #button-goback[chromedir="rtl"] {
  list-style-image: url("nsicons/nsForwardRegular.png");
}

#context-forward:hover,
#forward-button:hover, #button-goback:hover[chromedir="rtl"]{
  list-style-image: url("nsicons/nsForwardHighlight.png");
}

#context-forward[disabled],
#forward-button[disabled] {
  list-style-image: url("nsicons/nsForwardDisabled.png");
}

#context-stop,
#stop-button {
  list-style-image: url("nsicons/nsStopRegular.png");
}

#context-stop:hover,
#stop-button:hover {
  list-style-image: url("nsicons/nsStopHighlight.png");
}

#context-stop[disabled="true"],
#stop-button[disabled="true"] {
  list-style-image: url("nsicons/nsStopDisabled.png");
}

#context-reload,
#reload-button {
  list-style-image: url("nsicons/Reload.png");
}

#context-reload:hover,
#reload-button:hover {
  list-style-image: url("nsicons/ReloadActive.png");
}

#context-reload[disabled="true"],
#reload-button[disabled] {
  list-style-image: url("nsicons/ReloadDisabled.png");
}

#print-button {
  list-style-image: url("nsicons/nsPrintRegular.png");
}

#print-button:hover {
  list-style-image: url("nsicons/nsPrintHighlight.png");
}

#print-button[disabled] {
  list-style-image: url("nsicons/nsPrintDisabled.png");
}

#bookmarks-menu-button {
  list-style-image: url("nsicons/Bookmarks.png");
}

#find-button {
  list-style-image: url("nsicons/Find.png");
}

#history-panelmenu {
  list-style-image: url("nsicons/History.png");
}

#library-button {
  list-style-image: url("nsicons/Library.png");
}

#sidebar-button {
  list-style-image: url("nsicons/Sidebar.png");
}

#panic-button {
  list-style-image: url("nsicons/Panic.png");
}

#save-page-button {
  list-style-image: url("nsicons/nsSavePage.png");
}

#open-file-button {
  list-style-image: url("nsicons/nsOpenFile.png");
}

#cut-button {
  list-style-image: url("nsicons/nsCutRegular.png");
}

#cut-button:hover {
  list-style-image: url("nsicons/nsCutHighlight.png");
}

#cut-button[disabled="true"] {
  list-style-image: url("nsicons/nsCutDisabled.png");
}

#copy-button {
  list-style-image: url("nsicons/nsCopyRegular.png");
}

#copy-button:hover {
  list-style-image: url("nsicons/nsCopyHighlight.png");
}

#copy-button[disabled="true"] {
  list-style-image: url("nsicons/nsCopyDisabled.png");
}

#paste-button {
  list-style-image: url("nsicons/nsPasteRegular.png");
}

#paste-button:hover {
  list-style-image: url("nsicons/nsPasteHighlight.png");
}

#paste-button[disabled="true"] {
  list-style-image: url("nsicons/nsPasteDisabled.png");
}

#email-link-button {
  list-style-image: url("nsicons/nsMailLinkRegular.png");
}

#email-link-button:hover {
  list-style-image: url("nsicons/nsMailLinkHighlight.png");
}

#email-link-button[disabled="true"] {
  list-style-image: url("nsicons/nsMailLinkDisabled.png");
}

#characterencoding-button {
  list-style-image: url("nsicons/nsCharacterEncodingRegular.png");
}

#characterencoding-button:hover {
  list-style-image: url("nsicons/nsCharacterEncodingHighlight.png");
}

#characterencoding-button[disabled="true"] {
  list-style-image: url("nsicons/nsCharacterEncodingDisabled.png");
}

#preferences-button {
 list-style-image: url("nsicons/advanced.png");
}

#new-window-button {
 list-style-image: url("nsicons/application.png");
}

/* Folders in trees */
treechildren::-moz-tree-image(title, container),
treechildren::-moz-tree-image(title, open) {
  list-style-image: url("nsicons/nsFolder.png");
}

/* calendar icon for folders grouping items by date */
treechildren::-moz-tree-image(title, query, dayContainer) {
  list-style-image: url("nsicons/histfile.png");
}

treechildren::-moz-tree-image(title, query, tagContainer),
treechildren::-moz-tree-image(query, OrganizerQuery_tags_______v) {
  list-style-image: url("nsicons/nsTreeTags.png");
}

treechildren::-moz-tree-image(query, OrganizerQuery_downloads__v) {
  list-style-image: url("nsicons/nsTreeDownloads.png");
}

/* nsicons on urlbar, menu and context menu. */

.bookmark-item[container] {
   list-style-image: url("nsicons/Bookmarks.png");
}

#context-bookmarkpage,
#pageAction-panel-bookmark,
#star-button {
  list-style-image: url("nsicons/bookmark-hollow.png");
}

#context-bookmarkpage[starred=true],
#pageAction-panel-bookmark[starred],
#star-button[starred] {
  list-style-image: url("nsicons/bookmark.png");
}

/* urlBar icons */
#tracking-protection-icon-box,
#identity-icon-box,
#tracking-protection-icon,
#identity-icon {
  width: 24px;
  height: 24px;
}

.identity-box-button {
  padding-inline: 0px;
  border-radius: 0px;
}

#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon, #identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon {
  list-style-image: url("nsicons/nsLockLockedRegular.png");
}

#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon:hover, #identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon {
  list-style-image: url("nsicons/nsLockLockedHighlight.png");
}

#identity-icon {
  list-style-image: url("nsicons/nsLockUnknownRegular.png");
}

#identity-icon:hover,
#identity-icon:active {
  list-style-image: url("nsicons/nsLockUnknownHighlight.png");
}

#identity-box[pageproxystate="valid"].notSecure #identity-icon {
  list-style-image: url("nsicons/nsLockUnlockedRegular.png");
}

#identity-box[pageproxystate="valid"].notSecure #identity-icon:hover,
#identity-box[pageproxystate="valid"].notSecure #identity-icon:active {
  list-style-image: url("nsicons/nsLockUnlockedHighlight.png");
}

#urlbar-input-container[pageproxystate="valid"] > #tracking-protection-icon-container > #tracking-protection-icon-box > #tracking-protection-icon {
  list-style-image: url("nsicons/nsSiteInfo.png");
}

/* Statusbar icons */
#sidebar-switcher-bookmarks > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewBookmarksSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  list-style-image: url("nsicons/bookmark.png");
}

#sidebar-switcher-history > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewHistorySidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  list-style-image: url("nsicons/History.png");
}

/*
#sidebar-switcher-tabs > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewTabsSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
 list-style-image: url("nsicons/Tab.png");
}
*/

