/*
 * This file is a part of the NsCDE - Not so Common Desktop Environment
 * Author: Hegel3DReloaded
 * Licence: GPLv3
*/

/* userChrome.css NsCDE include CSS file for firefox - nsicons part */

#home-button {
  list-style-image: url("nsicons/nsHomeRegular.png") !important;
  max-width: 36px !important;
}

#home-button:hover {
  list-style-image: url("nsicons/nsHomeHighlight.png") !important;
  max-width: 36px;
}

#home-button:disabled {
  list-style-image: url("nsicons/nsHomeDisabled.png") !important;
  max-width: 36px;
}

#context-back,
#back-button {
  list-style-image: url("nsicons/nsBackRegular.png") !important;
}

#context-back:hover,
#back-button:hover {
  list-style-image: url("nsicons/nsBackHighlight.png") !important;
}

#context-back[disabled],
#back-button[disabled] {
  list-style-image: url("nsicons/nsBackDisabled.png") !important;
}

#context-forward,
#forward-button, #button-goback[chromedir="rtl"] {
  list-style-image: url("nsicons/nsForwardRegular.png") !important;
}

#context-forward:hover,
#forward-button:hover, #button-goback:hover[chromedir="rtl"]{
  list-style-image: url("nsicons/nsForwardHighlight.png") !important;
}

#context-forward[disabled],
#forward-button[disabled] {
  list-style-image: url("nsicons/nsForwardDisabled.png") !important;
}

#context-stop,
#stop-button {
  list-style-image: url("nsicons/nsStopRegular.png") !important;
}

#context-stop:hover,
#stop-button:hover {
  list-style-image: url("nsicons/nsStopHighlight.png") !important;
}

#context-stop[disabled="true"],
#stop-button[disabled="true"] {
  list-style-image: url("nsicons/nsStopDisabled.png") !important;
}

#context-reload,
#reload-button {
  list-style-image: url("nsicons/Reload.png") !important;
}

#context-reload:hover,
#reload-button:hover {
  list-style-image: url("nsicons/ReloadActive.png") !important;
}

#context-reload[disabled="true"],
#reload-button[disabled] {
  list-style-image: url("nsicons/ReloadDisabled.png") !important;
}

#print-button {
  list-style-image: url("nsicons/nsPrintRegular.png") !important;
}

#print-button:hover {
  list-style-image: url("nsicons/nsPrintHighlight.png") !important;
}

#print-button[disabled] {
  list-style-image: url("nsicons/nsPrintDisabled.png") !important;
}

#bookmarks-menu-button {
  list-style-image: url("nsicons/Bookmarks.png") !important;
}

#find-button {
  list-style-image: url("nsicons/Find.png") !important;
}

#history-panelmenu {
  list-style-image: url("nsicons/History.png") !important;
}

#library-button {
  list-style-image: url("nsicons/Library.png") !important;
}

#sidebar-button {
  list-style-image: url("nsicons/Sidebar.png") !important;
}

#panic-button {
  list-style-image: url("nsicons/Panic.png") !important;
}

#save-page-button {
  list-style-image: url("nsicons/nsSavePage.png") !important;
}

#open-file-button {
  list-style-image: url("nsicons/nsOpenFile.png") !important;
}

#cut-button {
  list-style-image: url("nsicons/nsCutRegular.png") !important;
}

#cut-button:hover {
  list-style-image: url("nsicons/nsCutHighlight.png") !important;
}

#cut-button[disabled="true"] {
  list-style-image: url("nsicons/nsCutDisabled.png") !important;
}

#copy-button {
  list-style-image: url("nsicons/nsCopyRegular.png") !important;
}

#copy-button:hover {
  list-style-image: url("nsicons/nsCopyHighlight.png") !important;
}

#copy-button[disabled="true"] {
  list-style-image: url("nsicons/nsCopyDisabled.png") !important;
}

#paste-button {
  list-style-image: url("nsicons/nsPasteRegular.png") !important;
}

#paste-button:hover {
  list-style-image: url("nsicons/nsPasteHighlight.png") !important;
}

#paste-button[disabled="true"] {
  list-style-image: url("nsicons/nsPasteDisabled.png") !important;
}

#email-link-button {
  list-style-image: url("nsicons/nsMailLinkRegular.png") !important;
}

#email-link-button:hover {
  list-style-image: url("nsicons/nsMailLinkHighlight.png") !important;
}

#email-link-button[disabled="true"] {
  list-style-image: url("nsicons/nsMailLinkDisabled.png") !important;
}

#characterencoding-button {
  list-style-image: url("nsicons/nsCharacterEncodingRegular.png") !important;
}

#characterencoding-button:hover {
  list-style-image: url("nsicons/nsCharacterEncodingHighlight.png") !important;
}

#characterencoding-button[disabled="true"] {
  list-style-image: url("nsicons/nsCharacterEncodingDisabled.png") !important;
}

#preferences-button {
 list-style-image: url("nsicons/advanced.png") !important;
}

#new-window-button {
 list-style-image: url("nsicons/application.png") !important;
}

/* Folders in trees */
treechildren::-moz-tree-image(title, container),
treechildren::-moz-tree-image(title, open) {
  list-style-image: url("nsicons/nsFolder.png") !important;
}

/* calendar icon for folders grouping items by date */
treechildren::-moz-tree-image(title, query, dayContainer) {
  list-style-image: url("nsicons/histfile.png") !important;
}

treechildren::-moz-tree-image(title, query, tagContainer),
treechildren::-moz-tree-image(query, OrganizerQuery_tags_______v) {
  list-style-image: url("nsicons/nsTreeTags.png") !important;
}

treechildren::-moz-tree-image(query, OrganizerQuery_downloads__v) {
  list-style-image: url("nsicons/nsTreeDownloads.png") !important;
}

/* nsicons on urlbar, menu and context menu. */

.bookmark-item[container] {
   list-style-image: url("nsicons/Bookmarks.png") !important;
}

#context-bookmarkpage,
#pageAction-panel-bookmark,
#star-button {
  list-style-image: url("nsicons/bookmark-hollow.png") !important;
}

#context-bookmarkpage[starred=true],
#pageAction-panel-bookmark[starred],
#star-button[starred] {
  list-style-image: url("nsicons/bookmark.png") !important;
}

/* urlBar icons */
#tracking-protection-icon-box,
#identity-icon-box,
#tracking-protection-icon,
#identity-icon {
  width: 24px !important;
  height: 24px !important;
}

#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon, #identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon {
  list-style-image: url("nsicons/nsLockLocked.png") !important;
}

#identity-box[pageproxystate="valid"].notSecure #identity-icon {
  list-style-image: url("nsicons/nsLockUnlocked.png") !important;
}

#urlbar-input-container[pageproxystate="valid"] > #tracking-protection-icon-container > #tracking-protection-icon-box > #tracking-protection-icon {
  list-style-image: url("nsicons/nsSiteInfo.png") !important;
}

/* Statusbar icons */
#sidebar-switcher-bookmarks > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewBookmarksSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  list-style-image: url("nsicons/bookmark.png") !important;
}

#sidebar-switcher-history > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewHistorySidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  list-style-image: url("nsicons/History.png") !important;
}

/*
#sidebar-switcher-tabs > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewTabsSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
 list-style-image: url("nsicons/Tab.png") !important;
}
*/

