NEdit*XmCursorPositionVisible: FALSE
NEdit*text.cursorForeground: Green
NEdit*text.cursorBackground: Red
NEdit.textFgColor: NSCDE_FG_COLOR_4
NEdit.textBgColor: NSCDE_BG_COLOR_4
NEdit.cursorFgColor: NSCDE_FG_COLOR_4
NEdit*text.autoWrapPastedText: False
NEdit*text.heavyCursor: True
NEdit*text.blinkRate: 0
NEdit.helpLinkColor: cyan
nc.autoStart: True
