! ==================================================================
! XBoard
! ==================================================================

XBoard*geometry: +120+30
XBoard*background: NSCDE_BG_COLOR_2
XBoard*foreground: NSCDE_FG_COLOR_2
XBoard*SimpleMenu*shadowWidth: 3
XBoard*whiteTime*shadowWidth: 3
XBoard*blackTime*shadowWidth: 3
XBoard.normalLayout.form.whiteTime.foreground: NSCDE_FG_COLOR_2
XBoard.normalLayout.form.whiteTime.background: NSCDE_BS_COLOR_2
XBoard*highlightLastMove: True
XBoard*whitePieceColor: #FFF7E9
XBoard*blackPieceColor: #000000
XBoard*lightSquareColor: NSCDE_FG_COLOR_2
XBoard*darkSquareColor: NSCDE_BG_COLOR_2
XBoard*highlightSquareColor: NSCDE_SEL_COLOR_2
