! ====================
! XClipboard resources
! ====================

xclipboard*Background: NSCDE_BG_COLOR_2
xclipboard*Foreground: NSCDE_FG_COLOR_2
xclipboard*geometry: 400x200
xclipboard.form.text.background: NSCDE_BG_COLOR_4
xclipboard.form.text.borderColor: NSCDE_SEL_COLOR_2
