XFontSel.geometry: 656x242+16+133
XFontSel*Background: NSCDE_BG_COLOR_2
XFontSel*Foreground: NSCDE_FG_COLOR_2

XFontSel.cursor:	left_ptr
*allowShellResize:	true

*commandBox.ShowGrip:	true
*commandBox*top:	chainTop
*commandBox*bottom:	chainTop

xfontsel.pane.fontName.background: NSCDE_BG_COLOR_4
xfontsel.pane.viewPort.sampleText.background: NSCDE_BG_COLOR_4

*quitButton.Label:	dismiss

*fieldBox*MenuButton.BorderWidth:	1
*fieldBox*MenuButton.internalHeight:	1
*fieldBox*MenuButton.internalWidth:	1
*fieldBox*MenuButton.shapeStyle:	rectangle

*fieldBox*field11.menu.Options.ShowUnselectable: False
