! =================================================================
! XScreenSaver
! =================================================================

xscreensaver.Dialog.headingFont: -*-times-bold-r-*-*-*-180-*-*-*-*-iso10646-1
xscreensaver.Dialog.bodyFont: -*-times-bold-r-*-*-*-140-*-*-*-*-iso10646-1
xscreensaver.Dialog.labelFont: -*-times-bold-r-*-*-*-140-*-*-*-*-iso10646-1
xscreensaver.Dialog.unameFont: -*-times-bold-r-*-*-*-120-*-*-*-*-iso10646-1
xscreensaver.Dialog.buttonFont: -*-times-bold-r-*-*-*-140-*-*-*-*-iso10646-1
xscreensaver.Dialog.dateFont: -*-times-medium-r-*-*-*-80-*-*-*-*-iso10646-1

xscreensaver.Dialog.background: NSCDE_BG_COLOR_5
xscreensaver.Dialog.foreground: NSCDE_FG_COLOR_5
xscreensaver.Dialog.topShadowColor: NSCDE_TS_COLOR_5
xscreensaver.Dialog.bottomShadowColor: NSCDE_BS_COLOR_5
xscreensaver.Dialog.highlightColor: NSCDE_SEL_COLOR_5
xscreensaver.Dialog.shadowThickness: 2
xscreensaver.Dialog.borderWidth: 0
xscreensaver.Dialog.text.background: NSCDE_BG_COLOR_4
xscreensaver.Dialog.text.foreground: NSCDE_FG_COLOR_4

xscreensaver*passwd.thermometer.foreground: #ffff00000000
xscreensaver*passwd.thermometer.width: 10

xscreensaver*splash*background: NSCDE_BG_COLOR_5
xscreensaver*splash*foreground: NSCDE_FG_COLOR_5
xscreensaver*splash*topShadowColor: NSCDE_TS_COLOR_5
xscreensaver*splash*bottomShadowColor: NSCDE_BS_COLOR_5

