! =====================================
! xterm
! =====================================

XTerm*saveLines: 1500
XTerm*scrollBar: true
XTerm*cursorColor: NSCDE_FG_COLOR_4
XTerm.VT100*pointerColor: NSCDE_FG_COLOR_4
XTerm*Background: NSCDE_BG_COLOR_4
XTerm*Foreground: NSCDE_FG_COLOR_4
XTerm.vt100.background: NSCDE_BG_COLOR_4
XTerm.vt100.foreground: NSCDE_FG_COLOR_4
XTerm*fullCursor: true
XTerm*titleBar: false
XTerm*appkeypadDefault: True
XTerm.VT100*dynamicColors: On
XTerm*visualBell: False
XTerm*VT100*colorMode: off
XTerm*VT100*underLine: on
xterm*VT100.Translations: #override\n\
 <KeyPress>Prior : scroll-back(1,page)\n\
 <KeyPress>Next : scroll-forw(1,page) \n\
 ~Meta <Key>BackSpace: string("\177") \n\
 <Key>Delete: string("\033[3~") \n\
 <Key>Home: string("\033OH") \n\
 <Key>End: string("\033OF") \n\
 Shift<Btn4Down>,<Btn4Up>:scroll-back(1,line)\n\
 Shift<Btn5Down>,<Btn5Up>:scroll-forw(1,line)\n\
 Ctrl<Btn4Down>,<Btn4Up>:scroll-back(1,page)\n\
 Ctrl<Btn5Down>,<Btn5Up>:scroll-forw(1,page)\n\
 <Btn4Down>,<Btn4Up>:scroll-back(1,halfpage)\n\
 <Btn5Down>,<Btn5Up>:scroll-forw(1,halfpage)
XTerm.vt100.faceName: DejaVu Sans Mono:style=Book:antialias=true
XTerm.vt100.faceSize: 10
XTerm.vt100.faceSize1: 5
XTerm.vt100.faceSize2: 7
XTerm.vt100.faceSize3: 9
XTerm.vt100.faceSize4: 10
XTerm.vt100.faceSize5: 12
XTerm.vt100.faceSize6: 14
