!
! This file is a part of the NsCDE - Not so Common Desktop Environment
! Author: Hegel3DReloaded
! Licence: GPLv3
!

xvidtune.background: NSCDE_BG_COLOR_2
xvidtune.foreground: NSCDE_FG_COLOR_2
xvidtune.form*Scrollbar*background: NSCDE_BG_COLOR_4
xvidtune.form*Command*background: NSCDE_BS_COLOR_2
xvidtune.form*Command*foreground: NSCDE_BG_COLOR_2
