[Desktop Entry]
Type=Application
Icon=preferences-desktop
Name=Style Manager
Name[hr]=Upravljač Stila
Comment=NsCDE Style Manager Main Panel
Comment[hr]=Glavni Panel NsCDE Upravljača Stila
Categories=Settings;DesktopSettings
Exec=nscde_fvwmclnt 'f_ToggleFvwmModule FvwmScript StyleMgr'
Terminal=false
OnlyShowIn=NsCDE;
