[Desktop Entry]
Type=Application
Icon=multimedia-volume-control
Name=Volume Control
Name[hr]=Kontrola Zvuka
Comment=Adjust the volume control
Comment[hr]=Podesite postavke zvuka
Categories=AudioVideo;Audio;Mixer
Exec=nscde_fvwmclnt 'Exec exec $[infostore.volumectrl]'
Terminal=false
OnlyShowIn=NsCDE;
