[Desktop Entry]
Type=Application
Icon=system-application-manager
Name=Application Manager
Name[hr]=Upravljač Aplikacija
Comment=NsCDE User Configured Application Manager
Comment[hr]=NsCDE Korisnički Postavljeni Upravljač Aplikacija
Categories=Utility;
Exec=nscde_fvwmclnt 'Exec exec $[infostore.appmgr]'
Terminal=false
OnlyShowIn=NsCDE;
