[Desktop Entry]
Type=Application
Icon=exit
Name=System Action
Name[hr]=Sistemska Akcija
Comment=NsCDE System Action Dialog
Comment[hr]=NsCDE Dijalog Sistemskih Akcija
Categories=System;
Exec=nscde_fvwmclnt 'f_ToggleFvwmFunc SysActionDialog Close f_RunQuickScriptDialog SysActionDialog'
Terminal=false
OnlyShowIn=NsCDE;
