[Desktop Entry]
Type=Application
Icon=printmgr
Name=Printer Manager
Name[hr]=Upravitelj Printera
Comment=Default Printer Manager
Comment[hr]=Zadani Upravitelj Printera
Categories=System;Utility;
Exec=$[infostore.printmgr]
Terminal=false
OnlyShowIn=NsCDE;
