[Desktop Entry]
Type=Application
Icon=utilities-system-monitor
Name=Task Manager
Name[hr]=Upravitelj Zadacima
Comment=Default Task Manager
Comment[hr]=Zadani Upravitelj Zadacima
Categories=System;Utility;
Exec=nscde_fvwmclnt 'Exec exec $[infostore.taskmgr]'
Terminal=false
OnlyShowIn=NsCDE;
