[Desktop Entry]
Type=Application
Icon=help-browser
Name=Documentation Browser
Name[hr]=Preglednik Dokumentation
Comment=Default documentation browser
Comment[hr]=Zadani preglednik dokumentacion
Categories=Utility;Viewer
Exec=nscde_fvwmclnt 'Exec exec $[infostore.docsbrowser]'
Terminal=false
OnlyShowIn=NsCDE;
