[Desktop Entry]
Type=Application
Icon=Mail
Name=E-Mail Reader
Name[hr]=Čitač E-Pošte
Comment=Default user e-mail reader
Comment[hr]=Zadani korisnikov čitač e-pošte
Categories=Network;Email;
Exec=nscde_fvwmclnt 'Exec exec $[infostore.mailreader]'
Terminal=false
OnlyShowIn=NsCDE;
