[Desktop Entry]
Type=Application
Icon=accessories-calculator.png
Name=Calculator
Name[hr]=Kalkulator
Comment=Default GUI Calculator for NsCDE
Comment[hr]=Zadani GUI Kalkulator za NsCDE
Categories=Utility;
Exec=nscde_fvwmclnt 'Exec exec $[infostore.calculator]'
Terminal=false
OnlyShowIn=NsCDE;
