[Desktop Entry]
Type=Application
Icon=system-workspaces-pages-manager
Name=Workspaces and Pages
Name[hr]=Radne Površine i Stranice
Comment=NsCDE FVWM Workspaces and Pages Style Manager
Comment[hr]=NsCDE FVWM Radnopovršinski i Stranični Upravljač Stila
Categories=Categories=Settings;DesktopSettings
Exec=nscde_fvwmclnt 'f_ToggleFvwmModule FvwmScript WsPgMgr $[infostore.desknum] $[infostore.pagematrixX] $[infostore.pagematrixY]'
Terminal=false
OnlyShowIn=NsCDE;
