[Desktop Entry]
Type=Application
Icon=watch-errors.png
Name=Watch Errors
Name[hr]=Prati Greške
Comment=Watch FVWM X11 and NsCDE Errors
Comment[hr]=Promatraj FVWM X11 i NsCDE Greške
Categories=Settings;DesktopSettings;System;
Exec=nscde_fvwmclnt 'f_ToggleFvwmFunc WatchWinMgrErrors Raise f_WatchErrors'
Terminal=false
OnlyShowIn=NsCDE;
