[Desktop Entry]
Type=Application
Icon=terminal.png
Name=Terminal
Name[hr]=Terminal
Comment=Default Terminal for NsCDE
Comment[hr]=Zadani Terminal za NsCDE
Categories=System;
Exec=nscde_fvwmclnt 'Exec exec $[infostore.terminal]'
Terminal=false
OnlyShowIn=NsCDE;
