[Desktop Entry]
Type=Application
Icon=system-info.png
Name=Workstation Information
Name[hr]=Informacije o Radnoj Stanici
Comment=Workstation Operating System and Desktop Information Dialog
Comment[hr]=Informacije o Radnoj Stanici Operativnom Sistemu i Desktopu
Categories=System;
Exec=nscde_fvwmclnt 'f_ToggleFvwmModule FvwmScript Sysinfo'
Terminal=false
OnlyShowIn=NsCDE;
