[Desktop Entry]
Comment[en_US]=Not so Common Desktop Environment
Comment=NsCDE
Exec=/opt/NsCDE/bin/nscde
Hidden=true
Name[en_US]=NsCDE
Name=NsCDE
Type=Application
X-MATE-Autostart-enabled=true
