/*
 * This file is a part of the NsCDE - Not so Common Desktop Environment
 * Author: Hegel3DReloaded
 * Licence: GPLv3
 */

QLineEdit, QSpinBox, QComboBox, QDateTimeEdit {
  color: NSCDE_FG_COLOR_4;
  background-color: NSCDE_BG_COLOR_4;
}

QTreeView {
  background-color: NSCDE_SEL_COLOR_5;
  color: NSCDE_FG_COLOR_5;
  border-top: 1px solid NSCDE_BS_COLOR_5;
  border-left: 1px solid NSCDE_BS_COLOR_5;
  border-bottom: 1px solid NSCDE_TS_COLOR_5;
  border-right: 1px solid NSCDE_TS_COLOR_5;
  margin-top: 2px;
  margin-left: 4px;
  margin-bottom: 1px;
  margin-right: 0px;
}

QMainWindow > QAbstractScrollArea > QAbstractItemView > QListView, QGraphicsView {
  background-color: NSCDE_SEL_COLOR_5;
  color: NSCDE_FG_COLOR_5;
  border-top: 1px solid NSCDE_BS_COLOR_5;
  border-left: 1px solid NSCDE_BS_COLOR_5;
  border-bottom: 1px solid NSCDE_TS_COLOR_5;
  border-right: 1px solid NSCDE_TS_COLOR_5;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
}

QStatusBar, QSizeGrip {
  border-bottom: 1px solid NSCDE_BS_COLOR_5;
  border-right: 1px solid NSCDE_BS_COLOR_5;
  border-top: 1px solid NSCDE_TS_COLOR_5;
  border-left: 1px solid NSCDE_TS_COLOR_5;
}

QSplitter:handle:vertical {
  background-position: center center;
  background-repeat: none;
  margin: 1px 1px 1px 1px;
  height: 2px;
}

DolphinViewContainer > DolphinView > QAbstractScrollArea {
  background-color: NSCDE_SEL_COLOR_5;
  color: NSCDE_FG_COLOR_5;
  border-top: 1px solid NSCDE_BS_COLOR_5;
  border-left: 1px solid NSCDE_BS_COLOR_5;
  border-bottom: 1px solid NSCDE_TS_COLOR_5;
  border-right: 1px solid NSCDE_TS_COLOR_5;
}

