/*
 * This file is a part of the NsCDE - Not so Common Desktop Environment
 * Author: Hegel3DReloaded
 * Licence: GPLv3
 */

QLineEdit, QSpinBox, QComboBox, QDateTimeEdit, QDoubleSpinBox, KCalcDisplay {
  color: NSCDE_FG_COLOR_4;
  background-color: NSCDE_BG_COLOR_4;
}

QSizeGrip {
  width: 8px;
  height: 8px;
}

QErrorMessage, QInputDialog, QProgressDialog, QMessageBox, QDialog {
  color: NSCDE_FG_COLOR_6;
  background-color: NSCDE_BG_COLOR_6;
}

QDialog QTabBar::tab {
  color: NSCDE_FG_COLOR_6;
  background-color: NSCDE_BG_COLOR_6;
  border-top: 1px solid NSCDE_TS_COLOR_6;
  border-left: 1px solid NSCDE_TS_COLOR_6;
  border-bottom: 1px solid NSCDE_BS_COLOR_6;
  border-right: 1px solid NSCDE_BS_COLOR_6;
  min-width: 80px;
  min-height: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

QDialog QComboBox QAbstractItemView {
  color: NSCDE_FG_COLOR_6;
  background-color: NSCDE_SEL_COLOR_6;
  border-top: 1px solid NSCDE_TS_COLOR_6;
  border-left: 1px solid NSCDE_TS_COLOR_6;
  border-bottom: 1px solid NSCDE_BS_COLOR_6;
  border-right: 1px solid NSCDE_BS_COLOR_6;
}

QDialog QComboBox::item:!selected {
  max-height: 32px;
  color: NSCDE_FG_COLOR_6;
  background-color: NSCDE_BG_COLOR_6;
  padding-left: 1px;
}

QDialog QComboBox::item:selected {
  max-height: 32px;
  color: NSCDE_FG_COLOR_6;
  background-color: NSCDE_SEL_COLOR_6;
  border-top: 1px solid NSCDE_BS_COLOR_6;
  border-left: 1px solid NSCDE_BS_COLOR_6;
  border-bottom: 1px solid NSCDE_TS_COLOR_6;
  border-right: 1px solid NSCDE_TS_COLOR_6;
  padding-left: 0px;
}

QDialog QComboBox::indicator:active:checked {
  image: url(RadioButtonSelected.xpm);
  padding-left: 4px;
}

QDialog QComboBox::indicator:active {
  image: url(RadioButtonUnselected.xpm);
  padding-left: 4px;
}

QDialog QComboBox::indicator:active:selected {
  padding-left: 3px;
}

QDialog QTabBar::tab:selected {
  border-top: 1px solid NSCDE_TS_COLOR_6;
  border-left: 1px solid NSCDE_TS_COLOR_6;
  border-bottom: 0px solid NSCDE_BS_COLOR_6;
  border-right: 1px solid NSCDE_BS_COLOR_6;
  // font-weight: bold;
}

QDialog QCheckBox, QDialog QRadioButton {
  color: NSCDE_FG_COLOR_6;
  background-color: NSCDE_BG_COLOR_6;
}

QDialog QGroupBox {
  font-weight: bold;
  background-color: NSCDE_BG_COLOR_6;
  color: NSCDE_FG_COLOR_6;
}

QDialog QCheckBox::indicator:checked {
  image: url(CheckBoxChecked.xpm);
  padding: 2px;
}

QDialog QListView {
  color: NSCDE_FG_COLOR_6;
  background-color: NSCDE_SEL_COLOR_6;
  border-top: 1px solid NSCDE_BS_COLOR_6;
  border-left: 1px solid NSCDE_BS_COLOR_6;
  border-bottom: 1px solid NSCDE_TS_COLOR_6;
  border-right: 1px solid NSCDE_TS_COLOR_6;
}

QDialog QListView::item {
  color: NSCDE_FG_COLOR_6;
  background-color: NSCDE_SEL_COLOR_6;
  margin: 4px;
}

QDialog QListView::item:selected {
  color: #000000;
  background-color: #ffffff;
}

/*
QDialog QWidget {
  color: NSCDE_FG_COLOR_6;
  background-color: NSCDE_BG_COLOR_6;
}
*/

QErrorMessage QLabel, QInputDialog QLabel, QProgressDialog QLabel, QMessageBox QLabel, QDialog QLabel {
  color: NSCDE_FG_COLOR_6;
  background-color: NSCDE_BG_COLOR_6;
}

QErrorMessage QPushButton, QInputDialog QPushButton, QProgressDialog QPushButton,
QMessageBox QPushButton, QDialog QPushButton {
  color: NSCDE_FG_COLOR_6;
  background-color: NSCDE_BG_COLOR_6;
  border-top: 1px solid NSCDE_TS_COLOR_6;
  border-left: 1px solid NSCDE_TS_COLOR_6;
  border-bottom: 1px solid NSCDE_BS_COLOR_6;
  border-right: 1px solid NSCDE_BS_COLOR_6;
  min-width: 80px;
  min-height: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  icon: none;
}

QErrorMessage QPushButton::active::pressed, QInputDialog QPushButton::active::pressed,
QProgressDialog QPushButton::active::pressed, QMessageBox QPushButton::active::pressed,
QDialog QPushButton::active::pressed {
  color: NSCDE_FG_COLOR_6;
  background-color: NSCDE_SEL_COLOR_6;
  border-top: 1px solid NSCDE_BS_COLOR_6;
  border-left: 1px solid NSCDE_BS_COLOR_6;
  border-bottom: 1px solid NSCDE_TS_COLOR_6;
  border-right: 1px solid NSCDE_TS_COLOR_6;
  min-width: 80px;
  min-height: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

QErrorMessage QPushButton::active, QInputDialog QPushButton::active,
QProgressDialog QPushButton::active, QMessageBox QPushButton::active,
QDialog QPushButton::active {
  color: NSCDE_FG_COLOR_6;
  background-color: NSCDE_BG_COLOR_6;
  border-top: 1px solid NSCDE_TS_COLOR_6;
  border-left: 1px solid NSCDE_TS_COLOR_6;
  border-bottom: 1px solid NSCDE_BS_COLOR_6;
  border-right: 1px solid NSCDE_BS_COLOR_6;
  min-width: 80px;
  min-height: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

QTreeView {
  background-color: NSCDE_SEL_COLOR_5;
  color: NSCDE_FG_COLOR_5;
  border-top: 1px solid NSCDE_BS_COLOR_5;
  border-left: 1px solid NSCDE_BS_COLOR_5;
  border-bottom: 1px solid NSCDE_TS_COLOR_5;
  border-right: 1px solid NSCDE_TS_COLOR_5;
  margin-top: 2px;
  margin-left: 4px;
  margin-bottom: 1px;
  margin-right: 0px;
}

QMainWindow > QAbstractScrollArea > QAbstractItemView > QListView, QGraphicsView {
  background-color: NSCDE_SEL_COLOR_5;
  color: NSCDE_FG_COLOR_5;
  border-top: 1px solid NSCDE_BS_COLOR_5;
  border-left: 1px solid NSCDE_BS_COLOR_5;
  border-bottom: 1px solid NSCDE_TS_COLOR_5;
  border-right: 1px solid NSCDE_TS_COLOR_5;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
}

QStatusBar, QSizeGrip {
  border-bottom: 1px solid NSCDE_BS_COLOR_5;
  border-right: 1px solid NSCDE_BS_COLOR_5;
  border-top: 1px solid NSCDE_TS_COLOR_5;
  border-left: 1px solid NSCDE_TS_COLOR_5;
}

QSplitter:handle:vertical {
  background-position: center center;
  background-repeat: none;
  margin: 1px 1px 1px 1px;
  height: 2px;
}

DolphinViewContainer > DolphinView > QAbstractScrollArea {
  background-color: NSCDE_SEL_COLOR_5;
  color: NSCDE_FG_COLOR_5;
  border-top: 1px solid NSCDE_BS_COLOR_5;
  border-left: 1px solid NSCDE_BS_COLOR_5;
  border-bottom: 1px solid NSCDE_TS_COLOR_5;
  border-right: 1px solid NSCDE_TS_COLOR_5;
}

