# 1: Item label font color (Window Text)
# 2: Push button background
# 3: Top Shadow Color (Bright)
# 4: Additional shadow (invisible under gtk/kvantum) (Less Bright)
# 5: Bottom Shadow Color (Dark)
# 6: Spinbox arrow disabled? (Less Dark)
# 7: Preferences icon+text on the left previously selected item font color (Normal Text)
# 8: (Bright Text)
# 9: Button Text
# 10: Text Field Background (Normal background)
# 11: Misc Widget Background (Window)
# 12: Additional Shadow (invisible under gtk/kvantum) (Shadow)
# 13: Titlebar and Progress Meter Inner Part, Selection (Highlight)
# 14: Preferences icon+text on the left active selected item font color (Highlighted text)
# 15: Link
# 16: Visited Link
# 17: List Odd Color (Alternate Background)
# 18: List font color selected (Default)
# 19: Balloon Background Color (Tooltip background)
# 20: Balloon Font Color (Tooltip Text)
# 21: Placeholder text

[ColorScheme]
active_colors=NSCDE_FG_COLOR_5, NSCDE_BG_COLOR_5, NSCDE_TS_COLOR_5, NSCDE_BG_COLOR_5, NSCDE_BS_COLOR_5, NSCDE_SEL_COLOR_5, NSCDE_FG_COLOR_5, NSCDE_BS_COLOR_5, NSCDE_FG_COLOR_5, NSCDE_BG_COLOR_4, NSCDE_BG_COLOR_5, NSCDE_BG_COLOR_5, #ffffff, #000000, #0000ff, #ff00ff, NSCDE_SEL_COLOR_5, NSCDE_FG_COLOR_5, NSCDE_BG_COLOR_5, NSCDE_FG_COLOR_5, NSCDE_FG_COLOR_5

inactive_colors=NSCDE_FG_COLOR_5, NSCDE_BG_COLOR_5, NSCDE_TS_COLOR_5, NSCDE_BG_COLOR_5, NSCDE_BS_COLOR_5, NSCDE_SEL_COLOR_5, NSCDE_FG_COLOR_5, NSCDE_BS_COLOR_5, NSCDE_FG_COLOR_5, NSCDE_BG_COLOR_4, NSCDE_BG_COLOR_5, NSCDE_BG_COLOR_5, #808080, #000000, #0000ff, #ff00ff, NSCDE_SEL_COLOR_5, NSCDE_FG_COLOR_5, NSCDE_BG_COLOR_5, NSCDE_FG_COLOR_5, NSCDE_FG_COLOR_5

disabled_colors=#808080, NSCDE_BG_COLOR_5, NSCDE_TS_COLOR_5, NSCDE_BG_COLOR_5, NSCDE_BS_COLOR_5, NSCDE_SEL_COLOR_5, #808080, #808080, #808080, NSCDE_TS_COLOR_4, NSCDE_BG_COLOR_5, NSCDE_BG_COLOR_5, NSCDE_BG_COLOR_2, #808080, #0000ff, #ff00ff, NSCDE_SEL_COLOR_5, #808080, NSCDE_BG_COLOR_5, NSCDE_FG_COLOR_5, NSCDE_FG_COLOR_5
