#
# This file is a part of the NsCDE - Not so Common Desktop Environment
# Author: Hegel3DReloaded
# Licence: GPLv3
#

[%General]
author=Hegel3DReloaded
comment=NsCDE template for Qt Kvantum Engine (based on commonality Broica theme of Phob1an)
left_tabs=true
attach_active_tab=true
active_tab_overlap=0
group_toolbar_buttons=false
spread_progressbar=false
progressbar_thickness=1.5font
composite=true
menu_shadow_depth=0
tooltip_shadow_depth=0
scroll_min_extent=24
slider_width=3
slider_handle_width=24
slider_handle_length=10
center_toolbar_handle=false
toolbar_interior_spacing=2
toolbar_item_spacing=2
x11drag=all
scroll_width=14
menubar_mouse_tracking=false
toolbutton_style=0
click_behavior=0
vertical_spin_indicators=true
translucent_windows=false
blurring=false
popup_blurring=false
toolbar_icon_size=24
animate_states=false
alt_mnemonic=true
button_contents_shift=true
button_icon_size=22
combo_as_lineedit=true
combo_menu=true
combo_focus_rect=false
square_combo_button=false
fill_rubberband=false
groupbox_top_label=true
inline_spin_indicators=true
remove_extra_frames=false
joined_inactive_tabs=false
no_inactive_tab_expansion=true
tab_button_extra_margin=4
large_icon_size=32
layout_margin=8
layout_spacing=8
merge_menubar_with_toolbar=false
respect_DE=true
scroll_arrows=true
scrollbar_in_view=false
transient_scrollbar=false
small_icon_size=16
spin_button_width=18
submenu_overlap=2
tooltip_delay=-1
tree_branch_line=true
bold_active_tab=true
contrast=1.00
dialog_button_layout=0
hide_combo_checkboxes=false
intensity=1.00
no_inactiveness=false
no_window_pattern=false
opaque=kaffeine,kmplayer,subtitlecomposer,kdenlive,vlc,smplayer,smplayer2,avidemux,avidemux2_qt4,avidemux3_qt4,avidemux3_qt5,kamoso,QtCreator,VirtualBox,VirtualBoxVM,trojita,dragon,digikam,lyx
reduce_menu_opacity=0
reduce_window_opacity=0
saturation=1.00
scrollable_menu=true
shadowless_popup=false
submenu_delay=-1
transient_groove=false
check_size=16
drag_from_buttons=false

[GeneralColors]
window.color=NSCDE_BG_COLOR_5
base.color=NSCDE_SEL_COLOR_5
alt.base.color=NSCDE_SEL_COLOR_5
button.color=NSCDE_BG_COLOR_5
light.color=#eeeeee
mid.light.color=#eeeeee
dark.color=NSCDE_BG_COLOR_4
mid.color=#eeeeee
text.color=NSCDE_FG_COLOR_5
window.text.color=NSCDE_FG_COLOR_5
button.text.color=NSCDE_FG_COLOR_5
disabled.text.color=#808080
tooltip.text.color=NSCDE_FG_COLOR_5
highlight.text.color=#000000
highlight.color=NSCDE_BG_COLOR_1
inactive.highlight.color=yellow
link.color=#0000ff
link.visited.color=#ff00ff
progress.indicator.text.color=white
text.focus.color=blue

[Hacks]
transparent_dolphin_view=false
transparent_pcmanfm_sidepane=false
transparent_ktitle_label=true
blur_translucent=true
transparent_menutitle=false
kcapacitybar_as_progressbar=true
respect_darkness=false
single_top_toolbar=true
disabled_icon_opacity=50
force_size_grip=true
iconless_menu=true
iconless_pushbutton=true
lxqtmainmenu_iconsize=22
no_selection_tint=true
normal_default_pushbutton=false
tint_on_mouseover=0
transparent_pcmanfm_view=false
transparent_arrow_button=true
centered_forms=false
kinetic_scrolling=false
middle_click_scroll=false
noninteger_translucency=false
scroll_jump_workaround=false

[WindowTranslucent]
interior=true
interior.element=XmMainWindow
interior.x.patternsize=32
interior.y.patternsize=32
frame.expansion=0

[PanelButtonCommand]
frame.top=1
frame.bottom=1
frame.left=1
frame.right=1
text.margin.top=4
text.margin.bottom=4
text.margin.left=4
text.margin.right=4
text.normal.color=NSCDE_FG_COLOR_5
text.focus.color=NSCDE_FG_COLOR_5
text.press.color=NSCDE_FG_COLOR_5
text.toggle.color=NSCDE_FG_COLOR_5
frame.expansion=0
interior.element=XmPushButton
interior=true
frame=true
frame.element=XmPushButton
indicator.size=9

[PanelButtonTool]
#inherits=PanelButtonCommand
text.margin.top=1
text.margin.bottom=1
text.margin.left=1
text.margin.right=1
frame.top=2
frame.bottom=2
frame.left=2
frame.right=2
interior.element=XmToolButton
interior=true
frame=true
frame.element=XmToolButton
text.normal.color=NSCDE_FG_COLOR_5
text.press.color=NSCDE_FG_COLOR_5
text.focus.color=NSCDE_FG_COLOR_5
text.toggle.color=NSCDE_FG_COLOR_5

[DockTitle]
text.bold=true
text.italic=true
frame=true
interior=true
frame.element=XmPushButton
interior.element=XmPushButton
frame.top=1
frame.bottom=1
frame.left=1
frame.right=1

[GenericFrame]
#inherits=PanelButtonCommand
frame=true
interior=true
frame.element=XmContainer
interior.element=XmContainer
frame.top=3
frame.bottom=3
frame.left=3
frame.right=3
text.normal.color=red
text.focus.color=green
text.toggle.color=blue
text.press.color=yellow

[LineEdit]
#inherits=PanelButtonCommand
interior=true
interior.element=XmTextField
frame.element=XmTextField
frame.top=1
frame.bottom=1
frame.left=1
frame.right=1
text.margin.top=4
text.margin.bottom=4
text.margin.left=4
text.margin.right=4
text.normal.color=NSCDE_FG_COLOR_4
text.focus.color=NSCDE_FG_COLOR_4
text.toggle.color=NSCDE_FG_COLOR_4
text.press.color=NSCDE_FG_COLOR_4

[IndicatorSpinBox]
indicator.element=XmArrow
indicator.size=14

[DropDownButton]
inherits=PanelButtonCommand

[ToolboxTab]
inherits=PanelButtonCommand
text.margin.top=4
text.margin.bottom=4
text.margin.left=4
text.margin.right=4
text.press.color=NSCDE_FG_COLOR_5
text.normal.color=NSCDE_FG_COLOR_5
text.toggle.color=red
text.focus.color=NSCDE_FG_COLOR_5

[Tab]
frame.top=3
frame.bottom=3
frame.left=3
frame.right=3
focusFrame=false
frame.expansion=0
indicator.size=16
interior.element=XmTab
frame.element=XmTab
text.margin.bottom=2
text.margin.top=3

[TabFrame]
frame.top=1
frame.bottom=1
frame.left=1
frame.right=1
frame.element=XmTabFrame
interior.element=XmTabFrame
frame=true
interior=true

[TreeExpander]
indicator.size=11
indicator.element=XmTree

[HeaderSection]
frame.element=XmHeaderSection
interior.element=XmHeaderSection
indicator.element=XmArrow
frame.top=1
frame.bottom=1
frame.left=1
frame.right=1

[GroupBox]
interior=true
frame=true
frame.element=XmGroupBox
interior.element=XmGroupBox
frame.top=2
frame.bottom=2
frame.left=2
frame.right=2
text.bold=true
frame.expansion=0

[TabBarFrame]
frame=true
frame.element=XmTabBarFrame
interior=false
frame.top=1
frame.bottom=1
frame.left=1
frame.right=1

[SizeGrip]
inherits=PanelButtonCommand
frame=false
interior=false
indicator.element=SizeGrip
indicator.size=12

[Toolbar]
frame.left=2
frame.right=2
frame.top=2
frame.bottom=2
indicator.size=2
frame.expansion=0
interior.element=XmToolButton
interior=true
frame=true
frame.element=XmToolButton
text.normal.color=NSCDE_FG_COLOR_5
indicator.element=Toolbar

[ToolbarButton]
interior=true
interior.element=XmToolButton
frame=true
frame.element=XmToolButton
text.normal.color=NSCDE_FG_COLOR_5
text.margin=false
frame.left=2
frame.right=2
frame.top=2
frame.bottom=2
frame.expansion=0
indicator.element=XmArrow

[Scrollbar]
indicator.size=14
frame.expansion=0
indicator.element=XmScrollBar

[ScrollbarGroove]
interior=true
interior.element=XmScrollBarTrough
frame.element=XmScrollBarTrough
frame=true
frame.left=1
frame.right=1
frame.top=1
frame.bottom=1

[ScrollbarSlider]
interior=true
frame=true
frame.left=4
frame.right=4
frame.top=4
frame.bottom=4
frame.expansion=0
interior.element=XmScrollSlide
frame.element=XmScrollSlide
indicator.element=

[Progressbar]
text.bold=true
text.normal.color=NSCDE_FG_COLOR_5
frame.expansion=0
interior.element=XmContainer
frame.element=XmContainer
frame.top=2
frame.bottom=2
frame.left=2
frame.right=2
frame=true
interior=true

[ProgressbarContents]
frame=true
interior=true
frame.element=XmProgressBarContent
interior.element=XmProgressBarContent
frame.expansion=0
frame.top=1
frame.bottom=1
frame.left=1
frame.right=1

[ItemView]
frame.top=1
frame.bottom=1
frame.left=1
frame.right=1
text.margin=true
text.margin.top=2
text.margin.bottom=2
text.margin.left=2
text.margin.right=2
text.toggle.color=#000000
text.press.color=#000000
text.normal.color=NSCDE_FG_COLOR_5
text.focus.color=NSCDE_FG_COLOR_5
frame.expansion=0
interior=true
interior.element=XmItemView
frame.element=XmItemView
frame=true

[Menu]
text.margin=true
text.margin.top=4
text.margin.bottom=4
text.margin.left=4
text.margin.right=4
frame.top=3
frame.bottom=3
frame.left=3
frame.right=3
interior.element=XmMenuShell
frame.element=XmMenuShell
frame=true
interior=true

[MenuItem]
frame=true
frame.element=XmMenuItem
interior=true
interior.element=XmMenuItem
frame.top=1
frame.bottom=1
frame.left=1
frame.right=1
text.margin.top=0
text.margin.bottom=0
text.margin.left=1
text.margin.right=1
text.normal.color=NSCDE_FG_COLOR_6
text.focus.color=NSCDE_FG_COLOR_6
text.press.color=NSCDE_FG_COLOR_6
frame.expansion=0
indicator.element=XmMenuArrow
indicator.size=11

[MenuBarItem]
interior=true
interior.element=XmMenuBarItem
frame.element=XmMenuBarItem
frame=true
frame.top=2
frame.bottom=1
frame.left=1
frame.right=1
frame.expansion=0
text.press.color=NSCDE_FG_COLOR_6
text.focus.color=NSCDE_FG_COLOR_6
text.toggle.color=NSCDE_FG_COLOR_6

[MenuBar]
interior=true
frame=true
interior.element=XmMenuBar
frame.element=XmMenuBar
frame.top=2
frame.bottom=2
frame.left=2
frame.right=2
frame.expansion=0
text.normal.color=NSCDE_FG_COLOR_6
text.press.color=NSCDE_FG_COLOR_6
text.focus.color=NSCDE_FG_COLOR_6
text.toggle.color=NSCDE_FG_COLOR_6

[TitleBar]
inherits=PanelButtonCommand
text.margin.top=2
text.margin.bottom=2
text.margin.left=3
text.margin.right=3
text.bold=true
text.italic=true
text.normal.color=NSCDE_FG_COLOR_1

[ComboBox]
#inherits=PanelButtonCommand
interior.element=XmComboBox
frame.element=XmComboBox
frame=true
frame.top=2
frame.bottom=2
frame.left=2
frame.right=2
text.margin.top=4
text.margin.bottom=4
text.margin.left=4
text.margin.right=4
text.normal.color=NSCDE_FG_COLOR_6
text.press.color=NSCDE_FG_COLOR_6
text.focus.color=NSCDE_FG_COLOR_6
text.toggle.color=NSCDE_FG_COLOR_6
indicator.size=14
indicator.element=ComboIndicator

[Splitter]
indicator.size=32

[Slider]
frame.element=XmSlider
interior.element=XmSlider
interior=true
frame=true
frame.top=1
frame.bottom=1
frame.left=1
frame.right=1

[SliderCursor]
frame=true
interior=true
interior.element=XmSliderCursor
frame.element=XmSliderCursor
frame=true
frame.top=2
frame.bottom=2
frame.left=2
frame.right=2

[Focus]
inherits=PanelButtonCommand
frame=true
frame.element=FocusFrame
frame.top=1
frame.bottom=1
frame.left=1
frame.right=1
frame.patternsize=20
interior=false

[ToolTip]
text.margin.top=5
text.margin.bottom=5
text.margin.left=5
text.margin.right=5
interior=true
frame=true
interior.element=XmToolButton
frame.element=XmToolButton
frame.top=2
frame.bottom=2
frame.left=2
frame.right=2

[RadioButton]
frame=false
interior.element=XmRadioBox

[CheckBox]
frame=false
interior.element=XmCheckBox

