[Desktop Entry]
Encoding=UTF-8
Name=NsCDE With MATE Session Manager
Comment=Not so Common Desktop Environment (Managed Session)
TryExec=mate-session
Exec=mate-session
Terminal=False
Type=XSession
DesktopNames=MATE

[Window Manager]
SessionManaged=true
