/* Mozilla Thunderbird userChrome.css generated for NsCDE */

:root {
  --toolbarbutton-border-radius: 0px !important;
  --arrowpanel-menuitem-border-radius: 0px !important;
  --arrowpanel-border-radius: 0px !important;
  --toolbar-bgcolor: var(--nscde-bg-color-5) !important;
  scrollbar-color: var(--nscde-bg-color-5) var(--nscde-bs-color-5) !important;
}

:is(menupopup, panel)[type="arrow"] {
    --panel-background: var(--nscde-bg-color-6) !important;
    --panel-color: var(--nscde-fg-color-6) !important;
    --panel-border-color: var(--arrowpanel-border-color) !important;
    --panel-border-radius: var(--arrowpanel-border-radius) !important;
}

/* 9x */
menupopup > menu, menupopup > menuitem {
  padding-block: 2px !important;
}

/* 100+ */
menubar {
  padding-left: 4px !important;
}

toolbar[type="menubar"] {
  min-height: 29px !important;
}

/* 100+ */
.menubar-text {
  margin: 0 4px !important;
}

/* 100+ */
#titlebar > #toolbar-menubar:-moz-window-inactive {
  background-color: var(--nscde-sel-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
}

/* 100+ */
menu menupopup {
  --panel-background: var(--nscde-bg-color-6) !important;
  --panel-color: var(--nscde-fg-color-6) !important;
  margin-top: 0px !important;
  margin-left: -1px !important;
}

/* 100+ */
menubar > menu menupopup > :is(menu, menuitem) {
  border-radius: 0px !important;
  padding-left: 1px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* 100+ */
menubar > menu menupopup > :is(menu, menuitem):not([disabled="true"])[_moz-menuactive] {
  border-radius: 0px !important;
  padding-left: 0px !important;
  margin-left: 0px !important;
  margin-right: -1px !important;
}

/* 9x */
/* 100+ */
menupopup {
  -moz-appearance: none !important;
  --panel-border-color: var(--nscde-bg-color-6) !important;
  --panel-background: var(--nscde-bg-color-6) !important;
  --panel-color: var(--nscde-fg-color-6) !important;
  border-top: 1px solid var(--nscde-ts-color-6) !important;
  border-left: 1px solid var(--nscde-ts-color-6) !important;
  border-right: 1px solid var(--nscde-bs-color-6) !important;
  border-bottom: 1px solid var(--nscde-bs-color-6) !important;
  border-radius: 0px !important;
  background-color: var(--nscde-bg-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
}

/* 100+ */
menupopup > :is(menu, menuitem):not([disabled="true"])[_moz-menuactive] {
  border-top: 1px solid var(--nscde-bs-color-6) !important;
  border-left: 1px solid var(--nscde-bs-color-6) !important;
  border-right: 1px solid var(--nscde-ts-color-6) !important;
  border-bottom: 1px solid var(--nscde-ts-color-6) !important;
  border-radius: 0px !important;
  background-color: var(--nscde-sel-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
  border-radius: 0px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
}

/* 100+ */
.panel-arrowcontainer .menupopup-arrowscrollbox,
.menupopup-arrowscrollbox,
.panel-arrowbox+slot {
  box-shadow: none !important;
  margin: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* 100+ */
menulist > menupopup {
  margin-top: 0px !important;
  margin-left: -1px !important;
}

/* All clickable buttons - classic 3d look and inset on click */
window {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

button {
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-left-color: var(--nscde-ts-color-5) !important;
  border-right-color: var(--nscde-bs-color-5) !important;
  border-top-color: var(--nscde-ts-color-5) !important;
  border-bottom-color: var(--nscde-bs-color-5) !important;
  border-radius: 0px !important;
}

button:-moz-any(:hover:active,[open="true"]):not([disabled="true"]) {
  border-width: 1px !important;
  background-color: var(--nscde-sel-color-5) !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
}

button[default] {
 outline: 1px solid var(--nscde-sel-color-5) !important;
 outline-offset: 2px !important;
}

button:focus {
 outline: 1px solid var(--nscde-bg-color-1) !important;
 outline-offset: 2px !important;
}

dialog {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

/* 9x */
.radio-check[selected] {
  fill: var(--nscde-fg-color-5) !important;
  border-width: 1px !important;
  background-color: var(--nscde-sel-color-5) !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
}

/* 9x */
.radio-check {
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-right-color: var(--nscde-bs-color-5) !important;
  border-left-color: var(--nscde-ts-color-5) !important;
  border-bottom-color: var(--nscde-bs-color-5) !important;
  border-top-color: var(--nscde-ts-color-5) !important;
}

.panel-subview-body {
  background-color: var(--nscde-bg-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
  border-top: 1px solid var(--nscde-ts-color-6) !important;
  border-left: 1px solid var(--nscde-ts-color-6) !important;
  border-right: 1px solid var(--nscde-bs-color-6) !important;
  border-bottom: 1px solid var(--nscde-bs-color-6) !important;
}

input {
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-4) !important;
  color: var(--nscde-fg-color-4) !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
  border-radius: 0px !important;
}

input:focus {
 outline: 1px solid var(--nscde-bg-color-1) !important;
 outline-offset: 2px !important;
}

checkbox:not([disabled="true"]),
checkbox:not([disabled="true"]):hover,
checkbox:not([disabled="true"]) > .checkbox-check,
checkbox:not([disabled="true"]):hover > .checkbox-check {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-top-color: var(--nscde-ts-color-5) !important;
  border-left-color: var(--nscde-ts-color-5) !important;
  border-bottom-color: var(--nscde-bs-color-5) !important;
  border-right-color: var(--nscde-bs-color-5) !important;
  border-radius: 0px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

checkbox:not([disabled="true"]) > .checkbox-check:is(:active,[checked="true"]) {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-sel-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-radius: 0px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

checkbox:-moz-focusring .checkbox-check {
  outline: none !important;
}

checkbox:-moz-focusring {
  outline: 1px solid var(--nscde-bg-color-1) !important;
  outline-offset: 2px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

richlistitem button, richlistitem menulist {
  background-image: none !important;
}

richlistbox {
  -moz-appearance: none !important;
  background-color: var(--nscde-bg-color-4) !important;
  color: var(--nscde-fg-color-4) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
}

richlistbox:is(#attachmentBucket),
richlistbox:is(#attachmentsBox),
richlistbox:is(#agenda-listbox) {
  -moz-appearance: none !important;
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
}

richlistitem[is="agenda-header-richlistitem"] checkbox {
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

.searchBox {
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
}

.gloda-search {
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-4) !important;
  color: var(--nscde-fg-color-4) !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
}

/* Find bar normal 3D look */
findbar {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

.findbar-find-previous, .findbar-find-next {
  border-radius: 0px !important;
}

findbar toolbarbutton {
  transition-duration: 0s !important;
  transition-delay: 0s !important;
}

findbar toolbarbutton:-moz-any(:hover:active,[checked="true"]):not([disabled="true"]) {
  transition-duration: 0s !important;
  transition-delay: 0s !important;
}

#unifinder-searchBox {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  background-image: none !important;
}

.close-icon {
  border-radius: 0px !important;
}

/* Toolbar */
.mail-toolbox,
.mail-toolbox:-moz-lwtheme {
  margin-bottom: 2px !important;
  appearance: none;
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

.mail-toolbox::after, .contentTabToolbox::after {
  border-bottom: 0px !important;
}

#quick-filter-bar-main-bar {
  padding-inline-start: 6px !important;
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

#folderPaneHeader {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

.contentTabToolbox,
.contentTabToolbox:-moz-lwtheme {
  -moz-appearance: none !important;
  margin-top: 2px !important;
  margin-bottom: 4px !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

/* Toolbar buttons */
#messengerWindow {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-bg-color-5) !important;
}

#messengerWindow .toolbarbutton,
#messengerWindow .toolbarbutton:hover {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-width: 1px !important;
  border-color: transparent !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

#messengerWindow .toolbarbutton-menubutton-dropmarker,
#messengerWindow .toolbarbutton-menubutton-dropmarker:hover {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-width: 1px !important;
  border-color: transparent !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

#messengerWindow .toolbarbutton-menubutton-button,
#messengerWindow .toolbarbutton-menubutton-button:hover {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-width: 1px !important;
  border-color: transparent !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

#messengerWindow .toolbarbutton-1 .toolbarbutton-text {
  font-size: 94% !important;
}

#messengerWindow .toolbarbutton-menubutton-button .toolbarbutton-text {
  font-size: 90% !important;
}

#messengerWindow .toolbarbutton-1 .toolbarbutton-icon {
  margin-top: 3px;
}

toolbarbutton:not(.subviewbutton) {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

toolbarbutton:-moz-any(:active,[checked="true"],:hover:active,[open="true"]):not([disabled="true"]):not(.subviewbutton) {
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
}

.subviewbutton,
.subviewbutton:hover {
  background-color: var(--nscde-bg-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
  padding: 2px !important;
}

.subviewbutton:is(:active,[checked="true"],:hover:active,[open="true"]):not([disabled="true"]) {
  background-color: var(--nscde-sel-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
  border-top: 1px solid var(--nscde-bs-color-6) !important;
  border-left: 1px solid var(--nscde-bs-color-6) !important;
  border-right: 1px solid var(--nscde-ts-color-6) !important;
  border-bottom: 1px solid var(--nscde-ts-color-6) !important;
}

/* Message compose window */
#msgcomposeWindow {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-bg-color-5) !important;
}

#ab-toolbox toolbarbutton,
#msgcomposeWindow toolbarbutton {
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-6) !important;
  border-left-color: var(--nscde-ts-color-6) !important;
  border-right-color: var(--nscde-bs-color-6) !important;
  border-top-color: var(--nscde-ts-color-6) !important;
  border-bottom-color: var(--nscde-bs-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
}

#ab-toolbox toolbarbutton:not([disabled="true"]):active,
#msgcomposeWindow toolbarbutton:not([disabled="true"]):active {
  border-width: 1px !important;
  background-color: var(--nscde-sel-color-6) !important;
  border-right-color: var(--nscde-ts-color-6) !important;
  border-left-color: var(--nscde-bs-color-6) !important;
  border-bottom-color: var(--nscde-ts-color-6) !important;
  border-top-color: var(--nscde-bs-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
}

#msgcomposeWindow .toolbarbutton-1 .toolbarbutton-menubutton-button:not([disabled="true"]),
#msgcomposeWindow .toolbarbutton-1 .toolbarbutton-menubutton-dropmarker:not([disabled="true"]) {
  border-width: 0px !important;
  background-color: var(--nscde-bg-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
  margin: 3px !important;
}

#msgcomposeWindow .toolbarbutton-1 .toolbarbutton-menubutton-button:-moz-any(:hover:active,[open="true"]):not([disabled="true"]),
#msgcomposeWindow .toolbarbutton-1 .toolbarbutton-menubutton-dropmarker:-moz-any(:hover:active,[open="true"]):not([disabled="true"]) {
  border-width: 0px !important;
  background-color: var(--nscde-sel-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
  border-top: 1px solid var(--nscde-bs-color-6) !important;
  border-left: 1px solid var(--nscde-bs-color-6) !important;
  border-right: 1px solid var(--nscde-ts-color-6) !important;
  border-bottom: 1px solid var(--nscde-ts-color-6) !important;
  margin: 2px !important;
}

#msgcomposeWindow .input-container {
  background-color: var(--nscde-bg-color-4) !important;
  color: var(--nscde-fg-color-4) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
}

#msgcomposeWindow .address-container > .address-input {
  border-width: 1px !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
  padding-block: 0px !important;
}

#msgcomposeWindow .address-container > .address-input:focus {
  outline: 1px solid var(--nscde-bg-color-1) !important;
  outline-offset: 4px !important;
}

#msgSubject {
  border-width: 0px !important;
}

/* Popup menus cs 6 in CDE when ncolors == 8 */
menulist:not(#openHandler) {
  -moz-appearance: none !important;
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-6) !important;
  border-left-color: var(--nscde-ts-color-6) !important;
  border-right-color: var(--nscde-bs-color-6) !important;
  border-top-color: var(--nscde-ts-color-6) !important;
  border-bottom-color: var(--nscde-bs-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
  border-radius: 0px !important;
}

.toolbarbutton-1 {
  border-radius: 0px !important;
}

menulist[open="true"]:not(#openHandler) {
  -moz-appearance: none !important;
  border-width: 1px !important;
  background-color: var(--nscde-sel-color-6) !important;
  border-left-color: var(--nscde-bs-color-6) !important;
  border-right-color: var(--nscde-ts-color-6) !important;
  border-top-color: var(--nscde-bs-color-6) !important;
  border-bottom-color: var(--nscde-ts-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
}

menuseparator {
  -moz-appearance: none !important;
  border-top: 1px solid var(--nscde-bs-color-6) !important;
  border-bottom: 1px solid var(--nscde-ts-color-6) !important;
}

menubar > menu[open] {
  background-color: var(--nscde-bg-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
}

/* Thick splitter */
splitter {
  -moz-appearance: none !important;
  border-width: 2px !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-left-color: var(--nscde-ts-color-5) !important;
  border-right-color: var(--nscde-bs-color-5) !important;
  border-top-color: var(--nscde-ts-color-5) !important;
  border-bottom-color: var(--nscde-bs-color-5) !important;
}

#dirTree-splitter,
#folderpane_splitter {
  width: 6px !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

#results-splitter,
#threadpane-splitter,
#attachment-splitter {
  margin-top: 2px !important;
  height: 6px !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 0px solid var(--nscde-ts-color-5) !important;
  border-right: 0px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

/* Normal status bar */
.statusbarpanel, .statusbar {
  appearance: none !important;
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 0px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
  min-height: 24px !important;
}

/* Start page of the account in more conservative outfit */
#accountCentral {
  background-color: var(--nscde-bg-color-5) !important;
  background-image: none !important;
  color: var(--nscde-fg-color-5) !important;
}

.btn-link.btn-inline,
.btn-link,
.resource-link,
.btn-hub.btn-inline {
  transition: none !important;
  box-shadow: none !important;
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
  border-radius: 0px !important;
  cursor: default !important;
}

.resource-link,
.btn-link,
.btn-link.btn-inline {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.btn-hub:hover::before,
.btn-hub:not([disabled="true"]):hover,
.btn-hub:focus:not(:hover),
.btn-hub::before,
.btn-link,
.section-title {
  color: var(--nscde-fg-color-5) !important;
  cursor: default !important;
}

#accountLogo {
  color: var(--nscde-fg-color-5) !important;
}

/* Tree widget */
treechildren
{
  font-size: 102% !important;
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-sel-color-5) !important;
}

treechildren::-moz-tree-row(odd) {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-sel-color-5) !important;
}

treechildren::-moz-tree-row(even) {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-sel-color-5) !important;
}

/* Calendar */
#calendar-list-inner-pane > #calendar-list {
  -moz-appearance: none !important;
  margin: 1 !important;
  border-style: none !important;
  background-color: var(--nscde-sel-color-5) !important;
  color: #ffffff !important;
}

#calendarContent radio.calview:not([selected="true"]) {
  color: var(--nscde-fg-color-5) !important;
  background-image: none !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

#calendarContent radio.calview:not([selected="true"]) {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

#calendarContent radio.calview[selected="true"] {
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

#calendarContent .monthtable calendar-day-label,
#calendarContent calendar-day-label {
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  background-image: none !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

#calMinimonthBox * {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

#calMinimonthBox .minimonth-nav-btns *:not([selected="true"]),
#calMinimonthBox .minimonth-cal-box *:not([selected="true"]) {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

#calMinimonthBox .minimonth-nav-btns *[selected="true"],
#calMinimonthBox .minimonth-cal-box *[selected="true"] {
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
}

.calendar-list-create {
  padding: 2px !important;
  margin: 2px !important;
}

.calendar-list-create:is(:hover:active,[open="true"]):not([disabled="true"]) {
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
}

.calendar-list-header {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

#calendar-task-dialog toolbarbutton,
#calendar-event-dialog toolbarbutton {
  background-color: var(--nscde-bg-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
  border-top: 1px solid var(--nscde-ts-color-6) !important;
  border-left: 1px solid var(--nscde-ts-color-6) !important;
  border-right: 1px solid var(--nscde-bs-color-6) !important;
  border-bottom: 1px solid var(--nscde-bs-color-6) !important;
}

#calendar-task-dialog toolbarbutton:is(:hover:active,[open="true"]):not([disabled="true"]),
#calendar-event-dialog toolbarbutton:is(:hover:active,[open="true"]):not([disabled="true"]) {
  background-color: var(--nscde-sel-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
  border-top: 1px solid var(--nscde-bs-color-6) !important;
  border-left: 1px solid var(--nscde-bs-color-6) !important;
  border-right: 1px solid var(--nscde-ts-color-6) !important;
  border-bottom: 1px solid var(--nscde-ts-color-6) !important;
}

#calendar-list > richlistitem[selected] > .calendar-name,
#calendar-list > richlistitem[selected] {
  background-color: var(--nscde-fg-color-5) !important;
  color: var(--nscde-bg-color-5) !important;
}

#calendar-list > richlistitem > .calendar-name {
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

#joinChatGrid textbox, menulist {
  margin-left: 8px !important;
}

#imip-view-toolbar > .toolbarbutton-1.message-header-view-button > .toolbarbutton-menubutton-button,
#imip-view-toolbar > .toolbarbutton-1.message-header-view-button:hover > .toolbarbutton-menubutton-dropmarker,
#imip-view-toolbar > .toolbarbutton-1.message-header-view-button:-moz-any(:hover, [open="true"]) > .toolbarbutton-menubutton-button,
#imip-view-toolbar > .toolbarbutton-1.message-header-view-button > .toolbarbutton-menubutton-dropmarker,
#imip-view-toolbar > .toolbarbutton-1.message-header-view-button:hover > .toolbarbutton-menubutton-dropmarker,
#imip-view-toolbar > .toolbarbutton-1.message-header-view-button:hover,
#imip-view-toolbar > .toolbarbutton-1.message-header-view-button:not(:active):hover,
#imip-view-toolbar > .toolbarbutton-1.message-header-view-button {
  background-image: none !important;
}

.calendar-notification-bar {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-radius: 0px !important;;
  box-shadow: none !important;
}

#singleMessage {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

/* Tabs */
#tabbar-toolbar,
.tabmail-tab {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 0px solid var(--nscde-ts-color-5) !important;
  border-bottom: 0px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-width: 1px 1px 0px 0px !important;
}

.tabmail-tab[selected=true] {
  font-weight: bold !important;
  font-size: 104% !important;
}

#tabs-toolbar .tabmail-tab:hover > .tab-stack > .tab-background:not([selected=true]) {
  background-color: var(--nscde-sel-color-5) !important;
}

.tabmail-tab:hover > .tab-stack > .tab-background:not([selected=true]) {
  background-image: none !important;
}

.tabmail-tab .tab-line,
.tabmail-tab .tab-line:hover {
  background-color: transparent !important;
}

/* 100 + */
.tab-background { 
  border-top-color: var(--nscde-bg-color-5) !important;
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

.tab-background[selected=true] { 
  border-top-color: var(--nscde-ts-color-5) !important;
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  background-image: none !important;
}

.tab-line[selected=true] {
  background-color: transparent !important;
}

#tabmail-arrowscrollbox {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

/* Thread pane index row */
treecol, .treecol-image {
  -moz-appearance: none !important;
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-bg-color-5) !important;
  font-weight: bold !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
  padding: 2px !important;
}

/* Folder and mail thread drawings visible */

#folderTree > treechildren::-moz-tree-line {
  visibility: visible !important;
}

#threadTree > treechildren::-moz-tree-row(odd) {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-sel-color-5) !important;
}

#threadTree > treechildren::-moz-tree-row(even) {
  color: var(--nscde-fg-color-5) !important;
  background-color: color-mix(in srgb, currentColor 4%, transparent) !important;
}

#threadTree > treechildren::-moz-tree-row(odd, selected) {
  color: var(--nscde-bg-color-5) !important;
  background-color: var(--nscde-fg-color-5) !important;
}

#threadTree > treechildren::-moz-tree-row(even, selected) {
  color: var(--nscde-bg-color-5) !important;
  background-color: var(--nscde-fg-color-5) !important;
}

#threadTree > treechildren::-moz-tree-line {
  visibility: visible !important;
}

treechildren::-moz-tree-cell-text(unread) {
  font-weight: bold !important;
  color: var(--nscde-fg-color-5) !important;
  font-size: 102% !important;
}

treechildren::-moz-tree-cell-text(read) {
  font-size: 102% !important;
  color: color-mix(in srgb, currentColor 82%, transparent) !important;
}

treechildren::-moz-tree-cell-text(unread,selected,even) {
  font-weight: bold !important;
  color: var(--nscde-bg-color-5) !important;
}

treechildren::-moz-tree-cell-text(unread,selected,odd) {
  font-weight: bold !important;
  color: var(--nscde-bg-color-5) !important;
}

treechildren::-moz-tree-cell-text(read,selected,even) {
  color: var(--nscde-bg-color-5) !important;
}

treechildren::-moz-tree-cell-text(read,selected,odd) {
  color: var(--nscde-bg-color-5) !important;
}

treechildren::-moz-tree-cell-text(folderNameCol, isServer-false) {
  color: -moz-DialogText !important;
  background-color: -moz-Dialog !important;
}

treechildren::-moz-tree-cell-text(folderNameCol, isServer-true) {
  font-weight: bold !important;
  font-size: 125% !important;
  text-decoration: underline !important;
}

treechildren::-moz-tree-cell-text(folderNameCol,even) {
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

treechildren::-moz-tree-cell-text(folderNameCol,odd) {
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

treechildren::-moz-tree-cell-text(folderNameCol, selected) {
  color: HighlightText !important;
  background-color: Highlight !important;
}

treechildren::-moz-tree-cell-text(folderNameCol, hasUnreadMessages-true, even) {
  font-weight: bold !important;
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

treechildren::-moz-tree-cell-text(folderNameCol, hasUnreadMessages-true, odd) {
  font-weight: bold !important;
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

treechildren::-moz-tree-cell-text(folderNameCol, hasUnreadMessages-true, selected) {
  font-weight: bold !important;
  color: HighlightText !important;
  background-color: Highlight !important;
}

/* Use Dot for Unstarred Messages instead of the Empty Star. */
treechildren::-moz-tree-image(flaggedCol) {
  -moz-image-region: rect(0px 16px 16px 0px) !important;
}

treechildren::-moz-tree-image(flaggedCol, flagged) {
  -moz-image-region: rect(80px 16px 96px 0px) !important;
}

/* Header names and values between thread tree and message view */

#header-view-toolbox {
  display: none !important;
}

#archive.msgHeaderView-button, #trash.msgHeaderView-button {
  display: none !important;
}

#otherActionsBox {
  display: none !important;
}

/* remove toolbar padding from header frame */
#expandedHeaderRows {
  padding-top: 0px !important;
}

/* remove toolbar padding from header frame */
#dateValueBox {
 display: none !important;
}

#expandedHeaderView {
  font-weight: normal;
  min-height: 64px !important;
  max-height: 256px !important;
  /* overflow: auto ! important; */
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
}

.message-header-label {
  opacity: 100% !important;
  font-weight: bold !important;
}

.message-header-container {
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  padding: 2px !important;
  row-gap: 2px !important;
}

.navigation-bottombox {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-sel-color-5) !important;
}

.navigation-inner-box,
.navigation-spacer-box,
.themeableSearchBox,
#task-addition-box,
#today-pane-panel > *,
#show-completed-checkbox-box,
#calendar-panel,
#findbar-close-container,
#attachmentView,
#CardViewBox,
#FormatToolbar,
#attachmentIcon,
#attachmentCount,
#MsgHeadersToolbar {
  appearance: none !important;
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-radius: 0px;
}

#MsgHeadersToolbar {
  padding-block-start: 7px !important;
  padding-block-end: 7px !important;
}

#dialog\.progress,
#shutdown_progressmeter,
.progressmeter-statusbar {
  appearance: none !important;
  height: 12px !important;
  background-color: var(--nscde-sel-color-5) !important;
  border-radius: 0px;
}

#dialog\.progress::-moz-progress-bar,
#shutdown_progressmeter::-moz-progress-bar,
.progressmeter-statusbar::-moz-progress-bar {
  appearance: none !important;
  background-color: var(--nscde-bs-color-5) !important;
  border-radius: 0px;
}

#dialog\.progress:indeterminate::-moz-progress-bar,
#shutdown_progressmeter:indeterminate::-moz-progress-bar,
.progressmeter-statusbar:indeterminate::-moz-progress-bar {
  background-image: linear-gradient(90deg, transparent 0%,
                                           var(--nscde-bs-color-5) 25%,
                                           transparent 10%,
                                           var(--nscde-ts-color-5) 75%,
                                           transparent 100%) !important;
}

#task-addition-box input {
  color: var(--nscde-fg-color-4) !important;
  background-color: var(--nscde-bg-color-4) !important;
}

#msgHeaderView {
   min-height: 48px !important;
   max-height: 256px !important;
}

.headerName {
  font-size: 98% !important;
  font-weight: normal !important;
  text-align: right !important;
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-bg-color-5) !important;
  margin-top: 3px !important;
  line-height: 1em !important;
}

.headerValue {
  font-size: 98% !important;
  font-weight: bold !important;
  text-align: left;
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-bg-color-5) !important;
  margin-top: 2px !important;
  padding-left: 8px !important;
  line-height: 1em !important;
}

.headerValueUrl,
.headerValueUrl:hover {
  cursor: pointer !important;
  color: -moz-nativehyperlinktext !important;
  line-height: 0.4em !important;
  text-decoration: underline !important;
  margin-top: 2px !important;
  padding-left: 8px !important;
  line-height: 1em !important;
}

/* Addressbook */
#dirTree > treechildren::-moz-tree-row(selected,focus),
#abResultsTree > treechildren::-moz-tree-row(selected,focus) {
  color: var(--nscde-bg-color-5) !important;
  background-color: var(--nscde-fg-color-5) !important;
}

#abcardDialog richlistbox,
#addressingWidget {
  -moz-appearance: none !important;
  background-color: var(--nscde-bg-color-4) !important;
  color: var(--nscde-fg-color-4) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
}

#addressingWidget {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

/* Addressbook info area */
#CardViewInnerBox {
  -moz-appearance: textfield !important;
}

/* Addressbook and Calendar attendees uses this */
.textbox-addressingWidget {
  background-color: var(--nscde-bg-color-4) !important;
  color: var(--nscde-fg-color-4) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

/* Attachment list below message */
#attachmentList {
  margin-left: 4px !important;
  margin-right: 4px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  background-color: var(--nscde-sel-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
}

#attachmentBar {
  margin-left: 4px !important;
  margin-right: 4px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 0px solid var(--nscde-bs-color-5) !important;
}

#attachmentName {
  font-weight: bold !important;
  font-size: 10pt !important;
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

#attachmentName:active {
  font-weight: bold !important;
  font-size: 10pt !important;
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
}

#attachmentBucket .attachmentItem,
#attachmentList .attachmentItem,
.attachmentList[orient="horizontal"] .attachmentItem {
  -moz-appearance: button !important;
  min-width: 10em !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  margin-left: 6px !important;
  margin-right: 0px !important;
  padding: 1px 1px 1px 1px !important;
  border-radius: 0px !important;
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
  font-size: 10pt !important;
}

#attachmentBucket .attachmentItem:active,
#attachmentList .attachmentItem:active,
.attachmentList[orient="horizontal"] .attachmentItem:active {
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
}

#attachmentBucket .attachmentItem {
  margin-left: 6px !important;
} 

#attachmentBucketSize {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-radius: 0px !important;
  font-size: 10px !important;
}

#attachmentSize {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  font-size: 10pt !important;
  font-style: italic !important;
}

#attachmentToggle:not([checked="true"]) > .button-box > .button-icon {
  transform: rotate(90deg) !important;
}
#attachmentToggle {
  list-style-image: url("nsicons/SpacesToolbarReveal.png") !important;
}

#attachmentArea > summary {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

#attachmentSaveAllSingle, #attachmentSaveAllMultiple {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 312px 24px 288px) !important;
}

richlistbox[seltype="multiple"]:focus > richlistitem[current="true"] {
  outline: none !important;
}

/* Folder Properties Dialog and Addressbook new card */
#folderPropertiesDialog tabs,
#abcardDialog tabs {
  border-width: 0 !important;
}

#folderPropertiesDialog tab,
#abcardDialog tab {
  background-color: var(--nscde-bg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
  margin: 2px !important;
}

#folderPropertiesDialog tab[visuallyselected="true"],
#abcardDialog tab[visuallyselected="true"] {
  background-color: var(--nscde-sel-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
  margin: 2px !important;
}

#folderPropertiesDialog input,
#abcardDialog input,
#ablistWindow input {
  border-width: 1px !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
}

/* Disable hardcoded throbber, we have retro one. */
.animated-throbber-icon,
.static-throbber-icon {
  display: none !important;
}

/* This needs to be after toolbarbutton definitions to override 3D borders for statusbar icons. */
#offline-status {
  border-width: 0px !important;
}

.tree-columnpicker-icon {
  background-color: var(--nscde-bg-color-4) !important;
  color: var(--nscde-fg-color-4) !important;
}

/* 100+ */
.spaces-toolbar:not([hidden]) {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

/* 100+ */
.spaces-toolbar-button {
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
  opacity: 100 !important;
}

/* 100+ */
.spaces-toolbar-button.current {
  background-color: var(--nscde-sel-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
}

.tab-icon-image:is([src]) {
  opacity: 0 !important;
}

.tabmail-tab .tab-label-container::before {
  width: 16px !important;
  height: 16px !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  position: absolute !important;
  content: "" !important;
  background-size: 100% !important;
  position: absolute !important;
  top: 6px !important;
  left: 10px !important;
  pointer-events: none !important;
  opacity: 1 !important;
}

#tabmail-tabs .tabmail-tab:first-child .tab-label-container::before {
  background-image: url("nsicons/Message.png") !important;
}

.tabmail-tab[type="folder"] .tab-label-container::before {
  background-image: url("nsicons/Message.png") !important;
}

.tabmail-tab[type="preferencesTab"] .tab-label-container::before {
  background-image: url("nsicons/Prefs.png") !important;
}

.tabmail-tab[type="addressBookTab"] .tab-label-container::before {
  background-image: url("nsicons/addrbook.png") !important;
}

.tabmail-tab[type="calendar"] .tab-label-container::before {
  background-image: url("nsicons/Cal.png") !important;
}

.tabmail-tab[type="tasks"] .tab-label-container::before {
  background-image: url("nsicons/Tsk.png") !important;
}

.tab-close-icon {
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
  fill: var(--nscde-fg-color-5) !important;
}

.tab-close-icon:active {
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
  fill: var(--nscde-fg-color-5) !important;
}

#ContentSelectDropdown .ContentSelectDropdown-item-0:not([_moz-menuactive="true"]) {
  background-color: var(--nscde-bg-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

#ContentSelectDropdown .ContentSelectDropdown-item-0:is([_moz-menuactive="true"]) {
  background-color: var(--nscde-sel-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
  border-top: 1px solid var(--nscde-bs-color-6) !important;
  border-left: 1px solid var(--nscde-bs-color-6) !important;
  border-right: 1px solid var(--nscde-ts-color-6) !important;
  border-bottom: 1px solid var(--nscde-ts-color-6) !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* Calendar Event - Thunderbird 100+ */
.item-attendees-list-container {
  background-color: var(--nscde-bg-color-4) !important;
  color: var(--nscde-fg-color-4) !important;
  border-radius: 0px !important;
}

