/* ::::: primary toolbar buttons ::::: */

#button-getmsg {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 24px 24px 0px) !important;
}

#button-getmsg:hover {
  -moz-image-region: rect(24px 24px 48px 0px) !important;
} 

#button-getmsg[disabled] {
  -moz-image-region: rect(48px 24px 72px 0px) !important;
} 

#button-newmsg {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 48px 24px 24px) !important;
}

#button-newmsg:hover {
  -moz-image-region: rect(24px 48px 48px 24px) !important;
} 

#button-newmsg[disabled] {
  -moz-image-region: rect(48px 48px 72px 24px) !important;
} 

#button-address {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 72px 24px 48px) !important;
}

#button-address:hover {
  -moz-image-region: rect(24px 72px 48px 48px) !important;
} 

#button-address[disabled="true"] {
  -moz-image-region: rect(48px 72px 72px 48px) !important;
} 

#button-reply {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 96px 24px 72px) !important;
}

#button-reply:hover {
  -moz-image-region: rect(24px 96px 48px 72px) !important;
} 

#button-reply[disabled] {
  -moz-image-region: rect(48px 96px 72px 72px) !important;
} 

#button-replyall {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 120px 24px 96px) !important;
}

#button-replyall:hover {
  -moz-image-region: rect(24px 120px 48px 96px) !important;
} 

#button-replyall[disabled] {
  -moz-image-region: rect(48px 120px 72px 96px) !important;
} 

#button-forward {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 144px 24px 120px) !important;
}

#button-forward:hover {
  -moz-image-region: rect(24px 144px 48px 120px) !important;
} 

#button-forward[disabled] {
  -moz-image-region: rect(48px 144px 72px 120px) !important;
}

#button-replylist {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 168px 24px 144px) !important;
}

#button-replylist:hover {
  -moz-image-region: rect(24px 168px 48px 144px) !important;
}

#button-replylist[disabled] {
  -moz-image-region: rect(48px 168px 72px 144px) !important;
}

.delete-button {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 192px 24px 168px);
}

.delete-button:hover {
  -moz-image-region: rect(24px 192px 48px 168px) !important;
} 

.delete-button[disabled] {
  -moz-image-region: rect(48px 192px 72px 168px) !important;
}

#button-compact {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 456px 24px 432px) !important;
}

#button-compact:hover {
  -moz-image-region: rect(24px 456px 48px 432px) !important;
}

#button-compact[disabled] {
  -moz-image-region: rect(48px 456px 72px 432px) !important;
}

.junk-button {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 216px 24px 192px) !important;
}

.junk-button:hover {
  -moz-image-region: rect(24px 216px 48px 192px) !important;
}

.junk-button[disabled="true"] {
  -moz-image-region: rect(48px 216px 72px 192px) !important;
}

#button-print {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 240px 24px 216px) !important;
}

#button-print:hover {
  -moz-image-region: rect(24px 240px 48px 216px) !important;
}

#button-print[disabled] {
  -moz-image-region: rect(48px 240px 72px 216px) !important;
}

#button-stop {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 264px 24px 240px) !important;
}

#button-stop:hover {
  -moz-image-region: rect(24px 264px 48px 240px) !important;
} 

#button-stop[disabled="true"] {
  -moz-image-region: rect(48px 264px 72px 240px) !important;
}

#button-file {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 288px 24px 264px) !important;
}

#button-file:hover,
#button-file[open] {
  -moz-image-region: rect(24px 288px 48px 264px) !important;
} 

#button-file[disabled] {
  -moz-image-region: rect(48px 288px 72px 264px) !important;
} 

#button-next, #button-previous[chromedir="rtl"] {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 312px 24px 288px) !important;
}

#button-next:hover, #button-previous:hover[chromedir="rtl"]{
  -moz-image-region: rect(24px 312px 48px 288px) !important;
} 

#button-next[disabled], #button-previous[chromedir="rtl"][disabled] {
  -moz-image-region: rect(48px 312px 72px 288px) !important;
} 

#button-previous, #button-next[chromedir="rtl"] {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 336px 24px 312px) !important;
}

#button-previous:hover, #button-next:hover[chromedir="rtl"]{
  -moz-image-region: rect(24px 336px 48px 312px) !important;
} 

#button-previous[disabled], #button-next[chromedir="rtl"][disabled] {
  -moz-image-region: rect(48px 336px 72px 312px) !important;
} 

#button-mark {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 360px 24px 336px) !important;
}

#button-mark:hover {
  -moz-image-region: rect(24px 360px 48px 336px) !important;
} 

#button-mark[disabled] {
  -moz-image-region: rect(48px 360px 72px 336px) !important;
} 

#button-tag {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 384px 24px 360px) !important;
}

#button-tag:hover {
  -moz-image-region: rect(24px 384px 48px 360px) !important;
} 

#button-tag[disabled] {
  -moz-image-region: rect(48px 384px 72px 360px) !important;
} 

#button-goback, #button-goforward[chromedir="rtl"] {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 408px 24px 384px) !important;
}

#button-goback:hover, #button-goforward:hover[chromedir="rtl"]{
  -moz-image-region: rect(24px 408px 48px 384px) !important;
} 

#button-goback[disabled], #button-goforward[chromedir="rtl"][disabled] {
  -moz-image-region: rect(48px 408px 72px 384px) !important;
} 

#button-goforward, #button-goback[chromedir="rtl"] {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 432px 24px 408px) !important;
}

#button-goforward:hover, #button-goback:hover[chromedir="rtl"]{
  -moz-image-region: rect(24px 432px 48px 408px) !important;
} 

#button-goforward[disabled], #button-goback[chromedir="rtl"][disabled] {
  -moz-image-region: rect(48px 432px 72px 408px) !important;
}

#button-archive {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 480px 24px 456px) !important;
}

#button-archive:hover {
  -moz-image-region: rect(24px 480px 48px 456px) !important;
}

#button-archive[disabled] {
  -moz-image-region: rect(48px 480px 72px 456px) !important;
}

/* ::::: message notification bar style rules ::::: */

#junkBarImage {
  list-style-image: url("nsicons/junk.png") !important;
}

/*
#junkIcon {
  list-style-image: url("nsicons/folder-junk.png") !important;
}
*/

#remoteContentImage {
  list-style-image: url("nsicons/remote-blocked.png") !important; 
}

#phishingBarImage {
  list-style-image: url("nsicons/phishing.png") !important;
}

/* ::::: throbber ::::: */

#throbber-box:not([busy="true"]) {
  /* list-style-image: url("nsicons/Throbber-large.png") !important; */
  background: url("nsicons/Throbber-large.png") no-repeat center !important;
  padding-right: 4px !important;
  padding-left: 4px !important;
  width: 34px !important;
  height: 34px !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
}

#throbber-box[busy="true"] {
  /* list-style-image: url("nsicons/Throbber-large.gif") !important; */
  background: url("nsicons/Throbber-large.gif") no-repeat center !important;
  padding-right: 4px !important;
  padding-left: 4px !important;
  width: 34px !important;
  height: 34px !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
}

toolbar[mode="full"] #throbber-box {
  margin: 10px !important;
}

toolbar:not([mode="full"]) #throbber-box {
  margin: 5px !important;
}

/* ::::: online/offline icons ::::: */

#offline-status[offline="true"] {
  list-style-image: url("nsicons/Offline-Online.png") !important;
  -moz-image-region:rect(0px 28px 13px 0px) !important;
  padding: 0.2px !important;
}

#offline-status {
  list-style-image: url("nsicons/Offline-Online.png") !important;
  -moz-image-region:rect(0px 56px 13px 28px) !important;
  padding: 0.2px !important;
}

/* ::::: Folder Pane ::::: */

.tabmail-tab[type="folder"] .tab-icon-image {
  list-style-image: url("nsicons/folder.png") !important;
  -moz-image-region: rect(0 16px 16px 0) !important;
}

.tabmail-tab[type="folder"][selected="true"] .tab-icon-image {
  -moz-image-region: rect(0 32px 16px 16px) !important;
}

.tabmail-tab[type="calendar"] {
  list-style-image: url("nsicons/Cal.png") !important;
}

.tabmail-tab[type="tasks"] {
  list-style-image: url("nsicons/Tsk.png") !important;
}

.tabmail-tab[type="accountManager"] {
  list-style-image: url("nsicons/Account.png") !important;
}

.tabmail-tab[type="preferencesTab"] {
  list-style-image: url("nsicons/Prefs.png") !important;
}

.tabmail-tab[type="message"] {
  list-style-image: url("nsicons/Message.png") !important;
}

treechildren::-moz-tree-image(folderNameCol) {
  -moz-margin-end: 2px !important;
  list-style-image: url("nsicons/folder.png") !important;
  -moz-image-region: rect(0 16px 16px 0) !important;
}

treechildren::-moz-tree-image(folderNameCol, selected, open) {
  -moz-image-region: rect(0 32px 16px 16px) !important;
}

treechildren::-moz-tree-row(folderNameCol, selected) {
  border: 1px solid #ffffff !important;
  background-color: #000000 !important;
  color: #ffffff !important;
}

treechildren::-moz-tree-cell-text(selected),
treechildren::-moz-tree-cell-text(selected, focus) {
  color: #ffffff !important;
  background-color: #000000 !important;
}

/* ..... Newsgroup ..... */

.tabmail-tab[type="folder"][ServerType="nntp"] .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, serverType-nntp) {
  -moz-image-region: rect(0 160px 16px 144px) !important;
}

/* ..... Feed ..... */

.tabmail-tab[type="folder"][ServerType="rss"] .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, serverType-rss) {
  list-style-image: url("nsicons/rss-feed.png") !important;
  -moz-image-region: rect(0 16px 16px 0) !important;
}

treechildren::-moz-tree-image(folderNameCol, serverType-rss, newMessages-true) {
  list-style-image: url("nsicons/message.png") !important;
  -moz-image-region: rect(0 96px 16px 80px) !important;
}

/* Resets list-style-image for Feed Trash and Virtual folders */

.tabmail-tab[type="folder"][SpecialFolder="Trash"][ServerType="rss"] .tab-icon-image,
.tabmail-tab[type="folder"][SpecialFolder="Virtual"][ServerType="rss"] .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, serverType-rss, specialFolder-Trash),
treechildren::-moz-tree-image(folderNameCol, serverType-rss, specialFolder-Virtual) {
  list-style-image: url("nsicons/folder.png") !important;
}

/* ..... Inbox ..... */

.tabmail-tab[type="folder"][SpecialFolder="Inbox"] .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox) {
  -moz-image-region: rect(0 48px 16px 32px) !important;
}

/* ..... Sent ..... */

.tabmail-tab[type="folder"][SpecialFolder="Sent"] .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Sent) {
  -moz-image-region: rect(0 64px 16px 48px) !important;
}

/* ..... Unsent ..... */

.tabmail-tab[type="folder"][SpecialFolder="Outbox"] .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Outbox) {
  -moz-image-region: rect(0 80px 16px 64px) !important;
}

/* ..... Drafts ..... */

.tabmail-tab[type="folder"][SpecialFolder="Drafts"] .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Drafts) {
  -moz-image-region: rect(0 96px 16px 80px) !important;
}

/* ..... Templates ..... */

.tabmail-tab[type="folder"][SpecialFolder="Templates"] .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Templates) {
  -moz-image-region: rect(0 112px 16px 96px) !important;
}

/* ..... Junk ..... */

.tabmail-tab[type="folder"][SpecialFolder="Junk"] .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Junk) {
  -moz-image-region: rect(0 128px 16px 112px) !important;
}

/* ..... Trash ..... */

.tabmail-tab[type="folder"][SpecialFolder="Trash"] .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Trash) {
  -moz-image-region: rect(0 144px 16px 128px) !important;
}

/* ..... Archives ..... */

.tabmail-tab[type="folder"][SpecialFolder="Archive"] .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Archive) {
  -moz-image-region: rect(0 208px 16px 192px) !important;
}

/* ..... Shared folders .....

treechildren::-moz-tree-image(folderNameCol, imapShared-true) {
  -moz-image-region: rect(0 192px 16px 176px) !important;
}

*/ 

/* ..... News ..... */
.tabmail-tab[type="folder"][ServerType="nntp"],
treechildren::-moz-tree-image(folderNameCol, serverType-nntp) {
  list-style-image: url("nsicons/news.png") !important;
}

/* ..... Saved Search Folder ..... */

.tabmail-tab[type="folder"][SpecialFolder="Virtual"] .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Virtual) {
  -moz-image-region: rect(0 176px 16px 160px) !important;
}

/* ..... Account nodes ..... */
.tabmail-tab[type="folder"][IsServer="true"] .tab-icon-image {
  list-style-image: url("nsicons/server.png") !important;
  -moz-image-region: rect(0 16px 16px 0) !important;
}

/* ..... Secure IMAP/POP account nodes ..... */
.tabmail-tab[type="folder"][IsServer="true"][ServerType="imap"][IsSecure="true"] .tab-icon-image,
.tabmail-tab[type="folder"][IsServer="true"][ServerType="pop3"][IsSecure="true"] .tab-icon-image {
  -moz-image-region: rect(0 32px 16px 16px) !important;
}

/* ..... Local folders ..... */
.tabmail-tab[type="folder"][IsServer="true"][ServerType="none"] .tab-icon-image {
  -moz-image-region: rect(0 48px 16px 32px) !important;
}

/* ..... News server ..... */
.tabmail-tab[type="folder"][IsServer="true"][ServerType="nntp"] .tab-icon-image {
  -moz-image-region: rect(0 64px 16px 48px) !important;
}

/* ..... Secure news server ..... */
.tabmail-tab[type="folder"][IsServer="true"][ServerType="nntp"][IsSecure="true"] .tab-icon-image {
  -moz-image-region: rect(0 80px 16px 64px) !important;
}

/* .....  Newsgroup .....  */
.tabmail-tab[type="folder"][ServerType="nntp"] .tab-icon-image {
  -moz-image-region: rect(0 160px 16px 144px) !important;
}

treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true),
treechildren::-moz-tree-cell-text(folderNameCol, specialFolder-Inbox, newMessages-true) {
  font-weight: bold !important;
}

/* ..... Mail server  ..... */

treechildren::-moz-tree-image(folderNameCol, isServer-true) {
  list-style-image: url("nsicons/server.png") !important;
  -moz-image-region: rect(0 16px 16px 0) !important;
}

treechildren::-moz-tree-image(folderNameCol, biffState-NewMail, isServer-true) {
  -moz-image-region: rect(16px 16px 32px 0) !important;
}

/* ..... Secure mail server ..... */

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-pop3, isSecure-true),
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-imap, isSecure-true) {
  -moz-image-region: rect(0 32px 16px 16px) !important;
}

treechildren::-moz-tree-image(folderNameCol, biffState-NewMail, isServer-true, isSecure-true) {
  -moz-image-region: rect(16px 32px 32px 16px) !important;
}

/* ..... Local folders ..... */

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-none) {
  -moz-image-region: rect(0 48px 16px 32px) !important;
}

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-none, biffState-NewMail) {
  -moz-image-region: rect(16px 48px 32px 32px) !important;
}

/* ..... News server ..... */

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-nntp) {
  -moz-image-region: rect(0 64px 16px 48px) !important !important;
}

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-nntp, isSecure-true) {
  -moz-image-region: rect(0 80px 16px 64px) !important !important;
}

/* ..... Feed server ..... */

.tabmail-tab[type="folder"][IsServer="true"][ServerType="rss"] .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-rss) {
  list-style-image: url("nsicons/server-rss.png") !important;
  -moz-image-region: rect(0 16px 16px 0) !important;
}

/* ..... subject column ..... */

treechildren::-moz-tree-image(subjectCol) {
  -moz-margin-end: 2px !important;
  list-style-image: url("nsicons/message.png") !important;
  -moz-image-region: rect(0 16px 16px 0) !important;
}

treechildren::-moz-tree-image(subjectCol, dummy) {
  list-style-image: none !important;
}

treechildren::-moz-tree-image(subjectCol, forwarded) {
  -moz-image-region: rect(0 48px 16px 32px) !important;
}

treechildren::-moz-tree-image(subjectCol, replied) {
  -moz-image-region: rect(0 32px 16px 16px) !important;
}

treechildren::-moz-tree-image(subjectCol, replied, forwarded) {
  -moz-image-region: rect(0 64px 16px 48px) !important;
}

treechildren::-moz-tree-image(subjectCol, new) {
  -moz-image-region: rect(0 96px 16px 80px) !important;
}

/* IMPORTANT: make sure the imap-deleted column always comes after the replied/forwarded style rules.
   This ensures that we show that the message is marked as deleted over status information. */

treechildren::-moz-tree-image(subjectCol, imapdeleted) {
  -moz-image-region: rect(0 80px 16px 64px) !important;
}

/* Normalna zvjezdica. */
treechildren::-moz-tree-image(flaggedCol, flagged) {
  list-style-image: url("nsicons/flag.png") !important;
}

/* Vrati plusice i minusice. Jebo gnome sranja. */
treechildren::-moz-tree-twisty {
  -moz-appearance: none !important;
  width: 9px !important; /* The image's width is 9 pixels */
  list-style-image: url("nsicons/tree/twisty-clsd.png") !important;
}

treechildren::-moz-tree-twisty(open) {
  -moz-appearance: none !important;
  width: 9px !important; /* The image's width is 9 pixels */
  list-style-image: url("nsicons/tree/twisty-open.png") !important;
}

button[type="disclosure"] {
  -moz-appearance: none !important;
  list-style-image: url("nsicons/tree/twisty-clsd.png") !important;
}

button[type="disclosure"][open="true"] {
  -moz-appearance: none !important;
  list-style-image: url("nsicons/tree/twisty-open.png") !important;
}

/* ===== messengercompose.css ===========================================
  == Styles for the main Messenger Compose window.
  ======================================================================= */

/* ::::: primary toolbar buttons ::::: */
 
#button-send {
  list-style-image: url("nsicons/compose-toolbar.png") !important;
  -moz-image-region: rect(0px 24px 24px 0px) !important;
}

#button-send:hover {
  -moz-image-region: rect(24px 24px 48px 0px) !important;
} 

#button-send[disabled="true"] {
  -moz-image-region: rect(48px 24px 72px 0px) !important;
} 

#button-contacts {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 72px 24px 48px) !important;
}

#button-contacts:hover {
  -moz-image-region: rect(24px 72px 48px 48px) !important;
} 

#button-contacts[disabled="true"] {
  -moz-image-region: rect(48px 72px 72px 48px) !important;
} 

#spellingButton {
  list-style-image: url("nsicons/compose-toolbar.png") !important;
  -moz-image-region: rect(0px 72px 24px 48px) !important;
}

#spellingButton:hover {
  -moz-image-region: rect(24px 72px 48px 48px) !important;
}

#spellingButton[disabled="true"] {
  -moz-image-region: rect(48px 72px 72px 48px) !important;
}

#button-attach {
  list-style-image: url("nsicons/compose-toolbar.png") !important;
  -moz-image-region: rect(0px 96px 24px 72px) !important;
}

#button-attach:hover {
  -moz-image-region: rect(24px 96px 48px 72px) !important;
} 

#button-attach[disabled="true"] {
  -moz-image-region: rect(48px 96px 72px 72px) !important;
} 

#button-save {
  list-style-image: url("nsicons/compose-toolbar.png") !important;
  -moz-image-region: rect(0px 144px 24px 120px) !important;
}

#button-save:hover {
  -moz-image-region: rect(24px 144px 48px 120px) !important;
} 

#button-save[disabled="true"] {
  -moz-image-region: rect(48px 144px 72px 120px) !important;
} 

#quoteButton {
  list-style-image: url("nsicons/compose-toolbar.png") !important;
  -moz-image-region: rect(0px 168px 24px 144px) !important;
}

#quoteButton:hover {
  -moz-image-region: rect(24px 168px 48px 144px) !important;
}

#quoteButton[disabled="true"] {
  -moz-image-region: rect(48px 168px 72px 144px) !important;
}

#cut-button {
  list-style-image: url("nsicons/compose-toolbar.png") !important;
  -moz-image-region: rect(0px 192px 24px 168px) !important;
}

#cut-button:hover {
  -moz-image-region: rect(24px 192px 48px 168px) !important;
}

#cut-button[disabled="true"] {
  -moz-image-region: rect(48px 192px 72px 168px) !important;
}

#copy-button {
  list-style-image: url("nsicons/compose-toolbar.png") !important;
  -moz-image-region: rect(0px 216px 24px 192px) !important;
}

#copy-button:hover {
  -moz-image-region: rect(24px 216px 48px 192px) !important;
}

#copy-button[disabled="true"] {
  -moz-image-region: rect(48px 216px 72px 192px) !important;
}

#paste-button {
  list-style-image: url("nsicons/compose-toolbar.png") !important;
  -moz-image-region: rect(0px 240px 24px 216px) !important;
}

#paste-button:hover {
  -moz-image-region: rect(24px 240px 48px 216px) !important;
}

#paste-button[disabled="true"] {
  -moz-image-region: rect(48px 240px 72px 216px) !important;
}

/* ::::: attachment reminder ::::: */

#attachmentNotificationBox > notification .messageImage {
  width: 24px !important;
  height: 24px !important;
  background-image: url("nsicons/compose-toolbar.png") !important;
  background-position: -72px top !important;
}

.person-icon {
  margin: 0 3px;
  list-style-image: url("nsicons/abcard.png") !important;
}

/* ::::: format toolbar ::::: */
#FormatToolbar > toolbarbutton:not(#removeStylingButton, #AbsoluteFontSizeButton) {
  list-style-image: url("nsicons/format-buttons.png") !important;
}

/* New format menu option. */
#AbsoluteFontSizeButton, #AbsoluteFontSizeButton:active, #AbsoluteFontSizeButton[disabled="true"] {
   list-style-image: url("nsicons/setfont.png") !important;
}

/* New format menu option. */
#removeStylingButton, #removeStylingButton:active,#removeStylingButton[disabled="true"] {
  list-style-image: url("nsicons/remove-styling.png") !important;
}

#DecreaseFontSizeButton {
  -moz-image-region: rect(0px 16px 16px 0px);
}
#DecreaseFontSizeButton[disabled="true"] {
  -moz-image-region: rect(32px 16px 48px 0px) !important;
}

#IncreaseFontSizeButton {
  -moz-image-region: rect(0px 32px 16px 16px);
}
#IncreaseFontSizeButton[disabled="true"] {
  -moz-image-region: rect(32px 32px 48px 16px) !important;
}

#boldButton {
  -moz-image-region: rect(0px 48px 16px 32px);
}
#boldButton[disabled="true"] {
  -moz-image-region: rect(32px 48px 48px 32px) !important;
}

#italicButton {
  -moz-image-region: rect(0px 64px 16px 48px);
}
#italicButton[disabled="true"] {
  -moz-image-region: rect(32px 64px 48px 48px) !important;
}

#underlineButton {
  -moz-image-region: rect(0px 80px 16px 64px);
}
#underlineButton[disabled="true"] {
  -moz-image-region: rect(32px 80px 48px 64px) !important;
}

#ulButton {
  -moz-image-region: rect(0px 96px 16px 80px);
}
#ulButton[disabled="true"] {
  -moz-image-region: rect(32px 96px 48px 80px) !important;
}

#olButton {
  -moz-image-region: rect(0px 112px 16px 96px);
}
#olButton[disabled="true"] {
  -moz-image-region: rect(32px 112px 48px 96px) !important;
}

#outdentButton {
  -moz-image-region: rect(0px 128px 16px 112px);
}
#outdentButton[disabled="true"] {
  -moz-image-region: rect(32px 128px 48px 112px) !important;
}

#indentButton {
  -moz-image-region: rect(0px 144px 16px 128px);
}
#indentButton[disabled="true"] {
  -moz-image-region: rect(32px 144px 48px 128px) !important;
}

#AlignPopupButton {
  -moz-image-region: rect(0px 176px 16px 160px);
}
#AlignPopupButton[disabled="true"] {
  -moz-image-region: rect(32px 176px 48px 160px) !important;
}

#InsertPopupButton {
  -moz-image-region: rect(0px 256px 16px 240px);
}
#InsertPopupButton[disabled="true"] {
  -moz-image-region: rect(32px 256px 48px 240px) !important;
}

#smileButtonMenu {
  -moz-image-region: rect(0px 304px 16px 288px);
}
#smileButtonMenu[disabled="true"] {
  -moz-image-region: rect(32px 304px 48px 288px) !important;
}

/* ..... align menu ..... */

#AlignPopup > menuitem {
  list-style-image: url("nsicons/format-buttons.png") !important;
}

#AlignLeftItem {
  -moz-image-region: rect(0px 160px 16px 144px) !important;
}

#AlignCenterItem {
  -moz-image-region: rect(0px 176px 16px 160px) !important;
}

#AlignRightItem {
  -moz-image-region: rect(0px 192px 16px 176px) !important;
}

#AlignJustifyItem {
  -moz-image-region: rect(0px 208px 16px 192px) !important;
}

/* ..... insert menu ..... */

#InsertPopup > menuitem {
  list-style-image: url("nsicons/format-buttons.png") !important;
}

#InsertLinkItem {
  -moz-image-region: rect(0px 224px 16px 208px) !important;
}

#InsertAnchorItem {
  -moz-image-region: rect(0px 240px 16px 224px) !important;
}

#InsertImageItem {
  -moz-image-region: rect(0px 256px 16px 240px) !important;
}

#InsertHRuleItem {
  -moz-image-region: rect(0px 272px 16px 256px) !important;
}

#InsertTableItem {
  -moz-image-region: rect(0px 288px 16px 272px) !important;
}

/* ..... smiley menu ..... */

#smileySmile > .menu-iconic-left {
  list-style-image: url("nsicons/smileys/smiley-smile.png") !important;
  -moz-image-region: auto !important; /* cut off inheritance */
}

#smileyFrown > .menu-iconic-left {
  list-style-image: url("nsicons/smileys/smiley-frown.png") !important; 
  -moz-image-region: auto !important; /* cut off inheritance */
}

#smileyWink > .menu-iconic-left {
  list-style-image: url("nsicons/smileys/smiley-wink.png") !important;
  -moz-image-region: auto !important; /* cut off inheritance */
}

#smileyTongue > .menu-iconic-left {
  list-style-image: url("nsicons/smileys/smiley-tongue-out.png") !important;
  -moz-image-region: auto !important; /* cut off inheritance */
}

#smileyLaughing > .menu-iconic-left {
  list-style-image: url("nsicons/smileys/smiley-laughing.png") !important; 
  -moz-image-region: auto !important; /* cut off inheritance */
}

#smileyEmbarassed > .menu-iconic-left {
  list-style-image: url("nsicons/smileys/smiley-embarassed.png") !important;
  -moz-image-region: auto !important; /* cut off inheritance */
}

#smileyUndecided > .menu-iconic-left {
  list-style-image: url("nsicons/smileys/smiley-undecided.png") !important; 
  -moz-image-region: auto !important; /* cut off inheritance */
}

#smileySurprise > .menu-iconic-left {
  list-style-image: url("nsicons/smileys/smiley-surprised.png") !important; 
  -moz-image-region: auto !important; /* cut off inheritance */
}

#smileyKiss > .menu-iconic-left {
  list-style-image: url("nsicons/smileys/smiley-kiss.png") !important; 
  -moz-image-region: auto !important; /* cut off inheritance */
}

#smileyYell > .menu-iconic-left {
  list-style-image: url("nsicons/smileys/smiley-yell.png") !important; 
  -moz-image-region: auto !important; /* cut off inheritance */
}

#smileyCool > .menu-iconic-left {
  list-style-image: url("nsicons/smileys/smiley-cool.png") !important; 
  -moz-image-region: auto !important; /* cut off inheritance */
}

#smileyMoney > .menu-iconic-left {
  list-style-image: url("nsicons/smileys/smiley-money-mouth.png") !important; 
  -moz-image-region: auto !important; /* cut off inheritance */
}

#smileyFoot > .menu-iconic-left {
  list-style-image: url("nsicons/smileys/smiley-foot-in-mouth.png") !important; 
  -moz-image-region: auto !important; /* cut off inheritance */
}

#smileyInnocent > .menu-iconic-left {
  list-style-image: url("nsicons/smileys/smiley-innocent.png") !important; 
  -moz-image-region: auto !important; /* cut off inheritance */
}

#smileyCry > .menu-iconic-left {
  list-style-image: url("nsicons/smileys/smiley-cry.png") !important; 
  -moz-image-region: auto !important; /* cut off inheritance */
}

#smileySealed > .menu-iconic-left {
  list-style-image: url("nsicons/smileys/smiley-sealed.png") !important; 
  -moz-image-region: auto !important; /* cut off inheritance */
}

/* ::::: address book sidebar ::::: */

.ab-closebutton {
  list-style-image: url("nsicons/close.png") !important;
  -moz-image-region: rect(0px 16px 16px 0px) !important;
  -moz-appearance: none !important;
  border: none !important;
  padding: 2px !important;
}

.ab-closebutton:hover {
  -moz-image-region: rect(0px 32px 16px 16px) !important;
}

.ab-closebutton:hover:active {
  -moz-image-region: rect(0px 48px 16px 32px) !important;
}

.ab-closebutton:focus {
  -moz-image-region: rect(0px 48px 16px 32px) !important;
  outline: none !important;
}

.ab-closebutton > .toolbarbutton-icon {
  -moz-margin-end: 0px !important; /* override toolkit's default value */
}

/* ===== addressbook.css ================================================
  == Styles for the main Address Book window.
  ======================================================================= */

/* ::::: primary toolbar buttons ::::: */

#button-newcard {
  list-style-image: url("nsicons/addressbook-toolbar.png") !important;
  -moz-image-region: rect(0px 24px 24px 0px) !important;
}

#button-newcard:hover {
  -moz-image-region: rect(24px 24px 48px 0px) !important;
} 

#button-newcard:hover:active {
  -moz-image-region: rect(24px 24px 48px 0px) !important;
}

#button-newcard[disabled="true"] {
  -moz-image-region: rect(48px 24px 72px 0px) !important;
} 

#button-newlist {
  list-style-image: url("nsicons/addressbook-toolbar.png") !important;
  -moz-image-region: rect(0px 48px 24px 24px) !important;
}

#button-newlist:hover {
  -moz-image-region: rect(24px 48px 48px 24px) !important;
} 

#button-newlist[disabled="true"] {
  -moz-image-region: rect(48px 48px 72px 24px) !important;
} 

#button-editcard {
  list-style-image: url("nsicons/addressbook-toolbar.png") !important;
  -moz-image-region: rect(0px 72px 24px 48px) !important;
}

#button-editcard:hover {
  -moz-image-region: rect(24px 72px 48px 48px) !important;
}

#button-editcard[disabled="true"] {
  -moz-image-region: rect(48px 72px 72px 48px) !important;
}

#button-newmessage {
  list-style-image: url("nsicons/addressbook-toolbar.png") !important;
  -moz-image-region: rect(0px 96px 24px 72px) !important;
}

#button-newmessage:hover {
  -moz-image-region: rect(24px 96px 48px 72px) !important;
} 

#button-newmessage[disabled] {
  -moz-image-region: rect(48px 96px 72px 72px) !important;
}

#button-newim {
 list-style-image: url("nsicons/addressbook-toolbar.png") !important;
 -moz-image-region: rect(0px 120px 24px 96px) !important;
}
 
#button-newim:hover {
  -moz-image-region: rect(24px 120px 48px 96px) !important;
} 
 
#button-newim[disabled] {
  -moz-image-region: rect(48px 120px 72px 96px) !important;
} 

#button-abdelete {
  list-style-image: url("nsicons/addressbook-toolbar.png") !important;
  -moz-image-region: rect(0px 144px 24px 120px) !important;
}

#button-abdelete:hover {
  -moz-image-region: rect(24px 144px 48px 120px) !important;
} 

#button-abdelete[disabled] {
  -moz-image-region: rect(48px 144px 72px 120px) !important;
}

/* ::::: directory pane adjustments ::::: */
/* ::::: directory pane icons ::::: */

treechildren::-moz-tree-image(DirCol) {
  -moz-margin-end: 2px !important;
  list-style-image: url("nsicons/addrbook.png") !important;
}

treechildren::-moz-tree-image(DirCol, IsMailList-true) {
  list-style-image: url("nsicons/ablist.png") !important;
}

treechildren::-moz-tree-image(DirCol, IsRemote-true) {
  list-style-image: url("nsicons/remote-addrbook.png") !important;
}

treechildren::-moz-tree-image(DirCol, IsRemote-true, IsSecure-true) {
  list-style-image: url("nsicons/secure-remote-addrbook.png") !important;
}

treechildren::-moz-tree-image(GeneratedName) {
  -moz-margin-end: 2px !important;
  list-style-image: url("nsicons/abcard.png") !important;
}

treechildren::-moz-tree-image(GeneratedName, MailList) {
  -moz-margin-end: 2px !important;
  list-style-image: url("nsicons/ablist.png") !important;
}

/* Preferences window styles */

radio[pane=paneGeneral] {
  list-style-image: url("nsicons/general.png") !important;
}
radio[pane=paneDisplay] {
  list-style-image: url("nsicons/display.png") !important;
}
radio[pane=paneCompose] {
  list-style-image: url("nsicons/composition.png") !important;
}
radio[pane=paneSecurity] {
  list-style-image: url("nsicons/privacy.png") !important;
}
radio[pane=paneApplications] {
  list-style-image: url("nsicons/attachments.png") !important;
}
radio[pane=paneAdvanced] {
  list-style-image: url("nsicons/advanced.png") !important;
}

/* In-tab close button */
.tab-close-button > .toolbarbutton-icon {
  /* XXX Buttons have padding in widget/ that we don't want here but can't
     override with good CSS, so we must use evil CSS to give the
     impression of smaller content. */
  margin: -3px !important;
}

.tab-close-button {
  -moz-margin-end: 4px !important;
  padding: 0px !important;
  border: none !important;
  list-style-image: url("nsicons/close.png") !important;
  -moz-image-region: rect(0px 16px 16px 0px) !important;
}

.tab-close-button:hover {
  -moz-image-region: rect(0px 32px 16px 16px) !important;
}

.tab-close-button:hover:active {
  -moz-image-region: rect(0px 48px 16px 32px) !important;
}

.tab-close-button:focus {
  -moz-image-region: rect(0px 48px 16px 32px) !important;
  outline: none !important;
}

/* Toolbar closebutton. */
.tabs-closebutton {
  -moz-margin-end: 4px !important;
  padding: 0px !important;
  border: none !important;
  list-style-image: url("nsicons/close.png") !important;
  -moz-image-region: rect(0px 16px 16px 0px) !important;
}

.tabs-closebutton:hover {
  -moz-image-region: rect(0px 32px 16px 16px) !important;
}

.tabs-closebutton:hover:active {
  -moz-image-region: rect(0px 48px 16px 32px) !important;
}

.tabs-closebutton:focus {
  -moz-image-region: rect(0px 48px 16px 32px) !important;
  outline: none !important;
}

/*
 * Disable fucking gnome Stock Icon Styles
 */

button[icon="accept"] .button-icon {
  list-style-image: none !important;
}

button[icon="accept"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="cancel"] .button-icon {
  list-style-image: none !important;
}

button[icon="cancel"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="help"] .button-icon {
  list-style-image: none !important;
}

button[icon="help"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="open"] .button-icon {
  list-style-image: none !important;
}

button[icon="open"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="save"] .button-icon {
  list-style-image: none !important;
}

button[icon="save"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="find"] .button-icon {
  list-style-image: none !important;
}

button[icon="find"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="clear"] .button-icon {
  list-style-image: none !important;
}

button[icon="clear"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="yes"] .button-icon {
  list-style-image: none !important;
}

button[icon="yes"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="no"] .button-icon {
  list-style-image: none !important;
}

button[icon="no"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="apply"] .button-icon {
  list-style-image: none !important;
}

button[icon="apply"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="close"] .button-icon {
  list-style-image: none !important;
}

button[icon="close"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="print"] .button-icon {
  list-style-image: none !important;
}

button[icon="print"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="add"] .button-icon {
  list-style-image: none !important;
}

button[icon="add"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="remove"] .button-icon {
  list-style-image: none !important;
}

button[icon="remove"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="refresh"] .button-icon {
  list-style-image: none !important;
}

button[icon="refresh"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="revert"] .button-icon {
  list-style-image: none !important;
}

button[icon="revert"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="go-forward"] .button-icon {
  list-style-image: none !important;
}

button[icon="go-forward"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="go-forward"]:-moz-locale-dir(rtl) .button-icon {
  list-style-image: none !important;
}

button[icon="go-forward"]:-moz-locale-dir(rtl)[disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="go-back"] .button-icon {
  list-style-image: none !important;
}

button[icon="go-back"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="go-back"]:-moz-locale-dir(rtl) .button-icon {
  list-style-image: none !important;
}

button[icon="go-back"]:-moz-locale-dir(rtl)[disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="properties"] .button-icon {
  list-style-image: none !important;
}

button[icon="properties"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="select-font"] .button-icon {
  list-style-image: none !important;
}

button[icon="select-font"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="select-color"] .button-icon {
  list-style-image: none !important;
}

button[icon="select-color"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

button[icon="network"] .button-icon {
  list-style-image: none !important;
}

button[icon="network"][disabled="true"] .button-icon {
  list-style-image: none !important;
}

/* Open/Save Dialog Icons */

/* up-button */
.up-button {
   list-style-image: url("nsicons/Filepicker.png") !important;
   -moz-image-region: rect(0px, 24px, 24px, 0px) !important;
   max-width: 36px;
}
.up-button:hover {
  list-style-image: url("nsicons/Filepicker.png") !important;
  -moz-image-region: rect(24px, 24px, 48px, 0px) !important;
  max-width: 36px;
}
.up-button:disabled {
  list-style-image: url("nsicons/Filepicker.png") !important;
  -moz-image-region: rect(48px, 24px, 72px, 0px) !important;
  max-width: 36px;
}

/* home-button */
.home-button {
  list-style-image: url("nsicons/Filepicker.png") !important;
  -moz-image-region: rect(0px, 48px, 24px, 24px) !important;
  max-width: 36px;
}
.home-button:hover {
  list-style-image: url("nsicons/Filepicker.png") !important;
  -moz-image-region: rect(24px, 48px, 48px, 24px) !important;
  max-width: 36px;
}
.home-button:disabled {
  list-style-image: url("nsicons/Filepicker.png") !important;
  -moz-image-region: rect(48px, 48px, 72px, 24px) !important;
  max-width: 36px;
}

/* new-dir-button */
.new-dir-button {
  list-style-image: url("nsicons/Filepicker.png") !important;
  -moz-image-region: rect(0px, 72px, 24px, 48px) !important;
  max-width: 36px;
}
.new-dir-button:hover {
  list-style-image: url("nsicons/Filepicker.png") !important;
  -moz-image-region: rect(24px, 72px, 48px, 48px) !important;
  max-width: 36px;
}
.new-dir-button:disabled {
  list-style-image: url("nsicons/Filepicker.png") !important;
  -moz-image-region: rect(48px, 72px, 72px, 48px) !important;
  max-width: 36px;
}

#lightning-button-calendar,
#calendar-tab-button, #newMsgButton-calendar-menuitem {
  list-style-image: url("nsicons/Cal.png") !important;
}

#lightning-button-tasks,
#task-tab-button, #newMsgButton-task-menuitem {
  list-style-image: url("nsicons/Tsk.png") !important;
}

#extractEventButton, #task-newevent-button, #calendar-newevent-button {
  list-style-image: url("nsicons/ExtractCal.png") !important;
}

#extractTaskButton, #task-newtask-button, #calendar-newtask-button {
  list-style-image: url("nsicons/ExtractTsk.png") !important;
}

#calendar-edit-button, #task-edit-button {
  list-style-image: url("nsicons/CalEdit.png") !important;
}

#calendar-delete-button, #task-delete-button {
  list-style-image: url("nsicons/CalDelete.png") !important;
}

#calendar-synchronize-button, #task-synchronize-button {
  list-style-image: url("nsicons/CalSync.png") !important;
}

#calendar-add-task-button {
  list-style-image: url("nsicons/NewTask.png") !important;
}

/* Thunderbird 100+ */
#saveandcloseButton,
#button-saveandclose[mode="send"] {
  list-style-image: url("nsicons/compose-toolbar.png") !important;
  -moz-image-region: rect(0px 24px 24px 0px) !important;
}

#button-attendees {
  list-style-image: url("nsicons/ablist.png") !important;
}

#button-privacy {
  list-style-image: url("nsicons/security.png") !important;
}

#button-url {
  list-style-image: url("nsicons/attachments.png") !important;
}

#button-delete.cal-event-toolbarbutton {
  list-style-image: url("nsicons/CalDelete.png") !important;
  -moz-image-region: auto !important
}

/* Quick Find Bar: Thunderbird 100+ */
#qfb-show-filter-bar {
  list-style-image: url("nsicons/Find-small.png") !important;
}

/*
#qfb-sticky {
  list-style-image: url("nsicons/???.png") !important;
}
*/

.button-more {
    list-style-image: url("nsicons/folder.png") !important;
    -moz-image-region: rect(0 16px 16px 0) !important;
}

#qfb-unread {
  list-style-image: url("nsicons/mail-toolbar-small.png") !important;
  -moz-image-region: rect(0px 192px 16px 176px) !important;
}
#qfb-unread:is(:hover, [open="true"], [selected="true"]) {
  list-style-image: url("nsicons/mail-toolbar-small.png") !important;
  -moz-image-region: rect(16px 192px 32px 176px) !important;
}
#qfb-unread:is([disabled="true"]) {
  list-style-image: url("nsicons/mail-toolbar-small.png") !important;
  -moz-image-region: rect(32px 192px 48px 176px) !important;
}

#qfb-starred {
  list-style-image: url("nsicons/flag.png") !important;
}

#qfb-inaddrbook {
  list-style-image: url("nsicons/mail-toolbar-small.png") !important;
  -moz-image-region: rect(0px 48px 16px 32px) !important;
}
#qfb-inaddrbook:is(:hover, [open="true"], [selected="true"]) {
  list-style-image: url("nsicons/mail-toolbar-small.png") !important;
  -moz-image-region: rect(16px 48px 32px 32px) !important;
}
#qfb-inaddrbook:is([disabled="true"]) {
  list-style-image: url("nsicons/mail-toolbar-small.png") !important;
  -moz-image-region: rect(32px 48px 48px 32px) !important;
}

#qfb-tags {
  list-style-image: url("nsicons/mail-toolbar-small.png") !important;
  -moz-image-region: rect(0px 256px 16px 240px) !important;
}
#qfb-tags:is(:hover, [open="true"], [selected="true"]) {
  list-style-image: url("nsicons/mail-toolbar-small.png") !important;
  -moz-image-region: rect(16px 256px 32px 240px) !important;
}
#qfb-tags:is([disabled="true"]) {
  list-style-image: url("nsicons/mail-toolbar-small.png") !important;
  -moz-image-region: rect(32px 256px 48px 240px) !important;
}

#qfb-attachment {
  list-style-image: url("nsicons/mail-toolbar-small.png") !important;
  -moz-image-region: rect(0px 320px 16px 304px) !important;
}
#qfb-attachment:is(:hover, [open="true"], [selected="true"]) {
  list-style-image: url("nsicons/mail-toolbar-small.png") !important;
  -moz-image-region: rect(16px 320px 32px 304px) !important;
}
#qfb-attachment:is([disabled="true"]) {
  list-style-image: url("nsicons/mail-toolbar-small.png") !important;
  -moz-image-region: rect(32px 320px 48px 304px) !important;
}

/* Spaces Toolbar: Thunderbird 100+ */
#mailButton img {
  content: url("nsicons/Message.png") !important;
} 

#spacesPopupButtonMail {
  list-style-image: url("nsicons/Message.png") !important;
}

#addressBookButton img {
  content: none !important;
  background-image: url("nsicons/mail-toolbar-small.png") !important;
  background-position: top 0px right 48px !important;
}
#spacesPopupButtonAddressBook {
  list-style-image: url("nsicons/mail-toolbar-small.png") !important;
  -moz-image-region: rect(0px 48px 16px 32px) !important;
}
.spaces-popup-menuitem.current > .menu-iconic-left::before {
  content: none !important;
}

#calendarButton img {
  content: url("nsicons/Cal.png") !important;
}
#spacesPopupButtonCalendar {
  list-style-image: url("nsicons/Cal.png") !important;
}

#tasksButton img {
  content: url("nsicons/Tsk.png") !important;
}
#spacesPopupButtonTasks {
  list-style-image: url("nsicons/Tsk.png") !important;
}

#chatButton img {
  content: none !important;
  background-image: url("nsicons/addressbook-toolbar-small.png") !important;
  background-position: top 0px right 80px !important;
}
#spacesPopupButtonChat {
  list-style-image: url("nsicons/addressbook-toolbar-small.png") !important;
  -moz-image-region: rect(0px 80px 16px 64px) !important;
}

#settingsButton img {
  content: url("nsicons/Prefs.png") !important;
}
#spacesPopupButtonSettings {
  list-style-image: url("nsicons/Prefs.png") !important;
}

#collapseButton img {
  content: none !important;
  background-image: url("nsicons/SpacesToolbarCollapse.png") !important;
  background-repeat: no-repeat !important;
}

#spacesToolbarReveal img {
  display: none !important;
}
#spacesPopupButtonReveal {
  content: none !important;
  list-style-image: url("nsicons/SpacesToolbarReveal.png") !important;
}

#spacesToolbarReveal {
  width: 16px !important;
  height: 16px !important;
  background-image: url("nsicons/SpacesToolbarReveal.png") !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  margin-top: 4px !important;
}

#spacesPinnedButton {
  list-style-image: url("nsicons/Prefs.png") !important;
  padding-bottom: 4px !important;
}

/* Today Pane in Mail frame new event icon. Thunderbird 100+ */
#todaypane-new-event-button {
  list-style-image: url("nsicons/NewTask.png") !important;
}

/* END Icons */
