!
! This file is a part of the NsCDE - Not so Common Desktop Environment
! Author: Hegel3DReloaded
! Licence: GPLv3
!

xfig*Background: NSCDE_BG_COLOR_2
xfig*Foreground: NSCDE_FG_COLOR_2
xfig.form.canvas.background: NSCDE_BG_COLOR_4

