!
! This file is a part of the NsCDE - Not so Common Desktop Environment
! Author: Hegel3DReloaded
! Licence: GPLv3
!

xmessage*title: 
xmessage.geometry: 410x84
xmessage*background: NSCDE_BG_COLOR_2
xmessage*foreground: NSCDE_FG_COLOR_2
xmessage*borderColor: NSCDE_FG_COLOR_2
xmessage*ShapeStyle: Rectangle
xmessage.form.message.height: 40
xmessage*message*foreground: NSCDE_FG_COLOR_4
xmessage*message*background: NSCDE_BG_COLOR_4
xmessage*font: -*-lucida-bold-r-normal-*-18-*-*-*-*-*-*
xmessage.Scroll: Never
xmessage*translations: #override \n\
 <Key>Q: exit()
