!
! This file is a part of the NsCDE - Not so Common Desktop Environment
! Author: Hegel3DReloaded
! Licence: GPLv3
!

Xpdf.geometry: 940x842+105+6
Xpdf*matteColor: NSCDE_SEL_COLOR_2
Xpdf*initialZoom: width
Xpdf.win.openDialog_popup.openDialog.background: NSCDE_BG_COLOR_6
