/* Mozilla Thunderbird userChrome.css generated for NsCDE */

:root {
  --toolbarbutton-border-radius: 0px !important;
  --arrowpanel-menuitem-border-radius: 0px !important;
  --arrowpanel-border-radius: 0px !important;
}

:is(menupopup, panel)[type="arrow"] {
    --panel-background: var(--nscde-bg-color-6) !important;
    --panel-color: var(--nscde-fg-color-6) !important;
    --panel-border-color: var(--arrowpanel-border-color) !important;
    --panel-border-radius: var(--arrowpanel-border-radius) !important;
}

/* All clickable buttons - classic 3d look and inset on click */
button {
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-left-color: var(--nscde-ts-color-5) !important;
  border-right-color: var(--nscde-bs-color-5) !important;
  border-top-color: var(--nscde-ts-color-5) !important;
  border-bottom-color: var(--nscde-bs-color-5) !important;
  border-radius: 0px !important;
}

button:-moz-any(:hover:active,[open="true"]):not([disabled="true"]) {
  border-width: 1px !important;
  background-color: var(--nscde-sel-color-5) !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
}

button[default]:not(:focus-visible) {
 outline: 1px solid var(--nscde-bg-color-1) !important;
 outline-offset: 2px !important;
}

#imip-view-toolbar > .toolbarbutton-1.msgHeaderView-button {
  background-image: none !important;
}

/* 9x */
.radio-check[selected] {
  fill: var(--nscde-fg-color-5) !important;
  border-width: 1px !important;
  background-color: var(--nscde-sel-color-5) !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
}

/* 9x */
.radio-check {
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-right-color: var(--nscde-bs-color-5) !important;
  border-left-color: var(--nscde-ts-color-5) !important;
  border-bottom-color: var(--nscde-bs-color-5) !important;
  border-top-color: var(--nscde-ts-color-5) !important;
}

/* 9x */
menupopup {
  -moz-appearance: none !important;
  --panel-border-color: var(--nscde-bg-color-6) !important;
  border-top: 1px solid var(--nscde-ts-color-6) !important;
  border-left: 1px solid var(--nscde-ts-color-6) !important;
  border-right: 1px solid var(--nscde-bs-color-6) !important;
  border-bottom: 1px solid var(--nscde-bs-color-6) !important;
  border-radius: 0px !important;
}

/* 9x */
menupopup > menu, menupopup > menuitem {
  padding-block: 2px !important;
}

.panel-subview-body {
  background-color: var(--nscde-bg-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
  border-top: 1px solid var(--nscde-ts-color-6) !important;
  border-left: 1px solid var(--nscde-ts-color-6) !important;
  border-right: 1px solid var(--nscde-bs-color-6) !important;
  border-bottom: 1px solid var(--nscde-bs-color-6) !important;
}

input {
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-4) !important;
  color: var(--nscde-fg-color-4) !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
  border-radius: 0px !important;
}

input:focus {
 outline: 1px solid var(--nscde-bg-color-1) !important;
 outline-offset: 2px !important;
}

checkbox:not([disabled="true"]),
checkbox:not([disabled="true"]):hover,
checkbox:not([disabled="true"]) > .checkbox-check,
checkbox:not([disabled="true"]):hover > .checkbox-check {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-top-color: var(--nscde-ts-color-5) !important;
  border-left-color: var(--nscde-ts-color-5) !important;
  border-bottom-color: var(--nscde-bs-color-5) !important;
  border-right-color: var(--nscde-bs-color-5) !important;
  border-radius: 0px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

checkbox:not([disabled="true"]) > .checkbox-check:is(:active,[checked="true"]) {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-sel-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-radius: 0px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

checkbox:-moz-focusring .checkbox-check {
  outline: none !important;
}

checkbox:-moz-focusring {
  outline: 1px solid var(--nscde-bg-color-1) !important;
  outline-offset: 2px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

richlistitem button, richlistitem menulist {
  background-image: none !important;
}

richlistbox {
  -moz-appearance: none !important;
  background-color: var(--nscde-bg-color-4) !important;
  color: var(--nscde-fg-color-4) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
}

richlistbox:is(#agenda-listbox) {
  -moz-appearance: none !important;
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
}

richlistitem[is="agenda-header-richlistitem"] checkbox {
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

.searchBox {
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
}

.close-icon {
  border-radius: 0px !important;
}

/* Filter input form normal classic 3D look */
#quick-filter-bar toolbarbutton {
  transition-duration: 0s !important;
  transition-delay: 0s !important;
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-left-color: var(--nscde-ts-color-5) !important;
  border-right-color: var(--nscde-bs-color-5) !important;
  border-top-color: var(--nscde-ts-color-5) !important;
  border-bottom-color: var(--nscde-bs-color-5) !important;
}

#quick-filter-bar toolbarbutton:-moz-any(:hover:active,[checked="true"]):not([disabled="true"]) {
  transition-duration: 0s !important;
  transition-delay: 0s !important;
  border-width: 1px !important;
  background-color: var(--nscde-sel-color-5) !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
}

#qfb-qs-textbox, .gloda-search {
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-4) !important;
  color: var(--nscde-fg-color-4) !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
}

/* Find bar normal 3D look */
findbar toolbarbutton {
  transition-duration: 0s !important;
  transition-delay: 0s !important;
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-left-color: var(--nscde-ts-color-5) !important;
  border-right-color: var(--nscde-bs-color-5) !important;
  border-top-color: var(--nscde-ts-color-5) !important;
  border-bottom-color: var(--nscde-bs-color-5) !important;
}

findbar toolbarbutton:-moz-any(:hover:active,[checked="true"]):not([disabled="true"]) {
  transition-duration: 0s !important;
  transition-delay: 0s !important;
  border-width: 1px !important;
  background-color: var(--nscde-sel-color-5) !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
}

/* Toolbar */
.mail-toolbox,
.mail-toolbox:-moz-lwtheme {
  border-width: 1px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.contentTabToolbox,
.contentTabToolbox:-moz-lwtheme {
  -moz-appearance: none !important;
  margin-top: 2px !important;
  margin-bottom: 4px !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

/* Toolbar buttons */
#messengerWindow .toolbarbutton,
#messengerWindow .toolbarbutton:hover {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-width: 1px !important;
  border-color: transparent !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

#messengerWindow .toolbarbutton-menubutton-dropmarker,
#messengerWindow .toolbarbutton-menubutton-dropmarker:hover {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-width: 1px !important;
  border-color: transparent !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

#messengerWindow .toolbarbutton-menubutton-button,
#messengerWindow .toolbarbutton-menubutton-button:hover {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-width: 1px !important;
  border-color: transparent !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

#messengerWindow toolbarbutton:not(.subviewbutton):not(.toolbarbutton-menubutton-button):not(#offline-status),
#messengerWindow toolbarbutton:not(.subviewbutton):not(.toolbarbutton-menubutton-button):not(#offline-status):hover {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

#messengerWindow toolbarbutton:-moz-any(:hover:active,[open="true"]):not([disabled="true"]):not(.subviewbutton):not(#offline-status),
#messengerWindow .toolbarbutton-menubutton-button:-moz-any(:hover:active,[open="true"]):not([disabled="true"]) {
  background-color: var(--nscde-sel-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
}

#messengerWindow .toolbarbutton-menubutton-dropmarker:-moz-any(:hover:active,[open="true"]):not([disabled="true"]) {
  background-color: var(--nscde-sel-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
}

#messengerWindow .toolbarbutton-1 .toolbarbutton-text {
  font-size: 94% !important;
}

#messengerWindow .toolbarbutton-menubutton-button .toolbarbutton-text {
  font-size: 90% !important;
}

#messengerWindow .toolbarbutton-1 .toolbarbutton-icon {
  margin-top: 3px;
}

toolbarbutton:not(.subviewbutton) {
  background-color: var(--nscde-bg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

toolbarbutton:-moz-any(:active,[checked="true"],:hover:active,[open="true"]):not([disabled="true"]):not(.subviewbutton) {
  background-color: var(--nscde-sel-color-5) !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
}

.subviewbutton,
.subviewbutton:hover {
  background-color: var(--nscde-bg-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
  padding: 2px !important;
}

.subviewbutton:is(:active,[checked="true"],:hover:active,[open="true"]):not([disabled="true"]) {
  background-color: var(--nscde-sel-color-6) !important;
  border-top: 1px solid var(--nscde-bs-color-6) !important;
  border-left: 1px solid var(--nscde-bs-color-6) !important;
  border-right: 1px solid var(--nscde-ts-color-6) !important;
  border-bottom: 1px solid var(--nscde-ts-color-6) !important;
}

/* Message compose window */
#ab-toolbox toolbarbutton,
#msgcomposeWindow toolbarbutton {
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-6) !important;
  border-left-color: var(--nscde-ts-color-6) !important;
  border-right-color: var(--nscde-bs-color-6) !important;
  border-top-color: var(--nscde-ts-color-6) !important;
  border-bottom-color: var(--nscde-bs-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
}

#ab-toolbox toolbarbutton:not([disabled="true"]):active,
#msgcomposeWindow toolbarbutton:not([disabled="true"]):active {
  border-width: 1px !important;
  background-color: var(--nscde-sel-color-6) !important;
  border-right-color: var(--nscde-ts-color-6) !important;
  border-left-color: var(--nscde-bs-color-6) !important;
  border-bottom-color: var(--nscde-ts-color-6) !important;
  border-top-color: var(--nscde-bs-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
}

#msgcomposeWindow .toolbarbutton-1 .toolbarbutton-menubutton-button:not([disabled="true"]),
#msgcomposeWindow .toolbarbutton-1 .toolbarbutton-menubutton-dropmarker:not([disabled="true"]) {
  border-width: 0px !important;
  background-color: var(--nscde-bg-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
  margin: 3px !important;
}

#msgcomposeWindow .toolbarbutton-1 .toolbarbutton-menubutton-button:-moz-any(:hover:active,[open="true"]):not([disabled="true"]),
#msgcomposeWindow .toolbarbutton-1 .toolbarbutton-menubutton-dropmarker:-moz-any(:hover:active,[open="true"]):not([disabled="true"]) {
  border-width: 0px !important;
  background-color: var(--nscde-sel-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
  border-top: 1px solid var(--nscde-bs-color-6) !important;
  border-left: 1px solid var(--nscde-bs-color-6) !important;
  border-right: 1px solid var(--nscde-ts-color-6) !important;
  border-bottom: 1px solid var(--nscde-ts-color-6) !important;
  margin: 2px !important;
}

#msgcomposeWindow .input-container {
  background-color: var(--nscde-bg-color-4) !important;
  color: var(--nscde-fg-color-4) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
}

#msgcomposeWindow .address-container > .address-input {
  border-width: 1px !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
  padding-block: 0px !important;
}

#msgcomposeWindow .address-container > .address-input:focus {
  outline: 1px solid var(--nscde-bg-color-1) !important;
  outline-offset: 4px !important;
}

#msgSubject {
  border-width: 0px !important;
}

/* Popup menus cs 6 in CDE when ncolors == 8 */
menulist:not(#openHandler) {
  -moz-appearance: none !important;
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-6) !important;
  border-left-color: var(--nscde-ts-color-6) !important;
  border-right-color: var(--nscde-bs-color-6) !important;
  border-top-color: var(--nscde-ts-color-6) !important;
  border-bottom-color: var(--nscde-bs-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
  border-radius: 0px !important;
}

.toolbarbutton-1 {
  border-radius: 0px !important;
}

menulist[open="true"]:not(#openHandler) {
  -moz-appearance: none !important;
  border-width: 1px !important;
  background-color: var(--nscde-sel-color-6) !important;
  border-left-color: var(--nscde-bs-color-6) !important;
  border-right-color: var(--nscde-ts-color-6) !important;
  border-top-color: var(--nscde-bs-color-6) !important;
  border-bottom-color: var(--nscde-ts-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
}

menuseparator {
  -moz-appearance: none !important;
  border-top: 1px solid var(--nscde-bs-color-6) !important;
  border-bottom: 1px solid var(--nscde-ts-color-6) !important;
}

/* Thick splitter */
splitter {
  -moz-appearance: none !important;
  border-width: 2px !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-left-color: var(--nscde-ts-color-5) !important;
  border-right-color: var(--nscde-bs-color-5) !important;
  border-top-color: var(--nscde-ts-color-5) !important;
  border-bottom-color: var(--nscde-bs-color-5) !important;
}

#dirTree-splitter,
#folderpane_splitter {
  width: 6px !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

#results-splitter,
#threadpane-splitter,
#attachment-splitter {
  margin-top: 2px !important;
  height: 6px !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 0px solid var(--nscde-ts-color-5) !important;
  border-right: 0px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

/* Normal status bar */
.statusbarpanel, .statusbar {
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 0px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

/* Start page of the account in more conservative outfit */
#accountCentral {
  background-color: var(--nscde-bg-color-5) !important;
  background-image: none !important;
  color: var(--nscde-fg-color-5) !important;
}

.btn-link.btn-inline,
.btn-link,
.resource-link,
.btn-hub.btn-inline {
  transition: none !important;
  box-shadow: none !important;
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
  border-radius: 0px !important;
  cursor: default !important;
}

.resource-link,
.btn-link,
.btn-link.btn-inline {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.btn-hub:hover::before,
.btn-hub:not([disabled="true"]):hover,
.btn-hub:focus:not(:hover),
.btn-hub::before,
.btn-link,
.section-title {
  color: var(--nscde-fg-color-5) !important;
  cursor: default !important;
}

#accountLogo {
  color: var(--nscde-fg-color-5) !important;
}

/* Tree widget */
treechildren
{
  font-size: 102% !important;
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-sel-color-5) !important;
}

treechildren::-moz-tree-row(odd) {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-sel-color-5) !important;
}

treechildren::-moz-tree-row(even) {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-sel-color-5) !important;
}

/* Calendar */
#calendar-list-inner-pane > #calendar-list {
  -moz-appearance: none !important;
  margin: 1 !important;
  border-style: none !important;
  background-color: var(--nscde-sel-color-5) !important;
  color: #ffffff !important;
}

#calendarContent radio.calview:not([selected="true"]) {
  color: var(--nscde-fg-color-5) !important;
  background-image: none !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

#calendarContent radio.calview:not([selected="true"]) {
  background-color: var(--nscde-bg-color-5) !important;
}

#calendarContent radio.calview[selected="true"] {
  background-color: var(--nscde-sel-color-5) !important;
}

#calendarContent .monthtable calendar-day-label,
#calendarContent calendar-day-label {
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  background-image: none !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

#calMinimonthBox * {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

#calMinimonthBox .minimonth-nav-btns *:not([selected="true"]),
#calMinimonthBox .minimonth-cal-box *:not([selected="true"]) {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

#calMinimonthBox .minimonth-nav-btns *[selected="true"],
#calMinimonthBox .minimonth-cal-box *[selected="true"] {
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
}

.calendar-list-create {
  padding: 2px !important;
  margin: 2px !important;
}

.calendar-list-create:is(:hover:active,[open="true"]):not([disabled="true"]) {
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
}

.calendar-list-header {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

#calendar-task-dialog toolbarbutton,
#calendar-event-dialog toolbarbutton {
  background-color: var(--nscde-bg-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
  border-top: 1px solid var(--nscde-ts-color-6) !important;
  border-left: 1px solid var(--nscde-ts-color-6) !important;
  border-right: 1px solid var(--nscde-bs-color-6) !important;
  border-bottom: 1px solid var(--nscde-bs-color-6) !important;
}

#calendar-task-dialog toolbarbutton:is(:hover:active,[open="true"]):not([disabled="true"]),
#calendar-event-dialog toolbarbutton:is(:hover:active,[open="true"]):not([disabled="true"]) {
  background-color: var(--nscde-sel-color-6) !important;
  color: var(--nscde-fg-color-6) !important;
  border-top: 1px solid var(--nscde-bs-color-6) !important;
  border-left: 1px solid var(--nscde-bs-color-6) !important;
  border-right: 1px solid var(--nscde-ts-color-6) !important;
  border-bottom: 1px solid var(--nscde-ts-color-6) !important;
}

/* Tabs */
#tabbar-toolbar,
.tabmail-tab {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 0px solid var(--nscde-ts-color-5) !important;
  border-bottom: 0px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-width: 1px 1px 0px 0px !important;
}

.tabmail-tab[selected=true] {
  font-weight: bold !important;
}

#tabs-toolbar .tabmail-tab:hover > .tab-stack > .tab-background:not([selected=true]) {
  background-color: transparent !important;
}

.tabmail-tab:hover > .tab-stack > .tab-background:not([selected=true]) {
   background-image: none !important;
}

.tabmail-tab .tab-line,
.tabmail-tab .tab-line:hover {
  background-color: transparent !important;
}

.tab-background[selected=true] { 
   border-top-color: var(--nscde-ts-color-5) !important;
}

.tab-line[selected=true] {
  background-color: transparent !important;
}

#tabmail-arrowscrollbox {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

/* Thread pane index row */
treecol, .treecol-image {
  -moz-appearance: none !important;
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-bg-color-5) !important;
  font-weight: bold !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
  padding: 2px !important;
}

/* Folder and mail thread drawings visible */

#folderTree > treechildren::-moz-tree-line {
  visibility: visible !important;
}

#threadTree > treechildren::-moz-tree-row(odd) {
  color: var(--nscde-fg-color-5) !important;
  background-color: var(--nscde-sel-color-5) !important;
}

#threadTree > treechildren::-moz-tree-row(even) {
  color: var(--nscde-fg-color-5) !important;
  background-color: color-mix(in srgb, currentColor 4%, transparent) !important;
}

#threadTree > treechildren::-moz-tree-row(odd, selected) {
  color: var(--nscde-bg-color-5) !important;
  background-color: var(--nscde-fg-color-5) !important;
}

#threadTree > treechildren::-moz-tree-row(even, selected) {
  color: var(--nscde-bg-color-5) !important;
  background-color: var(--nscde-fg-color-5) !important;
}

#threadTree > treechildren::-moz-tree-line {
  visibility: visible !important;
}

treechildren::-moz-tree-cell-text(unread) {
  font-weight: bold !important;
  color: var(--nscde-fg-color-5) !important;
  font-size: 102% !important;
}

treechildren::-moz-tree-cell-text(read) {
  font-size: 102% !important;
  color: color-mix(in srgb, currentColor 82%, transparent) !important;
}

treechildren::-moz-tree-cell-text(unread,selected,even) {
  font-weight: bold !important;
  color: var(--nscde-bg-color-5) !important;
}

treechildren::-moz-tree-cell-text(unread,selected,odd) {
  font-weight: bold !important;
  color: var(--nscde-bg-color-5) !important;
}

treechildren::-moz-tree-cell-text(read,selected,even) {
  color: var(--nscde-bg-color-5) !important;
}

treechildren::-moz-tree-cell-text(read,selected,odd) {
  color: var(--nscde-bg-color-5) !important;
}

treechildren::-moz-tree-cell-text(folderNameCol, isServer-false) {
  color: -moz-DialogText !important;
  background-color: -moz-Dialog !important;
}

treechildren::-moz-tree-cell-text(folderNameCol, isServer-true) {
  font-weight: bold !important;
  font-size: 125% !important;
  text-decoration: underline !important;
}

treechildren::-moz-tree-cell-text(folderNameCol,even) {
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

treechildren::-moz-tree-cell-text(folderNameCol,odd) {
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

treechildren::-moz-tree-cell-text(folderNameCol, selected) {
  color: HighlightText !important;
  background-color: Highlight !important;
}

treechildren::-moz-tree-cell-text(folderNameCol, hasUnreadMessages-true, even) {
  font-weight: bold !important;
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

treechildren::-moz-tree-cell-text(folderNameCol, hasUnreadMessages-true, odd) {
  font-weight: bold !important;
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

treechildren::-moz-tree-cell-text(folderNameCol, hasUnreadMessages-true, selected) {
  font-weight: bold !important;
  color: HighlightText !important;
  background-color: Highlight !important;
}

/* Use Dot for Unstarred Messages instead of the Empty Star. */
treechildren::-moz-tree-image(flaggedCol) {
  -moz-image-region: rect(0px 16px 16px 0px) !important;
}

treechildren::-moz-tree-image(flaggedCol, flagged) {
  -moz-image-region: rect(80px 16px 96px 0px) !important;
}

/* Header names and values between thread tree and message view */

#header-view-toolbox {
  display: none !important;
}

#archive.msgHeaderView-button, #trash.msgHeaderView-button {
  display: none !important;
}

#otherActionsBox {
  display: none !important;
}

/* remove toolbar padding from header frame */
#expandedHeaderRows {
  padding-top: 0px !important;
}

/* remove toolbar padding from header frame */
#dateValueBox {
 display: none !important;
}

#expandedHeaderView {
  font-weight: normal;
  min-height: 64px !important;
  max-height: 256px !important;
  /* overflow: auto ! important; */
  background-color: Window !important;
  color: WindowText !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
}

#msgHeaderView {
   min-height: 48px !important;
   max-height: 256px !important;
}

.headerName {
  font-size: 98% !important;
  font-weight: normal !important;
  text-align: right !important;
  color: WindowText !important;
  background-color: Window !important;
  margin-top: 3px !important;
}

.headerValue {
  font-size: 98% !important;
  font-weight: bold !important;
  text-align: left;
  color: WindowText !important;
  background-color: Window !important;
  margin-top: 2px !important;
  padding-left: 8px !important;
}

.headerValueUrl {
  cursor: pointer !important;
  color: -moz-nativehyperlinktext !important;
  line-height: 0.4em !important;
  text-decoration: underline !important;
  margin-top: 2px !important;
  padding-left: 8px !important;
}

.headerValueUrl:hover {
  color: -moz-nativehyperlinktext !important;
  line-height: 0.4em !important;
}

/* Addressbook */
#dirTree > treechildren::-moz-tree-row(selected,focus),
#abResultsTree > treechildren::-moz-tree-row(selected,focus) {
  color: var(--nscde-bg-color-5) !important;
  background-color: var(--nscde-fg-color-5) !important;
}

#abcardDialog richlistbox,
#addressingWidget {
  -moz-appearance: none !important;
  background-color: var(--nscde-bg-color-4) !important;
  color: var(--nscde-fg-color-4) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
}

#addressingWidget {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
}

/* Addressbook info area */
#CardViewInnerBox {
  -moz-appearance: textfield !important;
}

/* Addressbook and Calendar attendees uses this */
.textbox-addressingWidget {
  background-color: var(--nscde-bg-color-4) !important;
  color: var(--nscde-fg-color-4) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
}

/* Attachment list below message */
#attachmentList {
  margin-left: 4px !important;
  margin-right: 4px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  background-color: var(--nscde-sel-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
}

#attachmentBar {
  margin-left: 4px !important;
  margin-right: 4px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  background-color: var(--nscde-bg-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 0px solid var(--nscde-bs-color-5) !important;
}

#attachmentName {
  font-weight: bold !important;
  font-size: 10pt !important;
}

.attachmentList[orient="horizontal"] .attachmentItem {
  -moz-appearance: button !important;
  min-width: 10em !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  margin-left: 6px !important;
  margin-right: 0px !important;
  padding: 1px 1px 1px 1px !important;
  border-radius: 0px !important;
  border-width: 1px !important;
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
  font-size: 12pt !important;
}

.attachmentList[orient="horizontal"] .attachmentItem:active {
  background-color: var(--nscde-sel-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
}

#attachmentBucket .attachmentItem {
  margin-left: 6px !important;
} 

#attachmentBucketSize {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  border-radius: 0px !important;
  font-size: 12px !important;
}

#attachmentSize {
  background-color: var(--nscde-bg-color-5) !important;
  color: var(--nscde-fg-color-5) !important;
  font-size: 10pt !important;
  font-style: italic !important;
}

richlistbox[seltype="multiple"]:focus > richlistitem[current="true"] {
  outline: none !important;
}

/* Folder Properties Dialog and Addressbook new card */
#folderPropertiesDialog tabs,
#abcardDialog tabs {
  border-width: 0 !important;
}

#folderPropertiesDialog tab,
#abcardDialog tab {
  background-color: var(--nscde-bg-color-5) !important;
  border-top: 1px solid var(--nscde-ts-color-5) !important;
  border-left: 1px solid var(--nscde-ts-color-5) !important;
  border-right: 1px solid var(--nscde-bs-color-5) !important;
  border-bottom: 1px solid var(--nscde-bs-color-5) !important;
  margin: 2px !important;
}

#folderPropertiesDialog tab[visuallyselected="true"],
#abcardDialog tab[visuallyselected="true"] {
  background-color: var(--nscde-sel-color-5) !important;
  border-left: 1px solid var(--nscde-bs-color-5) !important;
  border-top: 1px solid var(--nscde-bs-color-5) !important;
  border-right: 1px solid var(--nscde-ts-color-5) !important;
  border-bottom: 1px solid var(--nscde-ts-color-5) !important;
  margin: 2px !important;
}

#folderPropertiesDialog input,
#abcardDialog input,
#ablistWindow input {
  border-width: 1px !important;
  border-right-color: var(--nscde-ts-color-5) !important;
  border-left-color: var(--nscde-bs-color-5) !important;
  border-bottom-color: var(--nscde-ts-color-5) !important;
  border-top-color: var(--nscde-bs-color-5) !important;
}

/* Disable hardcoded throbber, we have retro one. */
.animated-throbber-icon,
.static-throbber-icon {
  display: none !important;
}

/* This needs to be after toolbarbutton definitions to override 3D borders for statusbar icons. */
#offline-status {
  border-width: 0px !important;
}

