.moz-txt-sig, .moz-signature {
  font-style: italic !important;
  font-size: 85% !important;
  opacity: 1.0 !important;
}

.moz-txt-sig > a, .moz-signature > a {
  font-style: italic !important;
  font-size: 85% !important;
  opacity: 1.0 !important;
}

body {
  color: var(--nscde-fg-color-4) !important;
  background-color: var(--nscde-bg-color-4) !important;
}

span[_moz_quote="true"]:-moz-lwtheme {
  color: #efefef !important;
  background-color: var(--nscde-bg-color-4) !important;
}

span[_moz_quote="true"] {
  color: #202020 !important;
  background-color: var(--nscde-bg-color-4) !important;
}

