[Desktop Entry]
Encoding=UTF-8
Name=NsCDE With KDE Session Manager
Comment=Not so Common Desktop Environment (K Managed Session)
TryExec=/usr/bin/startkde
Exec=KDEWM=nscde /usr/bin/startkde
Type=XSession
DesktopNames=KDE

[Window Manager]
SessionManaged=true

