[Desktop Entry]
Encoding=UTF-8
Name=NsCDE Session (GNOME)
Comment=Not so Common Desktop Environment (GNOME Session)
TryExec=gnome-session
Exec=gnome-session --session=NsCDE
Type=Application

[Window Manager]
SessionManaged=true
