body {
   background-color: #fff7e9;
   color: #000000;
   font-family: "DejaVu Serif", "Liberation Serif", "Times New Roman", Times, serif;
   font-size: 125%;
}

span.emphasis {
   background-color: #fff7e9;
   color: #000000;
   font-family: "DejaVu Serif", "Liberation Serif", "Times New Roman", Times, serif;
   font-style: normal;
   font-size: 90%;
   font-weight: bold;
}

::selection {
  background-color: #000000;
  color: #fff7e9;
}

.figure {
  font-size: 75%;
  font-style: italic;
  font-weight: normal;
}
