/*
 * This file is a part of the NsCDE - Not so Common Desktop Environment
 * Author: Hegel3DReloaded
 * Licence: GPLv3
*/

/* userChrome.css NsCDE include CSS file for firefox - nsicons part */

#home-button {
  list-style-image: url("nsicons/Filepicker.png") !important;
  -moz-image-region: rect(0px, 48px, 24px, 24px) !important;
  max-width: 36px !important;
}

#home-button:hover {
  -moz-image-region: rect(24px, 48px, 48px, 24px) !important;
  max-width: 36px;
}

#home-button:disabled {
  -moz-image-region: rect(48px, 48px, 72px, 24px) !important;
  max-width: 36px;
}

#context-back,
#back-button {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 408px 24px 384px) !important;
}

#context-back:hover,
#back-button:hover {
  -moz-image-region: rect(24px 408px 48px 384px) !important;
}

#context-back[disabled],
#back-button[disabled] {
  -moz-image-region: rect(48px 408px 72px 384px) !important;
}

#context-forward,
#forward-button, #button-goback[chromedir="rtl"] {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 432px 24px 408px) !important;
}

#context-forward:hover,
#forward-button:hover, #button-goback:hover[chromedir="rtl"]{
  -moz-image-region: rect(24px 432px 48px 408px) !important;
}

#context-forward[disabled],
#forward-button[disabled] {
  -moz-image-region: rect(48px 432px 72px 408px) !important;
}

#context-stop,
#stop-button {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 264px 24px 240px) !important;
}

#context-stop:hover,
#stop-button:hover {
  -moz-image-region: rect(24px 264px 48px 240px) !important;
}

#context-stop[disabled="true"],
#stop-button[disabled="true"] {
  -moz-image-region: rect(48px 264px 72px 240px) !important;
}

#context-reload,
#reload-button {
  list-style-image: url("nsicons/Reload.png") !important;
}

#context-reload:hover,
#reload-button:hover {
  list-style-image: url("nsicons/ReloadActive.png") !important;
}

#context-reload[disabled="true"],
#reload-button[disabled] {
  list-style-image: url("nsicons/ReloadDisabled.png") !important;
}

#print-button {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 240px 24px 216px) !important;
}

#print-button:hover {
  -moz-image-region: rect(24px 240px 48px 216px) !important;
}

#print-button[disabled] {
  -moz-image-region: rect(48px 240px 72px 216px) !important;
}

#bookmarks-menu-button {
  list-style-image: url("nsicons/Bookmarks.png") !important;
}

#find-button {
  list-style-image: url("nsicons/Find.png") !important;
}

#history-panelmenu {
  list-style-image: url("nsicons/History.png") !important;
}

#library-button {
  list-style-image: url("nsicons/Library.png") !important;
}

#sidebar-button {
  list-style-image: url("nsicons/Sidebar.png") !important;
}

#panic-button {
  list-style-image: url("nsicons/Panic.png") !important;
}

#save-page-button {
  list-style-image: url("nsicons/folder.png") !important;
  -moz-image-region: rect(16px 16px 32px 0px) !important;
}

#open-file-button {
  list-style-image: url("nsicons/folder.png") !important;
  -moz-image-region: rect(0px 32px 16px 16px) !important;
}

#cut-button {
  list-style-image: url("nsicons/compose-toolbar.png") !important;
  -moz-image-region: rect(0px 192px 24px 168px) !important;
}

#cut-button:hover {
  -moz-image-region: rect(24px 192px 48px 168px) !important;
}

#cut-button[disabled="true"] {
  -moz-image-region: rect(48px 192px 72px 168px) !important;
}

#copy-button {
  list-style-image: url("nsicons/compose-toolbar.png") !important;
  -moz-image-region: rect(0px 216px 24px 192px) !important;
}

#copy-button:hover {
  -moz-image-region: rect(24px 216px 48px 192px) !important;
}

#copy-button[disabled="true"] {
  -moz-image-region: rect(48px 216px 72px 192px) !important;
}

#paste-button {
  list-style-image: url("nsicons/compose-toolbar.png") !important;
  -moz-image-region: rect(0px 240px 24px 216px) !important;
}

#paste-button:hover {
  -moz-image-region: rect(24px 240px 48px 216px) !important;
}

#paste-button[disabled="true"] {
  -moz-image-region: rect(48px 240px 72px 216px) !important;
}

#email-link-button {
  list-style-image: url("nsicons/compose-toolbar.png") !important;
  -moz-image-region: rect(0px 24px 24px 0px) !important;
}

#email-link-button:hover {
  -moz-image-region: rect(24px 24px 48px 0px) !important;
}

#email-link-button[disabled="true"] {
  -moz-image-region: rect(48px 24px 72px 0px) !important;
}

#characterencoding-button {
  list-style-image: url("nsicons/compose-toolbar.png") !important;
  -moz-image-region: rect(0px 72px 24px 48px) !important;
}

#characterencoding-button:hover {
  -moz-image-region: rect(24px 72px 48px 48px) !important;
}

#characterencoding-button[disabled="true"] {
  -moz-image-region: rect(48px 72px 72px 48px) !important;
}

#preferences-button {
 list-style-image: url("nsicons/advanced.png") !important;
}

#new-window-button {
 list-style-image: url("nsicons/application.png") !important;
}

/* Folders in trees */
treechildren::-moz-tree-image(title, container),
treechildren::-moz-tree-image(title, open) {
  list-style-image: url("nsicons/folder.png") !important;
  -moz-image-region: rect(0px 16px 16px 0px) !important;
}

/* calendar icon for folders grouping items by date */
treechildren::-moz-tree-image(title, query, dayContainer) {
  list-style-image: url("nsicons/histfile.png") !important;
  -moz-image-region: rect(0px 16px 16px 0px) !important;
}

treechildren::-moz-tree-image(title, query, tagContainer),
treechildren::-moz-tree-image(query, OrganizerQuery_tags_______v) {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 384px 24px 360px) !important;
}

treechildren::-moz-tree-image(query, OrganizerQuery_downloads__v) {
  list-style-image: url("nsicons/mail-toolbar.png") !important;
  -moz-image-region: rect(0px 312px 24px 288px) !important;
}

/* nsicons on urlbar, menu and context menu. */

.bookmark-item[container] {
   list-style-image: url("nsicons/Bookmarks.png") !important;
}

#context-bookmarkpage,
#pageAction-panel-bookmark,
#star-button {
  list-style-image: url("nsicons/bookmark-hollow.png") !important;
}

#context-bookmarkpage[starred=true],
#pageAction-panel-bookmark[starred],
#star-button[starred] {
  list-style-image: url("nsicons/bookmark.png") !important;
}

/* Statusbar icons */
#sidebar-switcher-bookmarks > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewBookmarksSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  list-style-image: url("nsicons/bookmark.png") !important;
}

#sidebar-switcher-history > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewHistorySidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  list-style-image: url("nsicons/History.png") !important;
}

/*
#sidebar-switcher-tabs > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewTabsSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
 list-style-image: url("nsicons/Tab.png") !important;
}
*/

